In [ ]:
!pip install pymongo[srv]
!pip install dnspython
!pip install --upgrade pymongo[srv]

Collecting pymongo[srv]
  Downloading pymongo-4.7.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (670 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 670.0/670.0 kB 5.5 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo[srv])
  Downloading dnspython-2.6.1-py3-none-any.whl (307 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 307.7/307.7 kB 9.5 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.6.1 pymongo-4.7.2
Requirement already satisfied: dnspython in /usr/local/lib/python3.10/dist-packages (2.6.1)
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.10/dist-packages (4.7.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from pymongo[srv]) (2.6.1)

In [ ]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
uri = "mongodb+srv://kong:2GgNZ7V0V0q5Go9d@botnoivoiceprod.f4igi.mongodb.net/?retryWrites=true&readPreference=secondary&readPreferenceTags=nodeType:ANALYTICS&w=majority&appName=botnoivoiceprod"
# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))
# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [ ]:
paymentdb = client['prod-tts-payment']

In [ ]:
import pandas as pd

In [ ]:
paymentdb.payment.find_one()

{'_id': ObjectId('612e3e206bcbfac605a1c8aa'),
 'user_id': 'U8530610030c64cc1843fd0f95b5f2758',
 'package_id': 150,
 'price': 50,
 'qrcode': '00020101021230820016A0000006770101120115010753600037404021500000220300124303204300012521083121351253037645402505802TH5909LUGENTPAY621207084300012563040936',
 'transactionid': '01075360003740400000220300124343000125210831213512',
 'datetime': '2021-08-31',
 'ref1': 'WI9FIRQJNZGK8Q15Z0M6',
 'status': False}

In [ ]:
paymentdb.message.find_one()

{'_id': ObjectId('612e4174bda79b4dffbfeb84'),
 'user_id': 'U8530610030c64cc1843fd0f95b5f2758',
 'message': 'สวัสดีครับ',
 'datetime': '2021-08-31 21:49:24'}

In [ ]:
df_pay  = pd.DataFrame(paymentdb.payment.find())
df_pay

,_id,user_id,package_id,price,qrcode,transactionid,datetime,ref1,status,point,promotion,actual_time,sale_code_name,package_sub,action,subscription,sub_id
0,612e3e206bcbfac605a1c8aa,U8530610030c64cc1843fd0f95b5f2758,150,50,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012521083121...,2021-08-31,WI9FIRQJNZGK8Q15Z0M6,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,612ee88ce827b44913887b68,U1d068ce57105d8463132691e9c2a4c3e,150,50,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012521090109...,2021-09-01,TJCRE95Q3JB73MXDJ8U3,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,613afeffbd6b51f5666f4dca,U3bdae9df091601f970a61ff8e5d5a72a,150,50,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012521091013...,2021-09-10,CW2AEP6Q2EMW3S45KFSN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,613f26db233bb14db8f57c5e,U10e1ae0a6e2e2102ce01e8b3aca82433,credits,9,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012521091317...,2021-09-13,H93RS1DFP8CWQIFAN2ED,False,18,0,NaN,NaN,NaN,NaN,NaN,NaN
4,613f2949233bb14db8f57c60,U3bdae9df091601f970a61ff8e5d5a72a,credits,1,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012521091317...,2021-09-13,0QEZB1JQBB5EY5W0CRFU,False,3,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
545151,6645b87701186686aa6f4b34,U3e24514ab5db2f646343f88849768321,credit,9,00020101021230720016A0000006770101120115010556...,010556021375502TTSHXHFLRZSJ6QNFCF4KIBNQR,2024-05-16 07:40:39,TTSHXHFLRZSJ6QNFCF4K,True,379,0,2024-05-16 07:40:39.075000,NaN,NaN,NaN,NaN,NaN
545152,6645ba4b9ebd084815a169f7,BH6FT6dgJ9Uu0ZUafBsxF0uDQLz1,pack_750,400,NaN,NaN,2024-05-16 14:48:27,NaN,True,30000,NaN,2024-05-16 14:48:27.132000,,NaN,NaN,Free,NaN
545153,6645bad301186686aa6f4b35,vGzoOndR67YX1wJA3Fsq15H2FuX2,pack_299,199,NaN,NaN,2024-05-16 14:50:43,NaN,True,12500,NaN,2024-05-16 14:50:43.420000,,NaN,NaN,Free,NaN
545154,6645be98220f4ce5cd36e1d1,CO5Mnv48mFdvrG46VgHGWNjJewg1,pack_599,599,NaN,NaN,2024-05-16 15:06:48,NaN,True,42000,NaN,2024-05-16 15:06:48.817000,,NaN,NaN,Free,NaN
545155,6645c5ba01186686aa6f4b42,dlpWz5FKNmeS9SVxHrOPbeAv7843,3,49,,,2024-05-16 15:37:14,,NaN,0,0,2024-05-16 15:37:14.920000,,NaN,add_on,NaN,NaN

In [ ]:
# แปลงคอลัมน์ datetime เป็น string
df_pay['datetime'] = df_pay['datetime'].astype(str)

# แยกวันที่และเวลาออกจากกัน
df_pay['datetime'] = df_pay['datetime'].str.split(' ')

# เก็บเฉพาะวันที่
df_pay['date'] = df_pay['datetime'].str[0]

# เก็บเฉพาะเวลา
df_pay['time'] = df_pay['datetime'].str[1]

# แปลงวันที่เป็นรูปแบบ datetime
df_pay['date'] = pd.to_datetime(df_pay['date'])

# แปลงเวลาเป็นรูปแบบ datetime
df_pay['time'] = pd.to_datetime(df_pay['time'])

# รวมวันที่และเวลาเข้าด้วยกัน
df_pay['datetime'] = pd.to_datetime(df_pay['date'].dt.strftime('%Y-%m-%d') + ' ' + df_pay['time'].dt.strftime('%H:%M:%S'))

# ลบ columns 'date' และ 'time' ที่ไม่จำเป็น
df_pay.drop(columns=['date', 'time'], inplace=True)

<ipython-input-8-027408bf537c>:17: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_pay['time'] = pd.to_datetime(df_pay['time'])

In [ ]:
# แปลงคอลัมน์ datetime เป็น string
df_pay['actual_time'] = df_pay['actual_time'].astype(str)

# แยกวันที่และเวลาออกจากกัน
df_pay['actual_time'] = df_pay['actual_time'].str.split(' ')

# เก็บเฉพาะวันที่
df_pay['date'] = df_pay['actual_time'].str[0]

# เก็บเฉพาะเวลา
df_pay['time'] = df_pay['actual_time'].str[1]

# แปลงวันที่เป็นรูปแบบ datetime
df_pay['date'] = pd.to_datetime(df_pay['date'])

# แปลงเวลาเป็นรูปแบบ datetime
df_pay['time'] = pd.to_datetime(df_pay['time'])

# ตัดมิลลิวินาทีออกจากเวลา
df_pay['time'] = df_pay['time'].dt.floor('s')

# รวมวันที่และเวลาเข้าด้วยกัน
df_pay['actual_time'] = pd.to_datetime(df_pay['date'].dt.strftime('%Y-%m-%d') + ' ' + df_pay['time'].dt.strftime('%H:%M:%S'))

# ลบ columns 'date' และ 'time' ที่ไม่จำเป็น
df_pay.drop(columns=['date', 'time'], inplace=True)

<ipython-input-9-6a235d5d2f2c>:17: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_pay['time'] = pd.to_datetime(df_pay['time'])

In [ ]:
df_pay2 = df_pay[df_pay['datetime'].dt.year >= 2024]

# กรองเอาเฉพาะตั้งเเต่เดือน 2 ปี 2024
df_pay2 = df_pay2[df_pay2['datetime'].dt.month >= 2]

df_pay2

,_id,user_id,package_id,price,qrcode,transactionid,datetime,ref1,status,point,promotion,actual_time,sale_code_name,package_sub,action,subscription,sub_id
535350,65ba8072ef414a50d242262a,Ue9959631ee4a073ca289c2c3e688a1bf,pack_299,199,NaN,NaN,2024-02-01 00:16:34,NaN,True,12500,NaN,2024-02-01 00:16:34,,NaN,NaN,Free,NaN
535351,65ba81192b78849873dc9b45,U6ce3d760222037a681bfbdd402a602c2,pack_299,199,NaN,NaN,2024-02-01 00:19:21,NaN,True,12500,NaN,2024-02-01 00:19:21,,NaN,NaN,Free,NaN
535352,65ba81388edc5ec335664183,Hww3kMohYJeeKMSwiZZQvkK1A4E2,credit,43,NaN,NaN,2024-02-01 00:19:52,NaN,True,1720,NaN,2024-02-01 00:19:52,,NaN,NaN,Free,NaN
535353,65ba81aeef414a50d242262c,U902a1c53e716b3e36557f62df8ffa321,pack_299,200,NaN,NaN,2024-02-01 00:21:50,NaN,True,12500,NaN,2024-02-01 00:21:50,,NaN,NaN,Free,NaN
535354,65ba832a2b78849873dc9b47,RW18HHlRJ1MuRToRJsY5yzsKZoT2,credit,100,NaN,NaN,2024-02-01 00:28:10,NaN,True,4000,NaN,2024-02-01 00:28:10,,NaN,NaN,Free,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
545151,6645b87701186686aa6f4b34,U3e24514ab5db2f646343f88849768321,credit,9,00020101021230720016A0000006770101120115010556...,010556021375502TTSHXHFLRZSJ6QNFCF4KIBNQR,2024-05-16 07:40:39,TTSHXHFLRZSJ6QNFCF4K,True,379,0,2024-05-16 07:40:39,NaN,NaN,NaN,NaN,NaN
545152,6645ba4b9ebd084815a169f7,BH6FT6dgJ9Uu0ZUafBsxF0uDQLz1,pack_750,400,NaN,NaN,2024-05-16 14:48:27,NaN,True,30000,NaN,2024-05-16 14:48:27,,NaN,NaN,Free,NaN
545153,6645bad301186686aa6f4b35,vGzoOndR67YX1wJA3Fsq15H2FuX2,pack_299,199,NaN,NaN,2024-05-16 14:50:43,NaN,True,12500,NaN,2024-05-16 14:50:43,,NaN,NaN,Free,NaN
545154,6645be98220f4ce5cd36e1d1,CO5Mnv48mFdvrG46VgHGWNjJewg1,pack_599,599,NaN,NaN,2024-05-16 15:06:48,NaN,True,42000,NaN,2024-05-16 15:06:48,,NaN,NaN,Free,NaN
545155,6645c5ba01186686aa6f4b42,dlpWz5FKNmeS9SVxHrOPbeAv7843,3,49,,,2024-05-16 15:37:14,,NaN,0,0,2024-05-16 15:37:14,,NaN,add_on,NaN,NaN

In [ ]:
#6-11= morning, 12-17 = afternoon, 18-23 = evening, 0-5 = night
def categorize_data(datetime_value):

  hour = datetime_value.hour
  time_range = 'Morning' if 6 <= hour <= 11 else (
        'Afternoon' if 12 <= hour <= 17 else (
            'Evening' if 18 <= hour <= 23 else 'Night')
    )

  return time_range

In [ ]:
df_pay2['time_range'] = df_pay2['datetime'].apply(categorize_data)
df_pay2

,_id,user_id,package_id,price,qrcode,transactionid,datetime,ref1,status,point,promotion,actual_time,sale_code_name,package_sub,action,subscription,sub_id,time_range
535350,65ba8072ef414a50d242262a,Ue9959631ee4a073ca289c2c3e688a1bf,pack_299,199,NaN,NaN,2024-02-01 00:16:34,NaN,True,12500,NaN,2024-02-01 00:16:34,,NaN,NaN,Free,NaN,Night
535351,65ba81192b78849873dc9b45,U6ce3d760222037a681bfbdd402a602c2,pack_299,199,NaN,NaN,2024-02-01 00:19:21,NaN,True,12500,NaN,2024-02-01 00:19:21,,NaN,NaN,Free,NaN,Night
535352,65ba81388edc5ec335664183,Hww3kMohYJeeKMSwiZZQvkK1A4E2,credit,43,NaN,NaN,2024-02-01 00:19:52,NaN,True,1720,NaN,2024-02-01 00:19:52,,NaN,NaN,Free,NaN,Night
535353,65ba81aeef414a50d242262c,U902a1c53e716b3e36557f62df8ffa321,pack_299,200,NaN,NaN,2024-02-01 00:21:50,NaN,True,12500,NaN,2024-02-01 00:21:50,,NaN,NaN,Free,NaN,Night
535354,65ba832a2b78849873dc9b47,RW18HHlRJ1MuRToRJsY5yzsKZoT2,credit,100,NaN,NaN,2024-02-01 00:28:10,NaN,True,4000,NaN,2024-02-01 00:28:10,,NaN,NaN,Free,NaN,Night
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
545151,6645b87701186686aa6f4b34,U3e24514ab5db2f646343f88849768321,credit,9,00020101021230720016A0000006770101120115010556...,010556021375502TTSHXHFLRZSJ6QNFCF4KIBNQR,2024-05-16 07:40:39,TTSHXHFLRZSJ6QNFCF4K,True,379,0,2024-05-16 07:40:39,NaN,NaN,NaN,NaN,NaN,Morning
545152,6645ba4b9ebd084815a169f7,BH6FT6dgJ9Uu0ZUafBsxF0uDQLz1,pack_750,400,NaN,NaN,2024-05-16 14:48:27,NaN,True,30000,NaN,2024-05-16 14:48:27,,NaN,NaN,Free,NaN,Afternoon
545153,6645bad301186686aa6f4b35,vGzoOndR67YX1wJA3Fsq15H2FuX2,pack_299,199,NaN,NaN,2024-05-16 14:50:43,NaN,True,12500,NaN,2024-05-16 14:50:43,,NaN,NaN,Free,NaN,Afternoon
545154,6645be98220f4ce5cd36e1d1,CO5Mnv48mFdvrG46VgHGWNjJewg1,pack_599,599,NaN,NaN,2024-05-16 15:06:48,NaN,True,42000,NaN,2024-05-16 15:06:48,,NaN,NaN,Free,NaN,Afternoon
545155,6645c5ba01186686aa6f4b42,dlpWz5FKNmeS9SVxHrOPbeAv7843,3,49,,,2024-05-16 15:37:14,,NaN,0,0,2024-05-16 15:37:14,,NaN,add_on,NaN,NaN,Afternoon

In [ ]:
df_pay2['hour'] = pd.to_datetime(df_pay2['datetime']).dt.hour
df_pay2['day_of_week'] = pd.to_datetime(df_pay2['datetime']).dt.day_name()

In [ ]:
df_pay_true = df_pay2[df_pay2['status'] == True]
df_pay_true

,_id,user_id,package_id,price,qrcode,transactionid,datetime,ref1,status,point,promotion,actual_time,sale_code_name,package_sub,action,subscription,sub_id,time_range,hour,day_of_week
535350,65ba8072ef414a50d242262a,Ue9959631ee4a073ca289c2c3e688a1bf,pack_299,199,NaN,NaN,2024-02-01 00:16:34,NaN,True,12500,NaN,2024-02-01 00:16:34,,NaN,NaN,Free,NaN,Night,0,Thursday
535351,65ba81192b78849873dc9b45,U6ce3d760222037a681bfbdd402a602c2,pack_299,199,NaN,NaN,2024-02-01 00:19:21,NaN,True,12500,NaN,2024-02-01 00:19:21,,NaN,NaN,Free,NaN,Night,0,Thursday
535352,65ba81388edc5ec335664183,Hww3kMohYJeeKMSwiZZQvkK1A4E2,credit,43,NaN,NaN,2024-02-01 00:19:52,NaN,True,1720,NaN,2024-02-01 00:19:52,,NaN,NaN,Free,NaN,Night,0,Thursday
535353,65ba81aeef414a50d242262c,U902a1c53e716b3e36557f62df8ffa321,pack_299,200,NaN,NaN,2024-02-01 00:21:50,NaN,True,12500,NaN,2024-02-01 00:21:50,,NaN,NaN,Free,NaN,Night,0,Thursday
535354,65ba832a2b78849873dc9b47,RW18HHlRJ1MuRToRJsY5yzsKZoT2,credit,100,NaN,NaN,2024-02-01 00:28:10,NaN,True,4000,NaN,2024-02-01 00:28:10,,NaN,NaN,Free,NaN,Night,0,Thursday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
545150,6645b68401186686aa6f4b32,78FVKNMj6IajHGorpVc3twfE4UU2,pack_99,99,NaN,NaN,2024-05-16 14:32:20,NaN,True,4100,NaN,2024-05-16 14:32:20,,NaN,NaN,Free,NaN,Afternoon,14,Thursday
545151,6645b87701186686aa6f4b34,U3e24514ab5db2f646343f88849768321,credit,9,00020101021230720016A0000006770101120115010556...,010556021375502TTSHXHFLRZSJ6QNFCF4KIBNQR,2024-05-16 07:40:39,TTSHXHFLRZSJ6QNFCF4K,True,379,0,2024-05-16 07:40:39,NaN,NaN,NaN,NaN,NaN,Morning,7,Thursday
545152,6645ba4b9ebd084815a169f7,BH6FT6dgJ9Uu0ZUafBsxF0uDQLz1,pack_750,400,NaN,NaN,2024-05-16 14:48:27,NaN,True,30000,NaN,2024-05-16 14:48:27,,NaN,NaN,Free,NaN,Afternoon,14,Thursday
545153,6645bad301186686aa6f4b35,vGzoOndR67YX1wJA3Fsq15H2FuX2,pack_299,199,NaN,NaN,2024-05-16 14:50:43,NaN,True,12500,NaN,2024-05-16 14:50:43,,NaN,NaN,Free,NaN,Afternoon,14,Thursday
545154,6645be98220f4ce5cd36e1d1,CO5Mnv48mFdvrG46VgHGWNjJewg1,pack_599,599,NaN,NaN,2024-05-16 15:06:48,NaN,True,42000,NaN,2024-05-16 15:06:48,,NaN,NaN,Free,NaN,Afternoon,15,Thursday

In [ ]:
# ดึงเฉพาะหัวข้อ (column)
headers = df_pay_true.columns

# พิมพ์หัวข้อ
print(headers)

Index(['_id', 'user_id', 'package_id', 'price', 'qrcode', 'transactionid',
       'datetime', 'ref1', 'status', 'point', 'promotion', 'actual_time',
       'sale_code_name', 'package_sub', 'action', 'subscription', 'sub_id',
       'time_range', 'hour', 'day_of_week'],
      dtype='object')

In [ ]:
color_time = {
    'Morning': 'hsl(60, 70%, 70%)',  # เหลือง
    'Afternoon': 'hsl(30, 70%, 70%)',  # ส้ม
    'Evening': 'hsl(240, 70%, 70%)',  # ฟ้า
    'Night': 'hsl(270, 70%, 70%)',  # ม่วง

}

#ช่วงเวลาการใช้ของคนทั้งหมด

#ช่วงเวลาการใช้ของคนจ่ายเงิน

In [ ]:
color_map = {
    'Monday': 'hsl(60, 70%, 70%)',  # เหลือง
    'Tuesday': 'hsl(330, 70%, 70%)',  # ชมพู
    'Wednesday': 'hsl(120, 70%, 70%)',  # เขียว
    'Thursday': 'hsl(30, 70%, 70%)',  # ส้ม
    'Friday': 'hsl(240, 70%, 70%)',  # ฟ้า
    'Saturday': 'hsl(270, 70%, 70%)',  # ม่วง
    'Sunday': 'hsl(0, 70%, 70%)'  # แดง
}

In [ ]:
color_map

{'Monday': 'hsl(60, 70%, 70%)',
 'Tuesday': 'hsl(330, 70%, 70%)',
 'Wednesday': 'hsl(120, 70%, 70%)',
 'Thursday': 'hsl(30, 70%, 70%)',
 'Friday': 'hsl(240, 70%, 70%)',
 'Saturday': 'hsl(270, 70%, 70%)',
 'Sunday': 'hsl(0, 70%, 70%)'}

In [ ]:
color_time = {
    'Morning': 'hsl(60, 70%, 70%)',  # เหลือง
    'Afternoon': 'hsl(30, 70%, 70%)',  # ส้ม
    'Evening': 'hsl(240, 70%, 70%)',  # ฟ้า
    'Night': 'hsl(270, 70%, 70%)',  # ม่วง

}

In [ ]:
df_msg = pd.DataFrame(paymentdb.message.find())
df_msg

,_id,user_id,message,datetime,channel,count,speaker,url,audio_id,page,provider,language
0,612e4174bda79b4dffbfeb84,U8530610030c64cc1843fd0f95b5f2758,สวัสดีครับ,2021-08-31 21:49:24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,612e4174952575b7a2c366c1,U8530610030c64cc1843fd0f95b5f2758,สวัสดีครับ,2021-08-31 21:49:24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,612e41749ac449ff6262dcc0,U8530610030c64cc1843fd0f95b5f2758,สวัสดีครับ,2021-08-31 21:49:24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,612e4174ea19c311d95c33b2,U8530610030c64cc1843fd0f95b5f2758,สวัสดีครับ,2021-08-31 21:49:24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,612e4174bda79b4dffbfeb85,U8530610030c64cc1843fd0f95b5f2758,สวัสดีครับ,2021-08-31 21:49:24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3996794,6645c71d988b3c1975b28a3b,jgyS5JScKORA1SMW6UOupYPhx0s1,ตัวชี้วัดที่1ข้อมูลสารสนเทศ1.ศูนย์การเรียนรู้ต...,2024-05-16 15:43:09.004179,play,856,kook,NaN,EMWHQ,studio,NaN,NaN
3996795,6645c71d9a5d24c1e368fee4,AV6pEMSlITYpUqwsdYAoKrPkQXm1,chỉtamớiđượcngồivàongaivàngcủađấngchítôntạisao...,2024-05-16 15:43:09.339435,play,134,vi_phungvantienc7dubi,NaN,NPZIS,studio,NaN,NaN
3996796,6645c71d296c6cc87d7a6548,jS1FJrB3iGYljwCvuwiAT475ybf2,ดีๆเจีโอเว่นนะจ๊ะ,2024-05-16 15:43:09.374368,play,17,max,NaN,LTIFS,studio,NaN,NaN
3996797,6645c720296c6cc87d7a6549,gkqhASeTUWgjSfFQU21o380DdnI3,จำเริญละเท่าที่ว่ามานี้เป็นอันว่ารูปเวทนาสัญญา...,2024-05-16 15:43:12.534968,play,68,jaonai,NaN,RHJDK,studio,NaN,NaN
3996798,6645c728988b3c1975b28a3c,dlpWz5FKNmeS9SVxHrOPbeAv7843,จากการสอนผู้เรียนที่มีความบกพร่องทางสติปัญญาเพ...,2024-05-16 15:43:20.590193,play,537,tonkhaow,NaN,EQUZV,studio,NaN,NaN

In [ ]:
# แปลงคอลัมน์ datetime เป็น string
df_msg['datetime'] = df_msg['datetime'].astype(str)

# แยกวันที่และเวลาออกจากกัน
df_msg['datetime'] = df_msg['datetime'].str.split(' ')

# เก็บเฉพาะวันที่
df_msg['date'] = df_msg['datetime'].str[0]

# เก็บเฉพาะเวลา
df_msg['time'] = df_msg['datetime'].str[1]

# แปลงวันที่เป็นรูปแบบ datetime
df_msg['date'] = pd.to_datetime(df_msg['date'])

# แปลงเวลาเป็นรูปแบบ datetime
df_msg['time'] = pd.to_datetime(df_msg['time'])

# ตัดมิลลิวินาทีออกจากเวลา
df_msg['time'] = df_msg['time'].dt.floor('s')

# รวมmsgวันที่และเวลาเข้าด้วยกัน
df_msg['datetime'] = pd.to_datetime(df_msg['date'].dt.strftime('%Y-%m-%d') + ' ' + df_msg['time'].dt.strftime('%H:%M:%S'))

# ลบ columns 'date' และ 'time' ที่ไม่จำเป็น
df_msg.drop(columns=['date', 'time'], inplace=True)

df_msg

<ipython-input-21-5d83834b2773>:17: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_msg['time'] = pd.to_datetime(df_msg['time'])

,_id,user_id,message,datetime,channel,count,speaker,url,audio_id,page,provider,language
0,612e4174bda79b4dffbfeb84,U8530610030c64cc1843fd0f95b5f2758,สวัสดีครับ,2021-08-31 21:49:24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,612e4174952575b7a2c366c1,U8530610030c64cc1843fd0f95b5f2758,สวัสดีครับ,2021-08-31 21:49:24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,612e41749ac449ff6262dcc0,U8530610030c64cc1843fd0f95b5f2758,สวัสดีครับ,2021-08-31 21:49:24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,612e4174ea19c311d95c33b2,U8530610030c64cc1843fd0f95b5f2758,สวัสดีครับ,2021-08-31 21:49:24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,612e4174bda79b4dffbfeb85,U8530610030c64cc1843fd0f95b5f2758,สวัสดีครับ,2021-08-31 21:49:24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3996794,6645c71d988b3c1975b28a3b,jgyS5JScKORA1SMW6UOupYPhx0s1,ตัวชี้วัดที่1ข้อมูลสารสนเทศ1.ศูนย์การเรียนรู้ต...,2024-05-16 15:43:09,play,856,kook,NaN,EMWHQ,studio,NaN,NaN
3996795,6645c71d9a5d24c1e368fee4,AV6pEMSlITYpUqwsdYAoKrPkQXm1,chỉtamớiđượcngồivàongaivàngcủađấngchítôntạisao...,2024-05-16 15:43:09,play,134,vi_phungvantienc7dubi,NaN,NPZIS,studio,NaN,NaN
3996796,6645c71d296c6cc87d7a6548,jS1FJrB3iGYljwCvuwiAT475ybf2,ดีๆเจีโอเว่นนะจ๊ะ,2024-05-16 15:43:09,play,17,max,NaN,LTIFS,studio,NaN,NaN
3996797,6645c720296c6cc87d7a6549,gkqhASeTUWgjSfFQU21o380DdnI3,จำเริญละเท่าที่ว่ามานี้เป็นอันว่ารูปเวทนาสัญญา...,2024-05-16 15:43:12,play,68,jaonai,NaN,RHJDK,studio,NaN,NaN
3996798,6645c728988b3c1975b28a3c,dlpWz5FKNmeS9SVxHrOPbeAv7843,จากการสอนผู้เรียนที่มีความบกพร่องทางสติปัญญาเพ...,2024-05-16 15:43:20,play,537,tonkhaow,NaN,EQUZV,studio,NaN,NaN

In [ ]:
len(df_msg)

3996799

In [ ]:
df_msg2 = df_msg[df_msg['datetime'].dt.year >= 2024]

# กรองเอาเฉพาะตั้งเเต่เดือน 2 ปี 2024
df_msg2 = df_msg2[df_msg2['datetime'].dt.month >= 2]

df_msg2

,_id,user_id,message,datetime,channel,count,speaker,url,audio_id,page,provider,language
2095450,65d0948df281dda53fd6d31f,U69019814430a41adf5b58c0478022744,รับซ่อมคอมทั่วราชอาณาจักรไม่ว่าจะเป็นการอัพเกร...,2024-02-17 18:12:13,play,150,bo,NaN,BPRSV,studio,NaN,NaN
2095451,65d094952869e9a28f087a44,U69019814430a41adf5b58c0478022744,รับซ่อมคอมทั่วราชอาณาจักรไม่ว่าจะเป็นการอัพเกร...,2024-02-17 18:12:21,play,150,bo,NaN,OVCLD,studio,NaN,NaN
2095452,65d094a173574e4954ff1c7d,vo0zwSLT4rPBCeNyAmBe1PVsiJl1,โดนใจทาสแมวแบบสุดสุดจ้าโซฟาน้องแมวผ้าขนนุ่มนิ่...,2024-02-17 18:12:33,play,153,pla,NaN,ZDEBT,studio,NaN,NaN
2095453,65d094b8f9bd7a3f14151fbd,vo0zwSLT4rPBCeNyAmBe1PVsiJl1,โดนใจทาสแมวแบบสุดสุดไปเลยจ้านี่เลยโซฟาน้องแมวผ...,2024-02-17 18:12:56,play,164,pla,NaN,ZDEBT,studio,NaN,NaN
2095454,65d094b9821dc3a90d441f75,Uddb4c3f85e14a10c53e9b819d6ff7f6e,เจ้าของช่อดอกไม้ในมือเบลล่าราณี,2024-02-17 18:12:57,play,31,tonkhaow,NaN,MHJLT,studio,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3996794,6645c71d988b3c1975b28a3b,jgyS5JScKORA1SMW6UOupYPhx0s1,ตัวชี้วัดที่1ข้อมูลสารสนเทศ1.ศูนย์การเรียนรู้ต...,2024-05-16 15:43:09,play,856,kook,NaN,EMWHQ,studio,NaN,NaN
3996795,6645c71d9a5d24c1e368fee4,AV6pEMSlITYpUqwsdYAoKrPkQXm1,chỉtamớiđượcngồivàongaivàngcủađấngchítôntạisao...,2024-05-16 15:43:09,play,134,vi_phungvantienc7dubi,NaN,NPZIS,studio,NaN,NaN
3996796,6645c71d296c6cc87d7a6548,jS1FJrB3iGYljwCvuwiAT475ybf2,ดีๆเจีโอเว่นนะจ๊ะ,2024-05-16 15:43:09,play,17,max,NaN,LTIFS,studio,NaN,NaN
3996797,6645c720296c6cc87d7a6549,gkqhASeTUWgjSfFQU21o380DdnI3,จำเริญละเท่าที่ว่ามานี้เป็นอันว่ารูปเวทนาสัญญา...,2024-05-16 15:43:12,play,68,jaonai,NaN,RHJDK,studio,NaN,NaN
3996798,6645c728988b3c1975b28a3c,dlpWz5FKNmeS9SVxHrOPbeAv7843,จากการสอนผู้เรียนที่มีความบกพร่องทางสติปัญญาเพ...,2024-05-16 15:43:20,play,537,tonkhaow,NaN,EQUZV,studio,NaN,NaN

In [ ]:
len(df_msg)

3996799

In [ ]:

# ตรวจสอบประเภทข้อมูล
print(df_msg2['message'].dtypes)

# ตรวจสอบค่า null
print(df_msg2['message'].isnull().sum())

# ตรวจสอบตัวอย่างข้อมูล
print(df_msg2['message'].head())

df_msg2

object
0
2095450    รับซ่อมคอมทั่วราชอาณาจักรไม่ว่าจะเป็นการอัพเกร...
2095451    รับซ่อมคอมทั่วราชอาณาจักรไม่ว่าจะเป็นการอัพเกร...
2095452    โดนใจทาสแมวแบบสุดสุดจ้าโซฟาน้องแมวผ้าขนนุ่มนิ่...
2095453    โดนใจทาสแมวแบบสุดสุดไปเลยจ้านี่เลยโซฟาน้องแมวผ...
2095454                      เจ้าของช่อดอกไม้ในมือเบลล่าราณี
Name: message, dtype: object

,_id,user_id,message,datetime,channel,count,speaker,url,audio_id,page,provider,language
2095450,65d0948df281dda53fd6d31f,U69019814430a41adf5b58c0478022744,รับซ่อมคอมทั่วราชอาณาจักรไม่ว่าจะเป็นการอัพเกร...,2024-02-17 18:12:13,play,150,bo,NaN,BPRSV,studio,NaN,NaN
2095451,65d094952869e9a28f087a44,U69019814430a41adf5b58c0478022744,รับซ่อมคอมทั่วราชอาณาจักรไม่ว่าจะเป็นการอัพเกร...,2024-02-17 18:12:21,play,150,bo,NaN,OVCLD,studio,NaN,NaN
2095452,65d094a173574e4954ff1c7d,vo0zwSLT4rPBCeNyAmBe1PVsiJl1,โดนใจทาสแมวแบบสุดสุดจ้าโซฟาน้องแมวผ้าขนนุ่มนิ่...,2024-02-17 18:12:33,play,153,pla,NaN,ZDEBT,studio,NaN,NaN
2095453,65d094b8f9bd7a3f14151fbd,vo0zwSLT4rPBCeNyAmBe1PVsiJl1,โดนใจทาสแมวแบบสุดสุดไปเลยจ้านี่เลยโซฟาน้องแมวผ...,2024-02-17 18:12:56,play,164,pla,NaN,ZDEBT,studio,NaN,NaN
2095454,65d094b9821dc3a90d441f75,Uddb4c3f85e14a10c53e9b819d6ff7f6e,เจ้าของช่อดอกไม้ในมือเบลล่าราณี,2024-02-17 18:12:57,play,31,tonkhaow,NaN,MHJLT,studio,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3996794,6645c71d988b3c1975b28a3b,jgyS5JScKORA1SMW6UOupYPhx0s1,ตัวชี้วัดที่1ข้อมูลสารสนเทศ1.ศูนย์การเรียนรู้ต...,2024-05-16 15:43:09,play,856,kook,NaN,EMWHQ,studio,NaN,NaN
3996795,6645c71d9a5d24c1e368fee4,AV6pEMSlITYpUqwsdYAoKrPkQXm1,chỉtamớiđượcngồivàongaivàngcủađấngchítôntạisao...,2024-05-16 15:43:09,play,134,vi_phungvantienc7dubi,NaN,NPZIS,studio,NaN,NaN
3996796,6645c71d296c6cc87d7a6548,jS1FJrB3iGYljwCvuwiAT475ybf2,ดีๆเจีโอเว่นนะจ๊ะ,2024-05-16 15:43:09,play,17,max,NaN,LTIFS,studio,NaN,NaN
3996797,6645c720296c6cc87d7a6549,gkqhASeTUWgjSfFQU21o380DdnI3,จำเริญละเท่าที่ว่ามานี้เป็นอันว่ารูปเวทนาสัญญา...,2024-05-16 15:43:12,play,68,jaonai,NaN,RHJDK,studio,NaN,NaN
3996798,6645c728988b3c1975b28a3c,dlpWz5FKNmeS9SVxHrOPbeAv7843,จากการสอนผู้เรียนที่มีความบกพร่องทางสติปัญญาเพ...,2024-05-16 15:43:20,play,537,tonkhaow,NaN,EQUZV,studio,NaN,NaN

In [ ]:
df_msg2['time_range'] = df_msg2['datetime'].apply(categorize_data)
df_msg2

,_id,user_id,message,datetime,channel,count,speaker,url,audio_id,page,provider,language,time_range
2095450,65d0948df281dda53fd6d31f,U69019814430a41adf5b58c0478022744,รับซ่อมคอมทั่วราชอาณาจักรไม่ว่าจะเป็นการอัพเกร...,2024-02-17 18:12:13,play,150,bo,NaN,BPRSV,studio,NaN,NaN,Evening
2095451,65d094952869e9a28f087a44,U69019814430a41adf5b58c0478022744,รับซ่อมคอมทั่วราชอาณาจักรไม่ว่าจะเป็นการอัพเกร...,2024-02-17 18:12:21,play,150,bo,NaN,OVCLD,studio,NaN,NaN,Evening
2095452,65d094a173574e4954ff1c7d,vo0zwSLT4rPBCeNyAmBe1PVsiJl1,โดนใจทาสแมวแบบสุดสุดจ้าโซฟาน้องแมวผ้าขนนุ่มนิ่...,2024-02-17 18:12:33,play,153,pla,NaN,ZDEBT,studio,NaN,NaN,Evening
2095453,65d094b8f9bd7a3f14151fbd,vo0zwSLT4rPBCeNyAmBe1PVsiJl1,โดนใจทาสแมวแบบสุดสุดไปเลยจ้านี่เลยโซฟาน้องแมวผ...,2024-02-17 18:12:56,play,164,pla,NaN,ZDEBT,studio,NaN,NaN,Evening
2095454,65d094b9821dc3a90d441f75,Uddb4c3f85e14a10c53e9b819d6ff7f6e,เจ้าของช่อดอกไม้ในมือเบลล่าราณี,2024-02-17 18:12:57,play,31,tonkhaow,NaN,MHJLT,studio,NaN,NaN,Evening
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3996794,6645c71d988b3c1975b28a3b,jgyS5JScKORA1SMW6UOupYPhx0s1,ตัวชี้วัดที่1ข้อมูลสารสนเทศ1.ศูนย์การเรียนรู้ต...,2024-05-16 15:43:09,play,856,kook,NaN,EMWHQ,studio,NaN,NaN,Afternoon
3996795,6645c71d9a5d24c1e368fee4,AV6pEMSlITYpUqwsdYAoKrPkQXm1,chỉtamớiđượcngồivàongaivàngcủađấngchítôntạisao...,2024-05-16 15:43:09,play,134,vi_phungvantienc7dubi,NaN,NPZIS,studio,NaN,NaN,Afternoon
3996796,6645c71d296c6cc87d7a6548,jS1FJrB3iGYljwCvuwiAT475ybf2,ดีๆเจีโอเว่นนะจ๊ะ,2024-05-16 15:43:09,play,17,max,NaN,LTIFS,studio,NaN,NaN,Afternoon
3996797,6645c720296c6cc87d7a6549,gkqhASeTUWgjSfFQU21o380DdnI3,จำเริญละเท่าที่ว่ามานี้เป็นอันว่ารูปเวทนาสัญญา...,2024-05-16 15:43:12,play,68,jaonai,NaN,RHJDK,studio,NaN,NaN,Afternoon
3996798,6645c728988b3c1975b28a3c,dlpWz5FKNmeS9SVxHrOPbeAv7843,จากการสอนผู้เรียนที่มีความบกพร่องทางสติปัญญาเพ...,2024-05-16 15:43:20,play,537,tonkhaow,NaN,EQUZV,studio,NaN,NaN,Afternoon

In [ ]:
import pandas as pd

# Assuming df_joined_true is already loaded into your environment

# Replace NaN values with 'web' in the 'provider' column
df_msg['provider'] = df_msg['provider'].fillna('web')

In [ ]:
import pandas as pd

# Assuming df_pay_true is already loaded into your environment

# Check for duplicate user_id values
duplicate_user_ids = df_pay_true['user_id'].duplicated()

# Count the number of duplicate user_ids
number_of_duplicates = duplicate_user_ids.sum()

# Print the results
if number_of_duplicates > 0:
    print(f"There are {number_of_duplicates} duplicate user_id values.")
else:
    print("There are no duplicate user_id values.")

There are 2828 duplicate user_id values.

In [ ]:
# Join the tables using the 'user_id' column as the common key
df_joined_true = pd.merge(df_pay_true, df_msg2, on='user_id', how='inner')

df_joined_true

,_id_x,user_id,package_id,price,qrcode,transactionid,datetime_x,ref1,status,point,...,datetime_y,channel,count,speaker,url,audio_id,page,provider,language,time_range_y
0,65ba8072ef414a50d242262a,Ue9959631ee4a073ca289c2c3e688a1bf,pack_299,199,NaN,NaN,2024-02-01 00:16:34,NaN,True,12500,...,2024-02-19 22:37:47,play,523,tonkhaow,NaN,OTMSI,studio,NaN,NaN,Evening
1,65ba8072ef414a50d242262a,Ue9959631ee4a073ca289c2c3e688a1bf,pack_299,199,NaN,NaN,2024-02-01 00:16:34,NaN,True,12500,...,2024-02-19 22:38:09,play,955,tonkhaow,NaN,GYLKD,studio,NaN,NaN,Evening
2,65ba8072ef414a50d242262a,Ue9959631ee4a073ca289c2c3e688a1bf,pack_299,199,NaN,NaN,2024-02-01 00:16:34,NaN,True,12500,...,2024-02-19 22:38:35,download,523,tonkhaow,NaN,OTMSI,NaN,NaN,NaN,Evening
3,65ba8072ef414a50d242262a,Ue9959631ee4a073ca289c2c3e688a1bf,pack_299,199,NaN,NaN,2024-02-01 00:16:34,NaN,True,12500,...,2024-02-19 22:38:48,download,955,tonkhaow,NaN,GYLKD,NaN,NaN,NaN,Evening
4,65ba8072ef414a50d242262a,Ue9959631ee4a073ca289c2c3e688a1bf,pack_299,199,NaN,NaN,2024-02-01 00:16:34,NaN,True,12500,...,2024-02-26 22:47:28,play,944,tonkhaow,NaN,BHAQZ,studio,NaN,NaN,Evening
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1748315,6645be98220f4ce5cd36e1d1,CO5Mnv48mFdvrG46VgHGWNjJewg1,pack_599,599,NaN,NaN,2024-05-16 15:06:48,NaN,True,42000,...,2024-05-16 15:09:18,download,90,jaonai,NaN,GGYJQ,studio,NaN,th,Afternoon
1748316,6645be98220f4ce5cd36e1d1,CO5Mnv48mFdvrG46VgHGWNjJewg1,pack_599,599,NaN,NaN,2024-05-16 15:06:48,NaN,True,42000,...,2024-05-16 15:09:25,download,179,max,NaN,TTDVS,studio,NaN,th,Afternoon
1748317,6645be98220f4ce5cd36e1d1,CO5Mnv48mFdvrG46VgHGWNjJewg1,pack_599,599,NaN,NaN,2024-05-16 15:06:48,NaN,True,42000,...,2024-05-16 15:09:37,download,516,max,NaN,DEJWD,studio,NaN,th,Afternoon
1748318,6645be98220f4ce5cd36e1d1,CO5Mnv48mFdvrG46VgHGWNjJewg1,pack_599,599,NaN,NaN,2024-05-16 15:06:48,NaN,True,42000,...,2024-05-16 15:10:00,download,51,jaonai,NaN,HPSKD,studio,NaN,th,Afternoon
1748319,6645be98220f4ce5cd36e1d1,CO5Mnv48mFdvrG46VgHGWNjJewg1,pack_599,599,NaN,NaN,2024-05-16 15:06:48,NaN,True,42000,...,2024-05-16 15:21:55,download,91,max,NaN,HPPME,studio,NaN,th,Afternoon

In [ ]:
import pandas as pd

# Assuming df_joined_true is already loaded into your environment

# Replace NaN values with 'web' in the 'provider' column
df_joined_true['provider'] = df_joined_true['provider'].fillna('web')

df_joined_true

,_id_x,user_id,package_id,price,qrcode,transactionid,datetime_x,ref1,status,point,...,datetime_y,channel,count,speaker,url,audio_id,page,provider,language,time_range_y
0,65ba8072ef414a50d242262a,Ue9959631ee4a073ca289c2c3e688a1bf,pack_299,199,NaN,NaN,2024-02-01 00:16:34,NaN,True,12500,...,2024-02-19 22:37:47,play,523,tonkhaow,NaN,OTMSI,studio,web,NaN,Evening
1,65ba8072ef414a50d242262a,Ue9959631ee4a073ca289c2c3e688a1bf,pack_299,199,NaN,NaN,2024-02-01 00:16:34,NaN,True,12500,...,2024-02-19 22:38:09,play,955,tonkhaow,NaN,GYLKD,studio,web,NaN,Evening
2,65ba8072ef414a50d242262a,Ue9959631ee4a073ca289c2c3e688a1bf,pack_299,199,NaN,NaN,2024-02-01 00:16:34,NaN,True,12500,...,2024-02-19 22:38:35,download,523,tonkhaow,NaN,OTMSI,NaN,web,NaN,Evening
3,65ba8072ef414a50d242262a,Ue9959631ee4a073ca289c2c3e688a1bf,pack_299,199,NaN,NaN,2024-02-01 00:16:34,NaN,True,12500,...,2024-02-19 22:38:48,download,955,tonkhaow,NaN,GYLKD,NaN,web,NaN,Evening
4,65ba8072ef414a50d242262a,Ue9959631ee4a073ca289c2c3e688a1bf,pack_299,199,NaN,NaN,2024-02-01 00:16:34,NaN,True,12500,...,2024-02-26 22:47:28,play,944,tonkhaow,NaN,BHAQZ,studio,web,NaN,Evening
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1748315,6645be98220f4ce5cd36e1d1,CO5Mnv48mFdvrG46VgHGWNjJewg1,pack_599,599,NaN,NaN,2024-05-16 15:06:48,NaN,True,42000,...,2024-05-16 15:09:18,download,90,jaonai,NaN,GGYJQ,studio,web,th,Afternoon
1748316,6645be98220f4ce5cd36e1d1,CO5Mnv48mFdvrG46VgHGWNjJewg1,pack_599,599,NaN,NaN,2024-05-16 15:06:48,NaN,True,42000,...,2024-05-16 15:09:25,download,179,max,NaN,TTDVS,studio,web,th,Afternoon
1748317,6645be98220f4ce5cd36e1d1,CO5Mnv48mFdvrG46VgHGWNjJewg1,pack_599,599,NaN,NaN,2024-05-16 15:06:48,NaN,True,42000,...,2024-05-16 15:09:37,download,516,max,NaN,DEJWD,studio,web,th,Afternoon
1748318,6645be98220f4ce5cd36e1d1,CO5Mnv48mFdvrG46VgHGWNjJewg1,pack_599,599,NaN,NaN,2024-05-16 15:06:48,NaN,True,42000,...,2024-05-16 15:10:00,download,51,jaonai,NaN,HPSKD,studio,web,th,Afternoon
1748319,6645be98220f4ce5cd36e1d1,CO5Mnv48mFdvrG46VgHGWNjJewg1,pack_599,599,NaN,NaN,2024-05-16 15:06:48,NaN,True,42000,...,2024-05-16 15:21:55,download,91,max,NaN,HPPME,studio,web,th,Afternoon

In [ ]:

# ดึงเฉพาะหัวข้อ (column)
headers = df_pay_true.columns

# พิมพ์หัวข้อ
print(headers)

Index(['_id', 'user_id', 'package_id', 'price', 'qrcode', 'transactionid',
       'datetime', 'ref1', 'status', 'point', 'promotion', 'actual_time',
       'sale_code_name', 'package_sub', 'action', 'subscription', 'sub_id',
       'time_range', 'hour', 'day_of_week'],
      dtype='object')

In [ ]:

# ดึงเฉพาะหัวข้อ (column)
headers = df_msg.columns

# พิมพ์หัวข้อ
print(headers)

Index(['_id', 'user_id', 'message', 'datetime', 'channel', 'count', 'speaker',
       'url', 'audio_id', 'page', 'provider', 'language'],
      dtype='object')

In [ ]:
df_pay.to_csv("payment.csv", index=False, encoding='utf-8')

In [ ]:
df_msg.to_csv("message.csv", index=False, escapechar='\\', encoding='utf-8' , )

In [ ]:
df_msg2.to_csv("message_true.csv", index=False, escapechar='\\', encoding='utf-8' , )

In [ ]:
df_pay_true.to_csv("payment_true.csv", index=False, encoding='utf-8')

In [ ]:
df_pay_true

,_id,user_id,package_id,price,qrcode,transactionid,datetime,ref1,status,point,promotion,actual_time,sale_code_name,package_sub,action,subscription,sub_id,time_range,hour,day_of_week
535350,65ba8072ef414a50d242262a,Ue9959631ee4a073ca289c2c3e688a1bf,pack_299,199,NaN,NaN,2024-02-01 00:16:34,NaN,True,12500,NaN,2024-02-01 00:16:34,,NaN,NaN,Free,NaN,Night,0,Thursday
535351,65ba81192b78849873dc9b45,U6ce3d760222037a681bfbdd402a602c2,pack_299,199,NaN,NaN,2024-02-01 00:19:21,NaN,True,12500,NaN,2024-02-01 00:19:21,,NaN,NaN,Free,NaN,Night,0,Thursday
535352,65ba81388edc5ec335664183,Hww3kMohYJeeKMSwiZZQvkK1A4E2,credit,43,NaN,NaN,2024-02-01 00:19:52,NaN,True,1720,NaN,2024-02-01 00:19:52,,NaN,NaN,Free,NaN,Night,0,Thursday
535353,65ba81aeef414a50d242262c,U902a1c53e716b3e36557f62df8ffa321,pack_299,200,NaN,NaN,2024-02-01 00:21:50,NaN,True,12500,NaN,2024-02-01 00:21:50,,NaN,NaN,Free,NaN,Night,0,Thursday
535354,65ba832a2b78849873dc9b47,RW18HHlRJ1MuRToRJsY5yzsKZoT2,credit,100,NaN,NaN,2024-02-01 00:28:10,NaN,True,4000,NaN,2024-02-01 00:28:10,,NaN,NaN,Free,NaN,Night,0,Thursday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
545150,6645b68401186686aa6f4b32,78FVKNMj6IajHGorpVc3twfE4UU2,pack_99,99,NaN,NaN,2024-05-16 14:32:20,NaN,True,4100,NaN,2024-05-16 14:32:20,,NaN,NaN,Free,NaN,Afternoon,14,Thursday
545151,6645b87701186686aa6f4b34,U3e24514ab5db2f646343f88849768321,credit,9,00020101021230720016A0000006770101120115010556...,010556021375502TTSHXHFLRZSJ6QNFCF4KIBNQR,2024-05-16 07:40:39,TTSHXHFLRZSJ6QNFCF4K,True,379,0,2024-05-16 07:40:39,NaN,NaN,NaN,NaN,NaN,Morning,7,Thursday
545152,6645ba4b9ebd084815a169f7,BH6FT6dgJ9Uu0ZUafBsxF0uDQLz1,pack_750,400,NaN,NaN,2024-05-16 14:48:27,NaN,True,30000,NaN,2024-05-16 14:48:27,,NaN,NaN,Free,NaN,Afternoon,14,Thursday
545153,6645bad301186686aa6f4b35,vGzoOndR67YX1wJA3Fsq15H2FuX2,pack_299,199,NaN,NaN,2024-05-16 14:50:43,NaN,True,12500,NaN,2024-05-16 14:50:43,,NaN,NaN,Free,NaN,Afternoon,14,Thursday
545154,6645be98220f4ce5cd36e1d1,CO5Mnv48mFdvrG46VgHGWNjJewg1,pack_599,599,NaN,NaN,2024-05-16 15:06:48,NaN,True,42000,NaN,2024-05-16 15:06:48,,NaN,NaN,Free,NaN,Afternoon,15,Thursday

In [ ]:
df_msg

,_id,user_id,message,datetime,channel,count,speaker,url,audio_id,page,provider,language
0,612e4174bda79b4dffbfeb84,U8530610030c64cc1843fd0f95b5f2758,สวัสดีครับ,2021-08-31 21:49:24,NaN,NaN,NaN,NaN,NaN,NaN,web,NaN
1,612e4174952575b7a2c366c1,U8530610030c64cc1843fd0f95b5f2758,สวัสดีครับ,2021-08-31 21:49:24,NaN,NaN,NaN,NaN,NaN,NaN,web,NaN
2,612e41749ac449ff6262dcc0,U8530610030c64cc1843fd0f95b5f2758,สวัสดีครับ,2021-08-31 21:49:24,NaN,NaN,NaN,NaN,NaN,NaN,web,NaN
3,612e4174ea19c311d95c33b2,U8530610030c64cc1843fd0f95b5f2758,สวัสดีครับ,2021-08-31 21:49:24,NaN,NaN,NaN,NaN,NaN,NaN,web,NaN
4,612e4174bda79b4dffbfeb85,U8530610030c64cc1843fd0f95b5f2758,สวัสดีครับ,2021-08-31 21:49:24,NaN,NaN,NaN,NaN,NaN,NaN,web,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3996794,6645c71d988b3c1975b28a3b,jgyS5JScKORA1SMW6UOupYPhx0s1,ตัวชี้วัดที่1ข้อมูลสารสนเทศ1.ศูนย์การเรียนรู้ต...,2024-05-16 15:43:09,play,856,kook,NaN,EMWHQ,studio,web,NaN
3996795,6645c71d9a5d24c1e368fee4,AV6pEMSlITYpUqwsdYAoKrPkQXm1,chỉtamớiđượcngồivàongaivàngcủađấngchítôntạisao...,2024-05-16 15:43:09,play,134,vi_phungvantienc7dubi,NaN,NPZIS,studio,web,NaN
3996796,6645c71d296c6cc87d7a6548,jS1FJrB3iGYljwCvuwiAT475ybf2,ดีๆเจีโอเว่นนะจ๊ะ,2024-05-16 15:43:09,play,17,max,NaN,LTIFS,studio,web,NaN
3996797,6645c720296c6cc87d7a6549,gkqhASeTUWgjSfFQU21o380DdnI3,จำเริญละเท่าที่ว่ามานี้เป็นอันว่ารูปเวทนาสัญญา...,2024-05-16 15:43:12,play,68,jaonai,NaN,RHJDK,studio,web,NaN
3996798,6645c728988b3c1975b28a3c,dlpWz5FKNmeS9SVxHrOPbeAv7843,จากการสอนผู้เรียนที่มีความบกพร่องทางสติปัญญาเพ...,2024-05-16 15:43:20,play,537,tonkhaow,NaN,EQUZV,studio,web,NaN

In [ ]:
df_msg2

,_id,user_id,message,datetime,channel,count,speaker,url,audio_id,page,provider,language,time_range
2095450,65d0948df281dda53fd6d31f,U69019814430a41adf5b58c0478022744,รับซ่อมคอมทั่วราชอาณาจักรไม่ว่าจะเป็นการอัพเกร...,2024-02-17 18:12:13,play,150,bo,NaN,BPRSV,studio,NaN,NaN,Evening
2095451,65d094952869e9a28f087a44,U69019814430a41adf5b58c0478022744,รับซ่อมคอมทั่วราชอาณาจักรไม่ว่าจะเป็นการอัพเกร...,2024-02-17 18:12:21,play,150,bo,NaN,OVCLD,studio,NaN,NaN,Evening
2095452,65d094a173574e4954ff1c7d,vo0zwSLT4rPBCeNyAmBe1PVsiJl1,โดนใจทาสแมวแบบสุดสุดจ้าโซฟาน้องแมวผ้าขนนุ่มนิ่...,2024-02-17 18:12:33,play,153,pla,NaN,ZDEBT,studio,NaN,NaN,Evening
2095453,65d094b8f9bd7a3f14151fbd,vo0zwSLT4rPBCeNyAmBe1PVsiJl1,โดนใจทาสแมวแบบสุดสุดไปเลยจ้านี่เลยโซฟาน้องแมวผ...,2024-02-17 18:12:56,play,164,pla,NaN,ZDEBT,studio,NaN,NaN,Evening
2095454,65d094b9821dc3a90d441f75,Uddb4c3f85e14a10c53e9b819d6ff7f6e,เจ้าของช่อดอกไม้ในมือเบลล่าราณี,2024-02-17 18:12:57,play,31,tonkhaow,NaN,MHJLT,studio,NaN,NaN,Evening
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3996794,6645c71d988b3c1975b28a3b,jgyS5JScKORA1SMW6UOupYPhx0s1,ตัวชี้วัดที่1ข้อมูลสารสนเทศ1.ศูนย์การเรียนรู้ต...,2024-05-16 15:43:09,play,856,kook,NaN,EMWHQ,studio,NaN,NaN,Afternoon
3996795,6645c71d9a5d24c1e368fee4,AV6pEMSlITYpUqwsdYAoKrPkQXm1,chỉtamớiđượcngồivàongaivàngcủađấngchítôntạisao...,2024-05-16 15:43:09,play,134,vi_phungvantienc7dubi,NaN,NPZIS,studio,NaN,NaN,Afternoon
3996796,6645c71d296c6cc87d7a6548,jS1FJrB3iGYljwCvuwiAT475ybf2,ดีๆเจีโอเว่นนะจ๊ะ,2024-05-16 15:43:09,play,17,max,NaN,LTIFS,studio,NaN,NaN,Afternoon
3996797,6645c720296c6cc87d7a6549,gkqhASeTUWgjSfFQU21o380DdnI3,จำเริญละเท่าที่ว่ามานี้เป็นอันว่ารูปเวทนาสัญญา...,2024-05-16 15:43:12,play,68,jaonai,NaN,RHJDK,studio,NaN,NaN,Afternoon
3996798,6645c728988b3c1975b28a3c,dlpWz5FKNmeS9SVxHrOPbeAv7843,จากการสอนผู้เรียนที่มีความบกพร่องทางสติปัญญาเพ...,2024-05-16 15:43:20,play,537,tonkhaow,NaN,EQUZV,studio,NaN,NaN,Afternoon

In [ ]:
# Join the tables using the 'user_id' column as the common key
df_joined = pd.merge(df_pay2, df_msg2, on='user_id', how='inner')

df_joined

,_id_x,user_id,package_id,price,qrcode,transactionid,datetime_x,ref1,status,point,...,datetime_y,channel,count,speaker,url,audio_id,page,provider,language,time_range_y
0,65ba8072ef414a50d242262a,Ue9959631ee4a073ca289c2c3e688a1bf,pack_299,199,NaN,NaN,2024-02-01 00:16:34,NaN,True,12500,...,2024-02-19 22:37:47,play,523,tonkhaow,NaN,OTMSI,studio,NaN,NaN,Evening
1,65ba8072ef414a50d242262a,Ue9959631ee4a073ca289c2c3e688a1bf,pack_299,199,NaN,NaN,2024-02-01 00:16:34,NaN,True,12500,...,2024-02-19 22:38:09,play,955,tonkhaow,NaN,GYLKD,studio,NaN,NaN,Evening
2,65ba8072ef414a50d242262a,Ue9959631ee4a073ca289c2c3e688a1bf,pack_299,199,NaN,NaN,2024-02-01 00:16:34,NaN,True,12500,...,2024-02-19 22:38:35,download,523,tonkhaow,NaN,OTMSI,NaN,NaN,NaN,Evening
3,65ba8072ef414a50d242262a,Ue9959631ee4a073ca289c2c3e688a1bf,pack_299,199,NaN,NaN,2024-02-01 00:16:34,NaN,True,12500,...,2024-02-19 22:38:48,download,955,tonkhaow,NaN,GYLKD,NaN,NaN,NaN,Evening
4,65ba8072ef414a50d242262a,Ue9959631ee4a073ca289c2c3e688a1bf,pack_299,199,NaN,NaN,2024-02-01 00:16:34,NaN,True,12500,...,2024-02-26 22:47:28,play,944,tonkhaow,NaN,BHAQZ,studio,NaN,NaN,Evening
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1897474,6645be98220f4ce5cd36e1d1,CO5Mnv48mFdvrG46VgHGWNjJewg1,pack_599,599,NaN,NaN,2024-05-16 15:06:48,NaN,True,42000,...,2024-05-16 15:09:18,download,90,jaonai,NaN,GGYJQ,studio,NaN,th,Afternoon
1897475,6645be98220f4ce5cd36e1d1,CO5Mnv48mFdvrG46VgHGWNjJewg1,pack_599,599,NaN,NaN,2024-05-16 15:06:48,NaN,True,42000,...,2024-05-16 15:09:25,download,179,max,NaN,TTDVS,studio,NaN,th,Afternoon
1897476,6645be98220f4ce5cd36e1d1,CO5Mnv48mFdvrG46VgHGWNjJewg1,pack_599,599,NaN,NaN,2024-05-16 15:06:48,NaN,True,42000,...,2024-05-16 15:09:37,download,516,max,NaN,DEJWD,studio,NaN,th,Afternoon
1897477,6645be98220f4ce5cd36e1d1,CO5Mnv48mFdvrG46VgHGWNjJewg1,pack_599,599,NaN,NaN,2024-05-16 15:06:48,NaN,True,42000,...,2024-05-16 15:10:00,download,51,jaonai,NaN,HPSKD,studio,NaN,th,Afternoon
1897478,6645be98220f4ce5cd36e1d1,CO5Mnv48mFdvrG46VgHGWNjJewg1,pack_599,599,NaN,NaN,2024-05-16 15:06:48,NaN,True,42000,...,2024-05-16 15:21:55,download,91,max,NaN,HPPME,studio,NaN,th,Afternoon

In [ ]:
import pandas as pd

# Assuming df_joined_true is already loaded into your environment

# Replace NaN values with 'web' in the 'provider' column
df_joined['provider'] = df_joined['provider'].fillna('web')

df_joined

,_id_x,user_id,package_id,price,qrcode,transactionid,datetime_x,ref1,status,point,...,datetime_y,channel,count,speaker,url,audio_id,page,provider,language,time_range_y
0,65ba8072ef414a50d242262a,Ue9959631ee4a073ca289c2c3e688a1bf,pack_299,199,NaN,NaN,2024-02-01 00:16:34,NaN,True,12500,...,2024-02-19 22:37:47,play,523,tonkhaow,NaN,OTMSI,studio,web,NaN,Evening
1,65ba8072ef414a50d242262a,Ue9959631ee4a073ca289c2c3e688a1bf,pack_299,199,NaN,NaN,2024-02-01 00:16:34,NaN,True,12500,...,2024-02-19 22:38:09,play,955,tonkhaow,NaN,GYLKD,studio,web,NaN,Evening
2,65ba8072ef414a50d242262a,Ue9959631ee4a073ca289c2c3e688a1bf,pack_299,199,NaN,NaN,2024-02-01 00:16:34,NaN,True,12500,...,2024-02-19 22:38:35,download,523,tonkhaow,NaN,OTMSI,NaN,web,NaN,Evening
3,65ba8072ef414a50d242262a,Ue9959631ee4a073ca289c2c3e688a1bf,pack_299,199,NaN,NaN,2024-02-01 00:16:34,NaN,True,12500,...,2024-02-19 22:38:48,download,955,tonkhaow,NaN,GYLKD,NaN,web,NaN,Evening
4,65ba8072ef414a50d242262a,Ue9959631ee4a073ca289c2c3e688a1bf,pack_299,199,NaN,NaN,2024-02-01 00:16:34,NaN,True,12500,...,2024-02-26 22:47:28,play,944,tonkhaow,NaN,BHAQZ,studio,web,NaN,Evening
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1897474,6645be98220f4ce5cd36e1d1,CO5Mnv48mFdvrG46VgHGWNjJewg1,pack_599,599,NaN,NaN,2024-05-16 15:06:48,NaN,True,42000,...,2024-05-16 15:09:18,download,90,jaonai,NaN,GGYJQ,studio,web,th,Afternoon
1897475,6645be98220f4ce5cd36e1d1,CO5Mnv48mFdvrG46VgHGWNjJewg1,pack_599,599,NaN,NaN,2024-05-16 15:06:48,NaN,True,42000,...,2024-05-16 15:09:25,download,179,max,NaN,TTDVS,studio,web,th,Afternoon
1897476,6645be98220f4ce5cd36e1d1,CO5Mnv48mFdvrG46VgHGWNjJewg1,pack_599,599,NaN,NaN,2024-05-16 15:06:48,NaN,True,42000,...,2024-05-16 15:09:37,download,516,max,NaN,DEJWD,studio,web,th,Afternoon
1897477,6645be98220f4ce5cd36e1d1,CO5Mnv48mFdvrG46VgHGWNjJewg1,pack_599,599,NaN,NaN,2024-05-16 15:06:48,NaN,True,42000,...,2024-05-16 15:10:00,download,51,jaonai,NaN,HPSKD,studio,web,th,Afternoon
1897478,6645be98220f4ce5cd36e1d1,CO5Mnv48mFdvrG46VgHGWNjJewg1,pack_599,599,NaN,NaN,2024-05-16 15:06:48,NaN,True,42000,...,2024-05-16 15:21:55,download,91,max,NaN,HPPME,studio,web,th,Afternoon

In [ ]:
df_joined.to_csv("payment_join.csv", index=False, encoding='utf-8')

In [ ]:
df_joined_true.to_csv("payment_join.true.csv", index=False, encoding='utf-8')

In [ ]:
df_joined

,_id_x,user_id,package_id,price,qrcode,transactionid,datetime_x,ref1,status,point,...,datetime_y,channel,count,speaker,url,audio_id,page,provider,language,time_range_y
0,65ba8072ef414a50d242262a,Ue9959631ee4a073ca289c2c3e688a1bf,pack_299,199,NaN,NaN,2024-02-01 00:16:34,NaN,True,12500,...,2024-02-19 22:37:47,play,523,tonkhaow,NaN,OTMSI,studio,web,NaN,Evening
1,65ba8072ef414a50d242262a,Ue9959631ee4a073ca289c2c3e688a1bf,pack_299,199,NaN,NaN,2024-02-01 00:16:34,NaN,True,12500,...,2024-02-19 22:38:09,play,955,tonkhaow,NaN,GYLKD,studio,web,NaN,Evening
2,65ba8072ef414a50d242262a,Ue9959631ee4a073ca289c2c3e688a1bf,pack_299,199,NaN,NaN,2024-02-01 00:16:34,NaN,True,12500,...,2024-02-19 22:38:35,download,523,tonkhaow,NaN,OTMSI,NaN,web,NaN,Evening
3,65ba8072ef414a50d242262a,Ue9959631ee4a073ca289c2c3e688a1bf,pack_299,199,NaN,NaN,2024-02-01 00:16:34,NaN,True,12500,...,2024-02-19 22:38:48,download,955,tonkhaow,NaN,GYLKD,NaN,web,NaN,Evening
4,65ba8072ef414a50d242262a,Ue9959631ee4a073ca289c2c3e688a1bf,pack_299,199,NaN,NaN,2024-02-01 00:16:34,NaN,True,12500,...,2024-02-26 22:47:28,play,944,tonkhaow,NaN,BHAQZ,studio,web,NaN,Evening
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1897474,6645be98220f4ce5cd36e1d1,CO5Mnv48mFdvrG46VgHGWNjJewg1,pack_599,599,NaN,NaN,2024-05-16 15:06:48,NaN,True,42000,...,2024-05-16 15:09:18,download,90,jaonai,NaN,GGYJQ,studio,web,th,Afternoon
1897475,6645be98220f4ce5cd36e1d1,CO5Mnv48mFdvrG46VgHGWNjJewg1,pack_599,599,NaN,NaN,2024-05-16 15:06:48,NaN,True,42000,...,2024-05-16 15:09:25,download,179,max,NaN,TTDVS,studio,web,th,Afternoon
1897476,6645be98220f4ce5cd36e1d1,CO5Mnv48mFdvrG46VgHGWNjJewg1,pack_599,599,NaN,NaN,2024-05-16 15:06:48,NaN,True,42000,...,2024-05-16 15:09:37,download,516,max,NaN,DEJWD,studio,web,th,Afternoon
1897477,6645be98220f4ce5cd36e1d1,CO5Mnv48mFdvrG46VgHGWNjJewg1,pack_599,599,NaN,NaN,2024-05-16 15:06:48,NaN,True,42000,...,2024-05-16 15:10:00,download,51,jaonai,NaN,HPSKD,studio,web,th,Afternoon
1897478,6645be98220f4ce5cd36e1d1,CO5Mnv48mFdvrG46VgHGWNjJewg1,pack_599,599,NaN,NaN,2024-05-16 15:06:48,NaN,True,42000,...,2024-05-16 15:21:55,download,91,max,NaN,HPPME,studio,web,th,Afternoon

In [ ]:
df_joined_true

,_id_x,user_id,package_id,price,qrcode,transactionid,datetime_x,ref1,status,point,...,datetime_y,channel,count,speaker,url,audio_id,page,provider,language,time_range_y
0,65ba8072ef414a50d242262a,Ue9959631ee4a073ca289c2c3e688a1bf,pack_299,199,NaN,NaN,2024-02-01 00:16:34,NaN,True,12500,...,2024-02-19 22:37:47,play,523,tonkhaow,NaN,OTMSI,studio,web,NaN,Evening
1,65ba8072ef414a50d242262a,Ue9959631ee4a073ca289c2c3e688a1bf,pack_299,199,NaN,NaN,2024-02-01 00:16:34,NaN,True,12500,...,2024-02-19 22:38:09,play,955,tonkhaow,NaN,GYLKD,studio,web,NaN,Evening
2,65ba8072ef414a50d242262a,Ue9959631ee4a073ca289c2c3e688a1bf,pack_299,199,NaN,NaN,2024-02-01 00:16:34,NaN,True,12500,...,2024-02-19 22:38:35,download,523,tonkhaow,NaN,OTMSI,NaN,web,NaN,Evening
3,65ba8072ef414a50d242262a,Ue9959631ee4a073ca289c2c3e688a1bf,pack_299,199,NaN,NaN,2024-02-01 00:16:34,NaN,True,12500,...,2024-02-19 22:38:48,download,955,tonkhaow,NaN,GYLKD,NaN,web,NaN,Evening
4,65ba8072ef414a50d242262a,Ue9959631ee4a073ca289c2c3e688a1bf,pack_299,199,NaN,NaN,2024-02-01 00:16:34,NaN,True,12500,...,2024-02-26 22:47:28,play,944,tonkhaow,NaN,BHAQZ,studio,web,NaN,Evening
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1748315,6645be98220f4ce5cd36e1d1,CO5Mnv48mFdvrG46VgHGWNjJewg1,pack_599,599,NaN,NaN,2024-05-16 15:06:48,NaN,True,42000,...,2024-05-16 15:09:18,download,90,jaonai,NaN,GGYJQ,studio,web,th,Afternoon
1748316,6645be98220f4ce5cd36e1d1,CO5Mnv48mFdvrG46VgHGWNjJewg1,pack_599,599,NaN,NaN,2024-05-16 15:06:48,NaN,True,42000,...,2024-05-16 15:09:25,download,179,max,NaN,TTDVS,studio,web,th,Afternoon
1748317,6645be98220f4ce5cd36e1d1,CO5Mnv48mFdvrG46VgHGWNjJewg1,pack_599,599,NaN,NaN,2024-05-16 15:06:48,NaN,True,42000,...,2024-05-16 15:09:37,download,516,max,NaN,DEJWD,studio,web,th,Afternoon
1748318,6645be98220f4ce5cd36e1d1,CO5Mnv48mFdvrG46VgHGWNjJewg1,pack_599,599,NaN,NaN,2024-05-16 15:06:48,NaN,True,42000,...,2024-05-16 15:10:00,download,51,jaonai,NaN,HPSKD,studio,web,th,Afternoon
1748319,6645be98220f4ce5cd36e1d1,CO5Mnv48mFdvrG46VgHGWNjJewg1,pack_599,599,NaN,NaN,2024-05-16 15:06:48,NaN,True,42000,...,2024-05-16 15:21:55,download,91,max,NaN,HPPME,studio,web,th,Afternoon