# Install and Load

In [ ]:
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
import seaborn as sns
import numpy as np
import pandas as pd

In [ ]:
!pip install pymongo[srv]
!pip install dnspython
!pip install --upgrade pymongo[srv]

Collecting pymongo[srv]
  Downloading pymongo-4.7.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (670 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 670.0/670.0 kB 6.4 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo[srv])
  Downloading dnspython-2.6.1-py3-none-any.whl (307 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 307.7/307.7 kB 29.1 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.6.1 pymongo-4.7.2
Requirement already satisfied: dnspython in /usr/local/lib/python3.10/dist-packages (2.6.1)
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.10/dist-packages (4.7.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from pymongo[srv]) (2.6.1)

In [ ]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
uri = "mongodb+srv://kong:2GgNZ7V0V0q5Go9d@botnoivoiceprod.f4igi.mongodb.net/?retryWrites=true&readPreference=secondary&readPreferenceTags=nodeType:ANALYTICS&w=majority&appName=botnoivoiceprod"
# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))
# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [ ]:
paymentdb = client['prod-tts-payment']

In [ ]:
paymentdb.payment.find_one()

{'_id': ObjectId('612e3e206bcbfac605a1c8aa'),
 'user_id': 'U8530610030c64cc1843fd0f95b5f2758',
 'package_id': 150,
 'price': 50,
 'qrcode': '00020101021230820016A0000006770101120115010753600037404021500000220300124303204300012521083121351253037645402505802TH5909LUGENTPAY621207084300012563040936',
 'transactionid': '01075360003740400000220300124343000125210831213512',
 'datetime': '2021-08-31',
 'ref1': 'WI9FIRQJNZGK8Q15Z0M6',
 'status': False}

In [ ]:
paymentdb.message.find_one()

{'_id': ObjectId('612e4174bda79b4dffbfeb84'),
 'user_id': 'U8530610030c64cc1843fd0f95b5f2758',
 'message': 'สวัสดีครับ',
 'datetime': '2021-08-31 21:49:24'}

In [ ]:
df_msg = pd.DataFrame(paymentdb.message.find())
df_msg

,_id,user_id,message,datetime,channel,count,speaker,url,audio_id,page,provider,language
0,612e4174bda79b4dffbfeb84,U8530610030c64cc1843fd0f95b5f2758,สวัสดีครับ,2021-08-31 21:49:24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,612e4174952575b7a2c366c1,U8530610030c64cc1843fd0f95b5f2758,สวัสดีครับ,2021-08-31 21:49:24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,612e41749ac449ff6262dcc0,U8530610030c64cc1843fd0f95b5f2758,สวัสดีครับ,2021-08-31 21:49:24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,612e4174ea19c311d95c33b2,U8530610030c64cc1843fd0f95b5f2758,สวัสดีครับ,2021-08-31 21:49:24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,612e4174bda79b4dffbfeb85,U8530610030c64cc1843fd0f95b5f2758,สวัสดีครับ,2021-08-31 21:49:24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4279728,6654a3df59240fc342a46e66,2gNxgBFrG5bQ1LPOhFfAfCxdspi1,ทำไมถึงควรเลือกใช้EXERCITYเพราะมันมีการผสมผสาน...,2024-05-27 22:16:47.008332,play,537,max,NaN,XQITD,studio,NaN,NaN
4279729,6654a3e0296c6cc87d7af3c2,guest,ไปนอนละนะพี่,2024-05-27 22:16:48.552983,play,12,tonkhaow,NaN,918MF,studio,NaN,NaN
4279730,6654a3e11dfe022861d53318,dSbwthtJk4OkTC760BnlKmf60tl1,โรงเรียนมีหลักสูตรสถานศึกษาและหลักสูตรกลุ่มสาร...,2024-05-27 22:16:49.296570,download,93,pla,NaN,KYJRL,studio,NaN,th
4279731,6654a3e4296c6cc87d7af3c3,2gNxgBFrG5bQ1LPOhFfAfCxdspi1,แผนการสร้างรายได้ของเราคือการจำหน่ายตัวอุปกรณ์...,2024-05-27 22:16:52.201503,play,291,max,NaN,KQNCH,studio,NaN,NaN
4279732,6654a3e5598592252be61add,U54974ec59eeba58f149d2594a08e1257,สวัสดีค่ะบริษัทไทยโอพีพีจำกัด(มหาชน)ยินดีตอนรั...,2024-05-27 22:16:53.162636,play,296,gift,NaN,ESTJB,studio,NaN,NaN

In [ ]:
df_pay  = pd.DataFrame(paymentdb.payment.find())
df_pay

,_id,user_id,package_id,price,qrcode,transactionid,datetime,ref1,status,point,promotion,actual_time,sale_code_name,package_sub,action,subscription,sub_id
0,612e3e206bcbfac605a1c8aa,U8530610030c64cc1843fd0f95b5f2758,150,50,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012521083121...,2021-08-31,WI9FIRQJNZGK8Q15Z0M6,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,612ee88ce827b44913887b68,U1d068ce57105d8463132691e9c2a4c3e,150,50,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012521090109...,2021-09-01,TJCRE95Q3JB73MXDJ8U3,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,613afeffbd6b51f5666f4dca,U3bdae9df091601f970a61ff8e5d5a72a,150,50,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012521091013...,2021-09-10,CW2AEP6Q2EMW3S45KFSN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,613f26db233bb14db8f57c5e,U10e1ae0a6e2e2102ce01e8b3aca82433,credits,9,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012521091317...,2021-09-13,H93RS1DFP8CWQIFAN2ED,False,18,0,NaN,NaN,NaN,NaN,NaN,NaN
4,613f2949233bb14db8f57c60,U3bdae9df091601f970a61ff8e5d5a72a,credits,1,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012521091317...,2021-09-13,0QEZB1JQBB5EY5W0CRFU,False,3,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
546038,66550781feeac66167b2c1e7,IwB1ZDoSqcYGTne66KE7KtEjkE12,pack_299,199,NaN,NaN,2024-05-28 05:21:53,NaN,True,12500,NaN,2024-05-28 12:21:53.550000,,NaN,NaN,Free,NaN
546039,66551674feeac66167b2c1e8,6QAYs1UTLBSUMGmmFok8ejV1QCD2,pack_299,199,NaN,NaN,2024-05-28 06:25:40,NaN,True,12500,NaN,2024-05-28 13:25:40.165000,,NaN,NaN,Free,NaN
546040,665520c3feeac66167b2c1ea,u8Me5tZnAhc1pAEdjaXFOZ3gdOj2,pack_299,200,NaN,NaN,2024-05-28 07:09:39,NaN,True,12500,NaN,2024-05-28 14:09:39.294000,,NaN,NaN,Free,NaN
546041,665528dffeeac66167b2c1ec,U003420a7b3ff4390867f774afdde4205,pack_99,99,NaN,NaN,2024-05-28 07:44:15,NaN,True,4100,NaN,2024-05-28 14:44:15.516000,,NaN,NaN,Free,NaN
546042,66552abbfeeac66167b2c1ed,Uf0ffcf913ed40cf66df25cd40c1137ba,pack_99,99,NaN,NaN,2024-05-28 07:52:11,NaN,True,4100,NaN,2024-05-28 14:52:11.974000,,NaN,NaN,Free,NaN

In [ ]:
filtered_df = df_pay[df_pay['package_id'].isin(['credit', 'credits'])]
filtered_df

,_id,user_id,package_id,price,qrcode,transactionid,datetime,ref1,status,point,promotion,actual_time,sale_code_name,package_sub,action,subscription,sub_id
3,613f26db233bb14db8f57c5e,U10e1ae0a6e2e2102ce01e8b3aca82433,credits,9,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012521091317...,2021-09-13,H93RS1DFP8CWQIFAN2ED,False,18,0,NaN,NaN,NaN,NaN,NaN,NaN
4,613f2949233bb14db8f57c60,U3bdae9df091601f970a61ff8e5d5a72a,credits,1,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012521091317...,2021-09-13,0QEZB1JQBB5EY5W0CRFU,False,3,0,NaN,NaN,NaN,NaN,NaN,NaN
5,613f29a7248714283f2ff4d9,U1d068ce57105d8463132691e9c2a4c3e,credits,13,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012521091317...,2021-09-13,MNTOAQG48YQ4ZAEQ1Q9X,False,27,0,NaN,NaN,NaN,NaN,NaN,NaN
6,613f29af248714283f2ff4da,U1d068ce57105d8463132691e9c2a4c3e,credits,13,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012521091317...,2021-09-13,ZZH9W19F8S1Q7SQPBLH5,False,27,0,NaN,NaN,NaN,NaN,NaN,NaN
7,613f2adcfef29652afa16919,U3bdae9df091601f970a61ff8e5d5a72a,credits,1,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012521091317...,2021-09-13,BD32I7WI0VDQGEUA2I7K,False,3,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
546020,6654a727feeac66167b2c1c6,U627fb2ab53d0381be31be8ec80630c08,credit,50,NaN,NaN,2024-05-27 22:30:47,NaN,True,2000,NaN,2024-05-28 05:30:47.016000,,NaN,NaN,Free,NaN
546022,6654a79efeeac66167b2c1ca,UWZLWWodtRTOsUniP2ZcG5KpqPR2,credit,120,NaN,NaN,2024-05-27 22:32:46,NaN,True,4000,NaN,2024-05-28 05:32:46.233000,,NaN,NaN,Free,NaN
546026,6654b387feeac66167b2c1d0,6eGgep87olR21xiiGJVKorhYv9t2,credit,50,NaN,NaN,2024-05-27 23:23:35,NaN,True,2000,NaN,2024-05-28 06:23:35.045000,,NaN,NaN,Free,NaN
546033,6654ced4feeac66167b2c1de,Uf5b04d34ce08944b0893bac31d03673f,credit,63,NaN,NaN,2024-05-28 01:20:04,NaN,True,2520,NaN,2024-05-28 08:20:04.224000,,NaN,NaN,Free,NaN
546034,6654d147feeac66167b2c1e0,0IDGpaUMQNOE1C6XcBKDfsvWCrj2,credit,15,NaN,NaN,2024-05-28 01:30:31,NaN,True,600,NaN,2024-05-28 08:30:31.147000,,NaN,NaN,Free,NaN

In [ ]:
credit_df = df_pay_copy[df_pay_copy['package_id'] == 'credit']

# แปลงคอลัมน์ datetime_column ให้เป็น datetime หากยังไม่ได้แปลง
#credit_df['datetime_column'] = pd.to_datetime(credit_df['datetime_column'], errors='coerce')

# หาวันเวลาล่าสุดที่มีค่า package_id เป็น 'credit'
latest_datetime = credit_df['datetime'].max()
latest_datetime

Timestamp('2024-05-28 01:30:31')

In [ ]:
credits_df = df_pay_copy[df_pay_copy['package_id'] == 'credits']

# แปลงคอลัมน์ datetime_column ให้เป็น datetime หากยังไม่ได้แปลง
#credit_df['datetime_column'] = pd.to_datetime(credit_df['datetime_column'], errors='coerce')

# หาวันเวลาล่าสุดที่มีค่า package_id เป็น 'credit'
latest_datetime = credits_df['datetime'].max()
latest_datetime

Timestamp('2024-05-02 08:47:48')

In [ ]:
df_pay.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 546043 entries, 0 to 546042
Data columns (total 17 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   _id             546043 non-null  object
 1   user_id         546034 non-null  object
 2   package_id      545845 non-null  object
 3   price           546043 non-null  object
 4   qrcode          513235 non-null  object
 5   transactionid   513235 non-null  object
 6   datetime        545997 non-null  object
 7   ref1            513235 non-null  object
 8   status          545702 non-null  object
 9   point           545638 non-null  object
 10  promotion       512831 non-null  object
 11  actual_time     542495 non-null  object
 12  sale_code_name  32970 non-null   object
 13  package_sub     198 non-null     object
 14  action          5013 non-null    object
 15  subscription    18027 non-null   object
 16  sub_id          393 non-null     object
dtypes: object(17)
memory usage: 70.8+ MB

In [ ]:
df_pay['package_id'].unique()

array([150, 'credits', 'package_100', 'package_400', 'package_50',
       'package_500', 'package_300', 600, 'package_200', 'package_1600',
       'package_6400', 'package_3200', 'package_800', '6400', '',
       'credit', nan, 'package_1000', 'Basic', 'Pro', 'Advanced', 'Free',
       'Compensate_basic', 'mini', 'Mini', 'Pro plus', 'Unlimited',
       'pack_299', 'pack_179', 'pack_99', 'pack_5000', 'pack_2500',
       'pack_1299', 'pack_599', 'pack_1099', 'NoAds', 'pack_13500', '3',
       '1', 'pack_20000', 'pack_499', 'pack_1699', 'pack_2499', '6', '4',
       'pack_10000', 'pack_600', '5', 'pack_750', 'pack_2000'],
      dtype=object)

In [ ]:
df_pay['promotion'].unique()

array([nan, '0', '50', '250', '100', '5000', '150', '400', '2000', '1300',
       '3500', '25000', '220000', '75000', '8000', 110.00000000000001,
       242000.00000000003, 0], dtype=object)

In [ ]:
filtered_df = df_pay[df_pay['package_id'].isin(['6400'])]
filtered_df

,_id,user_id,package_id,price,qrcode,transactionid,datetime,ref1,status,point,promotion,actual_time,sale_code_name,package_sub,action,subscription,sub_id
400450,63b6aac05c1c7cd2bc0dc7e4,DjknuAsl4yez1mmbJc2pC1K4TSP2,6400,6410,NaN,NaN,2023-01-05 15:03:52,NaN,True,320000,220000,2023-01-05 15:03:52.871000,NaN,NaN,NaN,NaN,NaN

# Message

In [ ]:
df2 = df_msg.copy()

In [ ]:
# แปลงคอลัมน์ datetime เป็น string
df2['datetime'] = df2['datetime'].astype(str)

# แยกวันที่และเวลาออกจากกัน
df2['datetime'] = df2['datetime'].str.split(' ')

# เก็บเฉพาะวันที่
df2['date'] = df2['datetime'].str[0]

# เก็บเฉพาะเวลา
df2['time'] = df2['datetime'].str[1]

# แปลงวันที่เป็นรูปแบบ datetime
df2['date'] = pd.to_datetime(df2['date'])

# แปลงเวลาเป็นรูปแบบ datetime
df2['time'] = pd.to_datetime(df2['time'])

# รวมวันที่และเวลาเข้าด้วยกัน
df2['datetime'] = pd.to_datetime(df2['date'].dt.strftime('%Y-%m-%d') + ' ' + df2['time'].dt.strftime('%H:%M:%S'))

# ลบ columns 'date' และ 'time' ที่ไม่จำเป็น
df2.drop(columns=['time'], inplace=True)

<ipython-input-10-389380449c23>:17: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df2['time'] = pd.to_datetime(df2['time'])

In [ ]:
df_2024_feb = df2[(df2['datetime'].dt.year == 2024) & (df2['datetime'].dt.month >= 2)]

In [ ]:
df_2024_feb

,_id,user_id,message,datetime,channel,count,speaker,url,audio_id,page,provider,language,date
2095450,65d0948df281dda53fd6d31f,U69019814430a41adf5b58c0478022744,รับซ่อมคอมทั่วราชอาณาจักรไม่ว่าจะเป็นการอัพเกร...,2024-02-17 18:12:13,play,150,bo,NaN,BPRSV,studio,NaN,NaN,2024-02-17
2095451,65d094952869e9a28f087a44,U69019814430a41adf5b58c0478022744,รับซ่อมคอมทั่วราชอาณาจักรไม่ว่าจะเป็นการอัพเกร...,2024-02-17 18:12:21,play,150,bo,NaN,OVCLD,studio,NaN,NaN,2024-02-17
2095452,65d094a173574e4954ff1c7d,vo0zwSLT4rPBCeNyAmBe1PVsiJl1,โดนใจทาสแมวแบบสุดสุดจ้าโซฟาน้องแมวผ้าขนนุ่มนิ่...,2024-02-17 18:12:33,play,153,pla,NaN,ZDEBT,studio,NaN,NaN,2024-02-17
2095453,65d094b8f9bd7a3f14151fbd,vo0zwSLT4rPBCeNyAmBe1PVsiJl1,โดนใจทาสแมวแบบสุดสุดไปเลยจ้านี่เลยโซฟาน้องแมวผ...,2024-02-17 18:12:56,play,164,pla,NaN,ZDEBT,studio,NaN,NaN,2024-02-17
2095454,65d094b9821dc3a90d441f75,Uddb4c3f85e14a10c53e9b819d6ff7f6e,เจ้าของช่อดอกไม้ในมือเบลล่าราณี,2024-02-17 18:12:57,play,31,tonkhaow,NaN,MHJLT,studio,NaN,NaN,2024-02-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4106851,664c2a8959240fc342a4179b,8WTz5F7kcJZBD28LPZCYP6oDb2U2,ทั้งนี๋จะขอนำเสนอผลการปฏิบัติงานในลำดับต่อไป,2024-05-21 12:00:57,play,44,tonkhaow,NaN,PNFKH,studio,NaN,NaN,2024-05-21
4106852,664c2a899d6f009300538f02,iVZQW3yf91dcc5PPCAuYZXH1yRQ2,นายชัยวัฒน์แก้วไชยะได้นำนโยบายของรัฐมนตรีว่ากา...,2024-05-21 12:00:57,play,333,tonkhaow,NaN,MVWJZ,studio,NaN,NaN,2024-05-21
4106853,664c2a8c296c6cc87d7a9cce,6WyL0nxZQ1WfNraA98ljPNehf3P2,วัวแก่กินหญ้าอ่อน,2024-05-21 12:01:00,play,17,meena,NaN,LLJZH,studio,NaN,NaN,2024-05-21
4106854,664c2a8e598592252be5c4a3,1B4A4GHWTCSqmAuFIvGiqI9yLdc2,ยินดีต้อนรับทุกท่านสู่บ้านเนินสะเดาอำเภอคีรีมา...,2024-05-21 12:01:02,play,105,max,NaN,IYQUS,studio,NaN,NaN,2024-05-21
4106855,664c2a94598592252be5c4a4,k1jtvaDkGbZQkFJHFQYOYQAjjbD2,ช่วงนี้เข้าฤดูฝนแล้วไอ้พื้นปูนที่เอียงๆที่เคยเ...,2024-05-21 12:01:08,play,539,somsamai,NaN,HBFEE,studio,NaN,NaN,2024-05-21

In [ ]:
df_msg_2024 = df2[(df2['datetime'].dt.year == 2024) & (df2['datetime'].dt.month >= 1)]
df_msg_2024

,_id,user_id,message,datetime,channel,count,speaker,url,audio_id,page,provider,language,date
2095450,65d0948df281dda53fd6d31f,U69019814430a41adf5b58c0478022744,รับซ่อมคอมทั่วราชอาณาจักรไม่ว่าจะเป็นการอัพเกร...,2024-02-17 18:12:13,play,150,bo,NaN,BPRSV,studio,NaN,NaN,2024-02-17
2095451,65d094952869e9a28f087a44,U69019814430a41adf5b58c0478022744,รับซ่อมคอมทั่วราชอาณาจักรไม่ว่าจะเป็นการอัพเกร...,2024-02-17 18:12:21,play,150,bo,NaN,OVCLD,studio,NaN,NaN,2024-02-17
2095452,65d094a173574e4954ff1c7d,vo0zwSLT4rPBCeNyAmBe1PVsiJl1,โดนใจทาสแมวแบบสุดสุดจ้าโซฟาน้องแมวผ้าขนนุ่มนิ่...,2024-02-17 18:12:33,play,153,pla,NaN,ZDEBT,studio,NaN,NaN,2024-02-17
2095453,65d094b8f9bd7a3f14151fbd,vo0zwSLT4rPBCeNyAmBe1PVsiJl1,โดนใจทาสแมวแบบสุดสุดไปเลยจ้านี่เลยโซฟาน้องแมวผ...,2024-02-17 18:12:56,play,164,pla,NaN,ZDEBT,studio,NaN,NaN,2024-02-17
2095454,65d094b9821dc3a90d441f75,Uddb4c3f85e14a10c53e9b819d6ff7f6e,เจ้าของช่อดอกไม้ในมือเบลล่าราณี,2024-02-17 18:12:57,play,31,tonkhaow,NaN,MHJLT,studio,NaN,NaN,2024-02-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4155912,664eb12b7f3651c60c8ae0d8,GOTYgSIoPLXdEJFdYE7k0VI552K2,ขณะนี้เป็นเวลานอกทำการกรุณาติดต่อใหม่อีกครั้งใ...,2024-05-23 09:59:55,download,116,pla,NaN,QRDGL,studio,NaN,th,2024-05-23
4155913,664eb12b7f3651c60c8ae0d6,GOTYgSIoPLXdEJFdYE7k0VI552K2,บริษัทไมน์สตรีมเทคโนโลยีจำกัดสวัสดีค่ะ,2024-05-23 09:59:55,download,38,pla,NaN,PMYSV,studio,NaN,th,2024-05-23
4155914,664eb12b7f3651c60c8ae0d7,GOTYgSIoPLXdEJFdYE7k0VI552K2,กรุณากดหมายเลขภายในที่ท่านต้องการติดต่อติดต่อฝ...,2024-05-23 09:59:55,download,124,pla,NaN,MDBEX,studio,NaN,th,2024-05-23
4155915,664eb12b7f3651c60c8ae0d9,GOTYgSIoPLXdEJFdYE7k0VI552K2,เนื่องจากวันนี้เป็นวันหยุดนักขัตฤกษ์กรุณาติดต่...,2024-05-23 09:59:55,download,78,pla,NaN,XEVYJ,studio,NaN,th,2024-05-23
4155916,664eb12c296c6cc87d7ab543,guest,ชุบหน่อยค่ะ,2024-05-23 09:59:56,play,11,max,NaN,JO4EJ,studio,NaN,NaN,2024-05-23

In [ ]:
df_msg_2024

,_id,user_id,message,datetime,channel,count,speaker,url,audio_id,page,provider,language,date
2095450,65d0948df281dda53fd6d31f,U69019814430a41adf5b58c0478022744,รับซ่อมคอมทั่วราชอาณาจักรไม่ว่าจะเป็นการอัพเกร...,2024-02-17 18:12:13,play,150,bo,NaN,BPRSV,studio,web,NaN,2024-02-17
2095451,65d094952869e9a28f087a44,U69019814430a41adf5b58c0478022744,รับซ่อมคอมทั่วราชอาณาจักรไม่ว่าจะเป็นการอัพเกร...,2024-02-17 18:12:21,play,150,bo,NaN,OVCLD,studio,web,NaN,2024-02-17
2095452,65d094a173574e4954ff1c7d,vo0zwSLT4rPBCeNyAmBe1PVsiJl1,โดนใจทาสแมวแบบสุดสุดจ้าโซฟาน้องแมวผ้าขนนุ่มนิ่...,2024-02-17 18:12:33,play,153,pla,NaN,ZDEBT,studio,web,NaN,2024-02-17
2095453,65d094b8f9bd7a3f14151fbd,vo0zwSLT4rPBCeNyAmBe1PVsiJl1,โดนใจทาสแมวแบบสุดสุดไปเลยจ้านี่เลยโซฟาน้องแมวผ...,2024-02-17 18:12:56,play,164,pla,NaN,ZDEBT,studio,web,NaN,2024-02-17
2095454,65d094b9821dc3a90d441f75,Uddb4c3f85e14a10c53e9b819d6ff7f6e,เจ้าของช่อดอกไม้ในมือเบลล่าราณี,2024-02-17 18:12:57,play,31,tonkhaow,NaN,MHJLT,studio,web,NaN,2024-02-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4155912,664eb12b7f3651c60c8ae0d8,GOTYgSIoPLXdEJFdYE7k0VI552K2,ขณะนี้เป็นเวลานอกทำการกรุณาติดต่อใหม่อีกครั้งใ...,2024-05-23 09:59:55,download,116,pla,NaN,QRDGL,studio,web,th,2024-05-23
4155913,664eb12b7f3651c60c8ae0d6,GOTYgSIoPLXdEJFdYE7k0VI552K2,บริษัทไมน์สตรีมเทคโนโลยีจำกัดสวัสดีค่ะ,2024-05-23 09:59:55,download,38,pla,NaN,PMYSV,studio,web,th,2024-05-23
4155914,664eb12b7f3651c60c8ae0d7,GOTYgSIoPLXdEJFdYE7k0VI552K2,กรุณากดหมายเลขภายในที่ท่านต้องการติดต่อติดต่อฝ...,2024-05-23 09:59:55,download,124,pla,NaN,MDBEX,studio,web,th,2024-05-23
4155915,664eb12b7f3651c60c8ae0d9,GOTYgSIoPLXdEJFdYE7k0VI552K2,เนื่องจากวันนี้เป็นวันหยุดนักขัตฤกษ์กรุณาติดต่...,2024-05-23 09:59:55,download,78,pla,NaN,XEVYJ,studio,web,th,2024-05-23
4155916,664eb12c296c6cc87d7ab543,guest,ชุบหน่อยค่ะ,2024-05-23 09:59:56,play,11,max,NaN,JO4EJ,studio,web,NaN,2024-05-23

In [ ]:
df_msg_2024['provider'] = df_msg_2024['provider'].fillna('web')

<ipython-input-16-4d50749be9cd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_msg_2024['provider'] = df_msg_2024['provider'].fillna('web')

In [ ]:
 df_msg_2024.to_csv("message_2024.csv", index=False, escapechar='\\', encoding='utf-8' , )

# Pay - Export file

In [ ]:
df_pay_copy = df_pay.copy()

In [ ]:
df_pay_copy

,_id,user_id,package_id,price,qrcode,transactionid,datetime,ref1,status,point,promotion,actual_time,sale_code_name,package_sub,action,subscription,sub_id
0,612e3e206bcbfac605a1c8aa,U8530610030c64cc1843fd0f95b5f2758,150,50,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012521083121...,2021-08-31,WI9FIRQJNZGK8Q15Z0M6,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,612ee88ce827b44913887b68,U1d068ce57105d8463132691e9c2a4c3e,150,50,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012521090109...,2021-09-01,TJCRE95Q3JB73MXDJ8U3,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,613afeffbd6b51f5666f4dca,U3bdae9df091601f970a61ff8e5d5a72a,150,50,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012521091013...,2021-09-10,CW2AEP6Q2EMW3S45KFSN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,613f26db233bb14db8f57c5e,U10e1ae0a6e2e2102ce01e8b3aca82433,credits,9,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012521091317...,2021-09-13,H93RS1DFP8CWQIFAN2ED,False,18,0,NaN,NaN,NaN,NaN,NaN,NaN
4,613f2949233bb14db8f57c60,U3bdae9df091601f970a61ff8e5d5a72a,credits,1,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012521091317...,2021-09-13,0QEZB1JQBB5EY5W0CRFU,False,3,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
545636,664e9057feeac66167b2bf2b,eMh1QwvGEth9qXbr36c404ipKsa2,pack_750,400,NaN,NaN,2024-05-23 07:39:51,NaN,True,30000,NaN,2024-05-23 14:39:51.143000,,NaN,NaN,Free,NaN
545637,664e96b1feeac66167b2bf2d,GXYhwDLLZUbltaNimcC2TpNrpw32,pack_499,349,NaN,NaN,2024-05-23 08:06:57,NaN,True,23500,NaN,2024-05-23 15:06:57.413000,,NaN,NaN,Free,NaN
545638,664e9700feeac66167b2bf30,R8pYA2Kp5weaySJw20NSDHXb5qf1,pack_750,400,NaN,NaN,2024-05-23 08:08:16,NaN,True,30000,NaN,2024-05-23 15:08:16.005000,,NaN,NaN,Free,NaN
545639,664ea015feeac66167b2bf32,udam8NYf16Y5UlhnIau0s7j4YQn1,pack_99,99,NaN,NaN,2024-05-23 08:47:01,NaN,True,4100,NaN,2024-05-23 15:47:01.331000,,NaN,NaN,Free,NaN
545640,664ea7a2feeac66167b2bf33,8UecNeq5XLcIV1RCjfaXEc8yCB32,pack_299,199,NaN,NaN,2024-05-23 09:19:14,NaN,True,12500,NaN,2024-05-23 16:19:14.508000,,NaN,NaN,Free,NaN

In [ ]:
# แปลงคอลัมน์ datetime เป็น string
df_pay_copy['datetime'] = df_pay_copy['datetime'].astype(str)

# แยกวันที่และเวลาออกจากกัน
df_pay_copy['datetime'] = df_pay_copy['datetime'].str.split(' ')

# เก็บเฉพาะวันที่
df_pay_copy['date'] = df_pay_copy['datetime'].str[0]

# เก็บเฉพาะเวลา
df_pay_copy['time'] = df_pay_copy['datetime'].str[1]

# แปลงวันที่เป็นรูปแบบ datetime
df_pay_copy['date'] = pd.to_datetime(df_pay_copy['date'])

# แปลงเวลาเป็นรูปแบบ datetime
df_pay_copy['time'] = pd.to_datetime(df_pay_copy['time'])

# รวมวันที่และเวลาเข้าด้วยกัน
df_pay_copy['datetime'] = pd.to_datetime(df_pay_copy['date'].dt.strftime('%Y-%m-%d') + ' ' + df_pay_copy['time'].dt.strftime('%H:%M:%S'))

# ลบ columns 'date' และ 'time' ที่ไม่จำเป็น
df_pay_copy.drop(columns=['time'], inplace=True)

<ipython-input-21-36cdde2ac2ec>:17: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_pay_copy['time'] = pd.to_datetime(df_pay_copy['time'])

In [ ]:
df_pay_2024 = df_pay_copy[(df_pay_copy['datetime'].dt.year == 2024) & (df_pay_copy['datetime'].dt.month >= 1)]

In [ ]:
df_pay_2024

,_id,user_id,package_id,price,qrcode,transactionid,datetime,ref1,status,point,promotion,actual_time,sale_code_name,package_sub,action,subscription,sub_id,date
531770,6591e8703e76b8103e4c9e3f,k3TDM6AB20aKB384TgMl8GqXQpK2,NoAds,29,,,2024-01-01 05:17:20,,True,0,0,2024-01-01 05:17:20.557000,NaN,NaN,subscription,NaN,NaN,2024-01-01
531773,65921d9e2e0126e0a61fe430,Uc2c3f2953c8bce372f1bf83caca2a6c2,credits,6,00020101021230720016A0000006770101120115010556...,010556021375502TTSU1BQ4AH8ELE1CX5R4IBNQR,2024-01-01 02:04:14,TTSU1BQ4AH8ELE1CX5R4,True,217,0,2024-01-01 02:04:14.289000,NaN,NaN,NaN,NaN,NaN,2024-01-01
531774,659227ab3a08d1938f5b5703,xfxlfT2nLcaFxvkLvuclelInaK53,credits,2,00020101021230720016A0000006770101120115010556...,010556021375502TTSBYWBR27WBGA7CH93NIBNQR,2024-01-01 02:47:07,TTSBYWBR27WBGA7CH93N,True,71,0,2024-01-01 02:47:07.023000,NaN,NaN,NaN,NaN,NaN,2024-01-01
531775,659229692e0126e0a61fe431,C9PCYn3LDEQkFed3ZlQHXgLroJ02,credit,10,NaN,NaN,2024-01-01 09:54:33,NaN,True,400,NaN,2024-01-01 09:54:33.206000,,NaN,NaN,Free,NaN,2024-01-01
531776,65922d5d71456522f4cba629,U54d46af4e1944843d6ef0ae5967d0486,credits,1,00020101021230720016A0000006770101120115010556...,010556021375502TTSDYLCZ31RHEJ8M4WXJIBNQR,2024-01-01 03:11:25,TTSDYLCZ31RHEJ8M4WXJ,False,28,0,2024-01-01 03:11:25.801000,NaN,NaN,NaN,NaN,NaN,2024-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
545636,664e9057feeac66167b2bf2b,eMh1QwvGEth9qXbr36c404ipKsa2,pack_750,400,NaN,NaN,2024-05-23 07:39:51,NaN,True,30000,NaN,2024-05-23 14:39:51.143000,,NaN,NaN,Free,NaN,2024-05-23
545637,664e96b1feeac66167b2bf2d,GXYhwDLLZUbltaNimcC2TpNrpw32,pack_499,349,NaN,NaN,2024-05-23 08:06:57,NaN,True,23500,NaN,2024-05-23 15:06:57.413000,,NaN,NaN,Free,NaN,2024-05-23
545638,664e9700feeac66167b2bf30,R8pYA2Kp5weaySJw20NSDHXb5qf1,pack_750,400,NaN,NaN,2024-05-23 08:08:16,NaN,True,30000,NaN,2024-05-23 15:08:16.005000,,NaN,NaN,Free,NaN,2024-05-23
545639,664ea015feeac66167b2bf32,udam8NYf16Y5UlhnIau0s7j4YQn1,pack_99,99,NaN,NaN,2024-05-23 08:47:01,NaN,True,4100,NaN,2024-05-23 15:47:01.331000,,NaN,NaN,Free,NaN,2024-05-23
545640,664ea7a2feeac66167b2bf33,8UecNeq5XLcIV1RCjfaXEc8yCB32,pack_299,199,NaN,NaN,2024-05-23 09:19:14,NaN,True,12500,NaN,2024-05-23 16:19:14.508000,,NaN,NaN,Free,NaN,2024-05-23

In [ ]:
 df_pay_2024.to_csv("pay_2024.csv", index=False, escapechar='\\', encoding='utf-8' , )

# คนที่จ่าย 1ครั้ง 2 คร้้ง

## clean

In [ ]:
df_pay_copy = df_pay.copy()

In [ ]:
df_pay_copy

,_id,user_id,package_id,price,qrcode,transactionid,datetime,ref1,status,point,promotion,actual_time,sale_code_name,package_sub,action,subscription,sub_id
0,612e3e206bcbfac605a1c8aa,U8530610030c64cc1843fd0f95b5f2758,150,50,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012521083121...,2021-08-31,WI9FIRQJNZGK8Q15Z0M6,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,612ee88ce827b44913887b68,U1d068ce57105d8463132691e9c2a4c3e,150,50,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012521090109...,2021-09-01,TJCRE95Q3JB73MXDJ8U3,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,613afeffbd6b51f5666f4dca,U3bdae9df091601f970a61ff8e5d5a72a,150,50,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012521091013...,2021-09-10,CW2AEP6Q2EMW3S45KFSN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,613f26db233bb14db8f57c5e,U10e1ae0a6e2e2102ce01e8b3aca82433,credits,9,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012521091317...,2021-09-13,H93RS1DFP8CWQIFAN2ED,False,18,0,NaN,NaN,NaN,NaN,NaN,NaN
4,613f2949233bb14db8f57c60,U3bdae9df091601f970a61ff8e5d5a72a,credits,1,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012521091317...,2021-09-13,0QEZB1JQBB5EY5W0CRFU,False,3,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
546038,66550781feeac66167b2c1e7,IwB1ZDoSqcYGTne66KE7KtEjkE12,pack_299,199,NaN,NaN,2024-05-28 05:21:53,NaN,True,12500,NaN,2024-05-28 12:21:53.550000,,NaN,NaN,Free,NaN
546039,66551674feeac66167b2c1e8,6QAYs1UTLBSUMGmmFok8ejV1QCD2,pack_299,199,NaN,NaN,2024-05-28 06:25:40,NaN,True,12500,NaN,2024-05-28 13:25:40.165000,,NaN,NaN,Free,NaN
546040,665520c3feeac66167b2c1ea,u8Me5tZnAhc1pAEdjaXFOZ3gdOj2,pack_299,200,NaN,NaN,2024-05-28 07:09:39,NaN,True,12500,NaN,2024-05-28 14:09:39.294000,,NaN,NaN,Free,NaN
546041,665528dffeeac66167b2c1ec,U003420a7b3ff4390867f774afdde4205,pack_99,99,NaN,NaN,2024-05-28 07:44:15,NaN,True,4100,NaN,2024-05-28 14:44:15.516000,,NaN,NaN,Free,NaN
546042,66552abbfeeac66167b2c1ed,Uf0ffcf913ed40cf66df25cd40c1137ba,pack_99,99,NaN,NaN,2024-05-28 07:52:11,NaN,True,4100,NaN,2024-05-28 14:52:11.974000,,NaN,NaN,Free,NaN

In [ ]:
# แปลงคอลัมน์ datetime เป็น string
df_pay_copy['datetime'] = df_pay_copy['datetime'].astype(str)

# แยกวันที่และเวลาออกจากกัน
df_pay_copy['datetime'] = df_pay_copy['datetime'].str.split(' ')

# เก็บเฉพาะวันที่
df_pay_copy['date'] = df_pay_copy['datetime'].str[0]

# เก็บเฉพาะเวลา
df_pay_copy['time'] = df_pay_copy['datetime'].str[1]

# แปลงวันที่เป็นรูปแบบ datetime
df_pay_copy['date'] = pd.to_datetime(df_pay_copy['date'])

# แปลงเวลาเป็นรูปแบบ datetime
df_pay_copy['time'] = pd.to_datetime(df_pay_copy['time'])

# รวมวันที่และเวลาเข้าด้วยกัน
df_pay_copy['datetime'] = pd.to_datetime(df_pay_copy['date'].dt.strftime('%Y-%m-%d') + ' ' + df_pay_copy['time'].dt.strftime('%H:%M:%S'))

# ลบ columns 'date' และ 'time' ที่ไม่จำเป็น
df_pay_copy.drop(columns=['time'], inplace=True)

<ipython-input-11-36cdde2ac2ec>:17: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_pay_copy['time'] = pd.to_datetime(df_pay_copy['time'])

In [ ]:
#df_pay_2024 = df_pay_copy[(df_pay_copy['datetime'].dt.year == 2024) & (df_pay_copy['datetime'].dt.month >= 1)]

In [ ]:
#df_pay_2024

In [ ]:
df_pay_true = df_pay_copy[df_pay_copy['status'] == True]
df_pay_true

,_id,user_id,package_id,price,qrcode,transactionid,datetime,ref1,status,point,promotion,actual_time,sale_code_name,package_sub,action,subscription,sub_id,date
33,614d8724487220b1bc8ef02f,U6ddab545aff3f93f1645d0144c811364,credits,2,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012521092415...,NaT,8VJBZOII4HHSEBR833X0,True,128,0,NaN,NaN,NaN,NaN,NaN,NaN,2021-09-24
35,614dc471487220b1bc8ef032,U27ec2d29f33e95bfa9fa36866718160d,package_50,50,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012521092419...,NaT,6IRZTZ3OJZ1AH3NT67E3,True,2500,100,NaN,NaN,NaN,NaN,NaN,NaN,2021-09-24
40,614f0224487220b1bc8ef039,U3bdae9df091601f970a61ff8e5d5a72a,credits,1,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012521092518...,NaT,94ILSKL0HI9GY9SMHC9C,True,26,0,NaN,NaN,NaN,NaN,NaN,NaN,2021-09-25
43,61524b3a7e08c711bcc763bb,U988ae1b48c47564ba834ceb84de5c54b,package_500,500,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012521092805...,NaT,D1SHKXZBINAMV7QN9AAQ,True,25000,5000,NaN,NaN,NaN,NaN,NaN,NaN,2021-09-28
63,615a82df487220b1bc8ef061,U91ac72eed62590c7abf3ec66283d10b4,package_50,50,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012521100411...,NaT,EDHF1ZA3KBEKRWQ77II7,True,2500,100,NaN,NaN,NaN,NaN,NaN,NaN,2021-10-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
546038,66550781feeac66167b2c1e7,IwB1ZDoSqcYGTne66KE7KtEjkE12,pack_299,199,NaN,NaN,2024-05-28 05:21:53,NaN,True,12500,NaN,2024-05-28 12:21:53.550000,,NaN,NaN,Free,NaN,2024-05-28
546039,66551674feeac66167b2c1e8,6QAYs1UTLBSUMGmmFok8ejV1QCD2,pack_299,199,NaN,NaN,2024-05-28 06:25:40,NaN,True,12500,NaN,2024-05-28 13:25:40.165000,,NaN,NaN,Free,NaN,2024-05-28
546040,665520c3feeac66167b2c1ea,u8Me5tZnAhc1pAEdjaXFOZ3gdOj2,pack_299,200,NaN,NaN,2024-05-28 07:09:39,NaN,True,12500,NaN,2024-05-28 14:09:39.294000,,NaN,NaN,Free,NaN,2024-05-28
546041,665528dffeeac66167b2c1ec,U003420a7b3ff4390867f774afdde4205,pack_99,99,NaN,NaN,2024-05-28 07:44:15,NaN,True,4100,NaN,2024-05-28 14:44:15.516000,,NaN,NaN,Free,NaN,2024-05-28
546042,66552abbfeeac66167b2c1ed,Uf0ffcf913ed40cf66df25cd40c1137ba,pack_99,99,NaN,NaN,2024-05-28 07:52:11,NaN,True,4100,NaN,2024-05-28 14:52:11.974000,,NaN,NaN,Free,NaN,2024-05-28

In [ ]:
df_pay_true_cleaned = df_pay_true.dropna(subset=['datetime'])
df_pay_true_cleaned

,_id,user_id,package_id,price,qrcode,transactionid,datetime,ref1,status,point,promotion,actual_time,sale_code_name,package_sub,action,subscription,sub_id,date
3166,6178fba3473a4d7dd9d34ac4,Ud4ee9a6c7d63e5a514689fd96d2314e0,credits,1,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012521102714...,2021-10-27 14:11:31,Y7UAITVHW97ICYD8R6QA,True,46,0,2021-10-27 07:11:31.807000,NaN,NaN,NaN,NaN,NaN,2021-10-27
3168,6178fbffb999a636ae06f780,Ud4ee9a6c7d63e5a514689fd96d2314e0,credits,1,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012521102714...,2021-10-27 14:13:03,ATG4S6H0S18Y4MX3BMHU,True,55,0,2021-10-27 07:13:03.563000,NaN,NaN,NaN,NaN,NaN,2021-10-27
3169,6178fc17473a4d7dd9d34ac6,Ud4ee9a6c7d63e5a514689fd96d2314e0,credits,1,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012521102714...,2021-10-27 14:13:27,9PXWXQAEJEGIFI9BOMOP,True,81,0,2021-10-27 07:13:27.556000,NaN,NaN,NaN,NaN,NaN,2021-10-27
3227,6178ef87473a4d7dd9d34ac1,U3de6a7fa64f0e26d50b9fc26851eb84d,credits,1,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012521102713...,2021-10-27 13:19:51,CKFE6NJ1642WA6J733SI,True,13,0,2021-10-27 06:19:51.907000,NaN,NaN,NaN,NaN,NaN,2021-10-27
3231,6178fbe5b999a636ae06f77f,Ud4ee9a6c7d63e5a514689fd96d2314e0,credits,1,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012521102714...,2021-10-27 14:12:37,GEJPS0M8D1GSVLYDRF1T,True,38,0,2021-10-27 07:12:37.601000,NaN,NaN,NaN,NaN,NaN,2021-10-27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
546038,66550781feeac66167b2c1e7,IwB1ZDoSqcYGTne66KE7KtEjkE12,pack_299,199,NaN,NaN,2024-05-28 05:21:53,NaN,True,12500,NaN,2024-05-28 12:21:53.550000,,NaN,NaN,Free,NaN,2024-05-28
546039,66551674feeac66167b2c1e8,6QAYs1UTLBSUMGmmFok8ejV1QCD2,pack_299,199,NaN,NaN,2024-05-28 06:25:40,NaN,True,12500,NaN,2024-05-28 13:25:40.165000,,NaN,NaN,Free,NaN,2024-05-28
546040,665520c3feeac66167b2c1ea,u8Me5tZnAhc1pAEdjaXFOZ3gdOj2,pack_299,200,NaN,NaN,2024-05-28 07:09:39,NaN,True,12500,NaN,2024-05-28 14:09:39.294000,,NaN,NaN,Free,NaN,2024-05-28
546041,665528dffeeac66167b2c1ec,U003420a7b3ff4390867f774afdde4205,pack_99,99,NaN,NaN,2024-05-28 07:44:15,NaN,True,4100,NaN,2024-05-28 14:44:15.516000,,NaN,NaN,Free,NaN,2024-05-28
546042,66552abbfeeac66167b2c1ed,Uf0ffcf913ed40cf66df25cd40c1137ba,pack_99,99,NaN,NaN,2024-05-28 07:52:11,NaN,True,4100,NaN,2024-05-28 14:52:11.974000,,NaN,NaN,Free,NaN,2024-05-28

## Loop ทำกับข้อมูลทั้งหมดก่อนให้ได้วันที่จ่ายครั้งแรก แล้วค่อยกรองเอาแค่คนที่เติมครั้งแรกตอน2024
- ถ้ากรองก่อนทำฟังก์ชั่นอาจจะติดลูกค้าเก่าที่เคยเติมเมื่อปีที่แล้วมาด้วย

In [ ]:
# สร้างฟังก์ชั่นเพื่อทำ pivot table ใหม่
def create_user_summary(df):
    users = df['user_id'].unique()
    user_data = []

    for user in users:
        user_df = df[df['user_id'] == user].sort_values(by='datetime')
        user_dict = {'user_id': user}

        for idx, row in enumerate(user_df.itertuples(), start=1):
            user_dict[f'date_{idx}'] = row.datetime
            user_dict[f'package_id_{idx}'] = row.package_id
            user_dict[f'price_{idx}'] = row.price
            user_dict[f'point_{idx}'] = row.point

        user_data.append(user_dict)

    return pd.DataFrame(user_data)

# เรียกใช้ฟังก์ชั่นเพื่อสร้างตารางใหม่

In [ ]:
df_user_summary = create_user_summary(df_pay_true_cleaned)
df_user_summary

,user_id,date_1,package_id_1,price_1,point_1,date_2,package_id_2,price_2,point_2,date_3,...,price_239,point_239,date_240,package_id_240,price_240,point_240,date_241,package_id_241,price_241,point_241
0,Ud4ee9a6c7d63e5a514689fd96d2314e0,2021-10-27 14:11:31,credits,1,46,2021-10-27 14:12:37,credits,1,38,2021-10-27 14:13:03,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
1,U3de6a7fa64f0e26d50b9fc26851eb84d,2021-10-27 13:19:51,credits,1,13,2021-10-27 13:21:40,credits,1,32,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
2,U2a419ea5c20c3bdd8d5e7619965752bb,2021-10-27 14:27:59,credits,9,478,2021-11-26 18:41:52,credits,8,407,2022-04-16 11:00:17,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
3,U7c71421e4cec183c2f36b46f8cb21d52,2021-10-27 14:42:53,credits,1,23,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
4,U797f12ced240244f8448d0f0c542974d,2021-10-27 14:24:24,package_100,100,5000,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41204,0IDGpaUMQNOE1C6XcBKDfsvWCrj2,2024-05-28 01:30:31,credit,15,600,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41205,IwB1ZDoSqcYGTne66KE7KtEjkE12,2024-05-28 01:36:15,pack_99,99,4100,2024-05-28 03:13:18,pack_299,199,12500,2024-05-28 05:21:53,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41206,6QAYs1UTLBSUMGmmFok8ejV1QCD2,2024-05-28 06:25:40,pack_299,199,12500,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41207,u8Me5tZnAhc1pAEdjaXFOZ3gdOj2,2024-05-28 07:09:39,pack_299,200,12500,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41208,Uf0ffcf913ed40cf66df25cd40c1137ba,2024-05-28 07:52:11,pack_99,99,4100,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN

In [ ]:
df_user_summary_2024 = df_user_summary[df_user_summary['date_1'].dt.year >= 2024]
df_user_summary_2024

,user_id,date_1,package_id_1,price_1,point_1,date_2,package_id_2,price_2,point_2,date_3,...,price_239,point_239,date_240,package_id_240,price_240,point_240,date_241,package_id_241,price_241,point_241
34177,Uc2c3f2953c8bce372f1bf83caca2a6c2,2024-01-01 02:04:14,credits,6,217,2024-01-01 10:24:51,credit,10,400,2024-01-02 16:37:32,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
34178,UyUUO3Mp7gQMBooCfXoDxso1ucD2,2024-01-01 03:23:08,credits,3,96,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
34179,cLjhV8oMIraDsthPVgWBQEtWC7S2,2024-01-01 13:20:39,credit,12,480,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
34180,xmS22BjDuuN2YIkDiEpj3Q9YsQK2,2024-01-01 08:08:07,credits,4,134,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
34181,U4a6e9bff8df95fa690c31524a2554822,2024-01-01 16:13:14,pack_99,99,4100,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41204,0IDGpaUMQNOE1C6XcBKDfsvWCrj2,2024-05-28 01:30:31,credit,15,600,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41205,IwB1ZDoSqcYGTne66KE7KtEjkE12,2024-05-28 01:36:15,pack_99,99,4100,2024-05-28 03:13:18,pack_299,199,12500,2024-05-28 05:21:53,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41206,6QAYs1UTLBSUMGmmFok8ejV1QCD2,2024-05-28 06:25:40,pack_299,199,12500,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41207,u8Me5tZnAhc1pAEdjaXFOZ3gdOj2,2024-05-28 07:09:39,pack_299,200,12500,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41208,Uf0ffcf913ed40cf66df25cd40c1137ba,2024-05-28 07:52:11,pack_99,99,4100,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN

In [ ]:
#คนที่เติมหลายครั้ง
df_user_manytime = df_user_summary_2024.dropna(subset=['date_2'])
df_user_manytime

,user_id,date_1,package_id_1,price_1,point_1,date_2,package_id_2,price_2,point_2,date_3,...,price_239,point_239,date_240,package_id_240,price_240,point_240,date_241,package_id_241,price_241,point_241
34177,Uc2c3f2953c8bce372f1bf83caca2a6c2,2024-01-01 02:04:14,credits,6,217,2024-01-01 10:24:51,credit,10,400,2024-01-02 16:37:32,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
34182,U48d1cfe0d86806723f989d4bce05a94d,2024-01-01 16:22:30,credit,14,560,2024-02-04 01:49:23,credit,100,4000,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
34186,DZhxbSlKDVeZnIvxCx5Q96vZZk82,2024-01-01 20:02:41,pack_299,199,12500,2024-02-06 16:58:22,pack_299,199,12500,2024-03-02 10:05:57,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
34187,cJm19icN6AVVzSe79FBHrTd6uXZ2,2024-01-01 20:17:40,credit,18,720,2024-01-01 20:22:58,credit,42,1680,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
34191,U9227c24b34477ccbffb893a6902e1faa,2024-01-01 14:35:48,credits,8,309,2024-01-01 15:27:48,credits,8,309,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41048,lz4BXyn3XWY16Ynli6PJmX10cS52,2024-05-25 11:58:36,credit,100,4000,2024-05-26 14:27:21,credit,100,4000,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41069,Y87F5psuncOoVfJb8MSdwMhG33q2,2024-05-25 11:11:30,credit,5,200,2024-05-25 11:30:20,credit,3,126,2024-05-25 16:24:20,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41078,cvgJ0ntcWFYpdv3zHIyDR5WPQ1E2,2024-05-25 12:02:03,credit,1,59,2024-05-25 18:38:39,credit,13,520,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41092,dlyXvn0Jooaqmb8b1b9A3HdstP72,2024-05-25 23:24:56,credit,100,4000,2024-05-26 01:39:02,credit,100,4000,2024-05-26 14:30:46,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41096,Hi4FvGqsVmWCEMJaVfzq9r93d7p1,2024-05-25 20:05:42,credit,5,200,2024-05-26 00:52:26,pack_99,99,4100,2024-05-26 01:52:48,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN

In [ ]:
transaction_columns = [col for col in df_user_summary_2024.columns if col.startswith('date_')]

df_user_manytime['transaction_count'] = df_user_manytime[transaction_columns].notna().sum(axis=1)

<ipython-input-47-ca1ad191b33a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_user_manytime['transaction_count'] = df_user_manytime[transaction_columns].notna().sum(axis=1)

In [ ]:
transaction_columns = [col for col in df_user_summary_2024.columns if col.startswith('date_')]

df_user_summary_2024['transaction_count'] = df_user_summary_2024[transaction_columns].notna().sum(axis=1)

<ipython-input-20-cbf710cb9df9>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_user_summary_2024['transaction_count'] = df_user_summary_2024[transaction_columns].notna().sum(axis=1)

In [ ]:
df_user_summary_2024

,user_id,date_1,package_id_1,price_1,point_1,date_2,package_id_2,price_2,point_2,date_3,...,point_239,date_240,package_id_240,price_240,point_240,date_241,package_id_241,price_241,point_241,transaction_count
34177,Uc2c3f2953c8bce372f1bf83caca2a6c2,2024-01-01 02:04:14,credits,6,217,2024-01-01 10:24:51,credit,10,400,2024-01-02 16:37:32,...,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,4
34178,UyUUO3Mp7gQMBooCfXoDxso1ucD2,2024-01-01 03:23:08,credits,3,96,NaT,NaN,NaN,NaN,NaT,...,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,1
34179,cLjhV8oMIraDsthPVgWBQEtWC7S2,2024-01-01 13:20:39,credit,12,480,NaT,NaN,NaN,NaN,NaT,...,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,1
34180,xmS22BjDuuN2YIkDiEpj3Q9YsQK2,2024-01-01 08:08:07,credits,4,134,NaT,NaN,NaN,NaN,NaT,...,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,1
34181,U4a6e9bff8df95fa690c31524a2554822,2024-01-01 16:13:14,pack_99,99,4100,NaT,NaN,NaN,NaN,NaT,...,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41170,DOZBFRMWaYTSdDoFTciIjsSZ2Bb2,2024-05-27 15:07:51,pack_99,99,4100,NaT,NaN,NaN,NaN,NaT,...,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,1
41171,Yhaxb6aIMxd16sYPUeUr9aQSqC33,2024-05-27 15:14:12,pack_750,400,30000,NaT,NaN,NaN,NaN,NaT,...,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,1
41172,vpiw8JcnxlYY5ylPd4yMUyGZXEr1,2024-05-27 15:23:33,credit,100,4000,NaT,NaN,NaN,NaN,NaT,...,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,1
41173,HKjGVgwV5aepNxHlsN7b0uXuLaq2,2024-05-27 15:28:18,pack_750,400,30000,NaT,NaN,NaN,NaN,NaT,...,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,1
41174,sUaKEIz0MoWqQ0Duora11jXCy002,2024-05-27 15:34:20,pack_99,99,4100,NaT,NaN,NaN,NaN,NaT,...,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,1

In [ ]:
df_user_manytime

,user_id,date_1,package_id_1,price_1,point_1,date_2,package_id_2,price_2,point_2,date_3,...,point_239,date_240,package_id_240,price_240,point_240,date_241,package_id_241,price_241,point_241,transaction_count
34177,Uc2c3f2953c8bce372f1bf83caca2a6c2,2024-01-01 02:04:14,credits,6,217,2024-01-01 10:24:51,credit,10,400,2024-01-02 16:37:32,...,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,4
34182,U48d1cfe0d86806723f989d4bce05a94d,2024-01-01 16:22:30,credit,14,560,2024-02-04 01:49:23,credit,100,4000,NaT,...,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2
34186,DZhxbSlKDVeZnIvxCx5Q96vZZk82,2024-01-01 20:02:41,pack_299,199,12500,2024-02-06 16:58:22,pack_299,199,12500,2024-03-02 10:05:57,...,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,3
34187,cJm19icN6AVVzSe79FBHrTd6uXZ2,2024-01-01 20:17:40,credit,18,720,2024-01-01 20:22:58,credit,42,1680,NaT,...,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2
34191,U9227c24b34477ccbffb893a6902e1faa,2024-01-01 14:35:48,credits,8,309,2024-01-01 15:27:48,credits,8,309,NaT,...,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41048,lz4BXyn3XWY16Ynli6PJmX10cS52,2024-05-25 11:58:36,credit,100,4000,2024-05-26 14:27:21,credit,100,4000,NaT,...,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2
41069,Y87F5psuncOoVfJb8MSdwMhG33q2,2024-05-25 11:11:30,credit,5,200,2024-05-25 11:30:20,credit,3,126,2024-05-25 16:24:20,...,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,4
41078,cvgJ0ntcWFYpdv3zHIyDR5WPQ1E2,2024-05-25 12:02:03,credit,1,59,2024-05-25 18:38:39,credit,13,520,NaT,...,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2
41092,dlyXvn0Jooaqmb8b1b9A3HdstP72,2024-05-25 23:24:56,credit,100,4000,2024-05-26 01:39:02,credit,100,4000,2024-05-26 14:30:46,...,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,3
41096,Hi4FvGqsVmWCEMJaVfzq9r93d7p1,2024-05-25 20:05:42,credit,5,200,2024-05-26 00:52:26,pack_99,99,4100,2024-05-26 01:52:48,...,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,3

In [ ]:


df_user_manytime[df_user_manytime['user_id'] == 'iVZQW3yf91dcc5PPCAuYZXH1yRQ2']

,user_id,date_1,package_id_1,price_1,point_1,date_2,package_id_2,price_2,point_2,date_3,...,point_239,date_240,package_id_240,price_240,point_240,date_241,package_id_241,price_241,point_241,transaction_count
40858,iVZQW3yf91dcc5PPCAuYZXH1yRQ2,2024-05-21 05:31:34,credit,5,200,2024-05-21 05:43:15,credit,7,282,2024-05-21 06:14:01,...,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2

In [ ]:
df_user_onetime = df_user_summary_2024[df_user_summary_2024['date_2'].isna()]
df_user_onetime

,user_id,date_1,package_id_1,price_1,point_1,date_2,package_id_2,price_2,point_2,date_3,...,price_239,point_239,date_240,package_id_240,price_240,point_240,date_241,package_id_241,price_241,point_241
34178,UyUUO3Mp7gQMBooCfXoDxso1ucD2,2024-01-01 03:23:08,credits,3,96,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
34179,cLjhV8oMIraDsthPVgWBQEtWC7S2,2024-01-01 13:20:39,credit,12,480,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
34180,xmS22BjDuuN2YIkDiEpj3Q9YsQK2,2024-01-01 08:08:07,credits,4,134,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
34181,U4a6e9bff8df95fa690c31524a2554822,2024-01-01 16:13:14,pack_99,99,4100,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
34183,8pK3BtUnErRBMdCHGBknzx8QZPG3,2024-01-01 16:32:25,credit,29,1160,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41107,Adqbwr5XLxMLghIRu2Mb9Wb7Kgp1,2024-05-26 14:17:30,pack_99,99,4100,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41108,NlJ5RPXjIaTPNBkYE3rvRxjfq0D3,2024-05-26 14:17:42,credit,25,1000,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41109,WhXuzVmtoNWKFpEz6mMTtiabXQI3,2024-05-26 14:31:59,credit,53,2120,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41110,xjYm0N1IvCPGxYPgSystDLbf1K73,2024-05-26 14:38:26,pack_299,200,12500,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41111,Ud153b089185522142113053310966f34,2024-05-26 14:38:31,pack_99,99,4100,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN

In [ ]:
columns_to_keep = ['user_id', 'date_1', 'package_id_1', 'price_1', 'point_1']
df_user_onetime = df_user_onetime[columns_to_keep]
df_user_onetime

,user_id,date_1,package_id_1,price_1,point_1
34178,UyUUO3Mp7gQMBooCfXoDxso1ucD2,2024-01-01 03:23:08,credits,3,96
34179,cLjhV8oMIraDsthPVgWBQEtWC7S2,2024-01-01 13:20:39,credit,12,480
34180,xmS22BjDuuN2YIkDiEpj3Q9YsQK2,2024-01-01 08:08:07,credits,4,134
34181,U4a6e9bff8df95fa690c31524a2554822,2024-01-01 16:13:14,pack_99,99,4100
34183,8pK3BtUnErRBMdCHGBknzx8QZPG3,2024-01-01 16:32:25,credit,29,1160
...,...,...,...,...,...
41107,Adqbwr5XLxMLghIRu2Mb9Wb7Kgp1,2024-05-26 14:17:30,pack_99,99,4100
41108,NlJ5RPXjIaTPNBkYE3rvRxjfq0D3,2024-05-26 14:17:42,credit,25,1000
41109,WhXuzVmtoNWKFpEz6mMTtiabXQI3,2024-05-26 14:31:59,credit,53,2120
41110,xjYm0N1IvCPGxYPgSystDLbf1K73,2024-05-26 14:38:26,pack_299,200,12500
41111,Ud153b089185522142113053310966f34,2024-05-26 14:38:31,pack_99,99,4100

In [ ]:
# Export DataFrame to CSV file
csv_file_path = 'df_user_one_time.csv'
df_user_onetime.to_csv(csv_file_path, index=False)

In [ ]:
# Export DataFrame to CSV file
csv_file_path = 'df_user_manytime.csv'
df_user_manytime.to_csv(csv_file_path, index=False)

In [ ]:
columns_to_keep = ['user_id', 'date_1', 'package_id_1', 'price_1', 'point_1', 'date_2', 'package_id_2', 'price_2', 'point_2','transaction_count']
df_user_manytime_keeponly_2times = df_user_manytime[columns_to_keep]
df_user_manytime_keeponly_2times

,user_id,date_1,package_id_1,price_1,point_1,date_2,package_id_2,price_2,point_2,transaction_count
34177,Uc2c3f2953c8bce372f1bf83caca2a6c2,2024-01-01 02:04:14,credits,6,217,2024-01-01 10:24:51,credit,10,400,4
34182,U48d1cfe0d86806723f989d4bce05a94d,2024-01-01 16:22:30,credit,14,560,2024-02-04 01:49:23,credit,100,4000,2
34186,DZhxbSlKDVeZnIvxCx5Q96vZZk82,2024-01-01 20:02:41,pack_299,199,12500,2024-02-06 16:58:22,pack_299,199,12500,3
34187,cJm19icN6AVVzSe79FBHrTd6uXZ2,2024-01-01 20:17:40,credit,18,720,2024-01-01 20:22:58,credit,42,1680,2
34191,U9227c24b34477ccbffb893a6902e1faa,2024-01-01 14:35:48,credits,8,309,2024-01-01 15:27:48,credits,8,309,2
...,...,...,...,...,...,...,...,...,...,...
41048,lz4BXyn3XWY16Ynli6PJmX10cS52,2024-05-25 11:58:36,credit,100,4000,2024-05-26 14:27:21,credit,100,4000,2
41069,Y87F5psuncOoVfJb8MSdwMhG33q2,2024-05-25 11:11:30,credit,5,200,2024-05-25 11:30:20,credit,3,126,4
41078,cvgJ0ntcWFYpdv3zHIyDR5WPQ1E2,2024-05-25 12:02:03,credit,1,59,2024-05-25 18:38:39,credit,13,520,2
41092,dlyXvn0Jooaqmb8b1b9A3HdstP72,2024-05-25 23:24:56,credit,100,4000,2024-05-26 01:39:02,credit,100,4000,3
41096,Hi4FvGqsVmWCEMJaVfzq9r93d7p1,2024-05-25 20:05:42,credit,5,200,2024-05-26 00:52:26,pack_99,99,4100,3

In [ ]:
# Export DataFrame to CSV file
csv_file_path = 'df_user_manytime_butkeeponly_2times.csv'
df_user_manytime_keeponly_2times.to_csv(csv_file_path, index=False)

## date diff

In [ ]:
df_user_manytime['days_between_1_2'] = (df_user_manytime['date_2'] - df_user_manytime['date_1']).dt.days

<ipython-input-52-6e07afbf9c97>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_user_manytime['days_between_1_2'] = (df_user_manytime['date_2'] - df_user_manytime['date_1']).dt.days

In [ ]:
df_user_manytime

,user_id,date_1,package_id_1,price_1,point_1,date_2,package_id_2,price_2,point_2,date_3,...,date_240,package_id_240,price_240,point_240,date_241,package_id_241,price_241,point_241,transaction_count,days_between_1_2
34177,Uc2c3f2953c8bce372f1bf83caca2a6c2,2024-01-01 02:04:14,credits,6,217,2024-01-01 10:24:51,credit,10,400,2024-01-02 16:37:32,...,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,4,0
34182,U48d1cfe0d86806723f989d4bce05a94d,2024-01-01 16:22:30,credit,14,560,2024-02-04 01:49:23,credit,100,4000,NaT,...,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2,33
34186,DZhxbSlKDVeZnIvxCx5Q96vZZk82,2024-01-01 20:02:41,pack_299,199,12500,2024-02-06 16:58:22,pack_299,199,12500,2024-03-02 10:05:57,...,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,3,35
34187,cJm19icN6AVVzSe79FBHrTd6uXZ2,2024-01-01 20:17:40,credit,18,720,2024-01-01 20:22:58,credit,42,1680,NaT,...,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2,0
34191,U9227c24b34477ccbffb893a6902e1faa,2024-01-01 14:35:48,credits,8,309,2024-01-01 15:27:48,credits,8,309,NaT,...,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41048,lz4BXyn3XWY16Ynli6PJmX10cS52,2024-05-25 11:58:36,credit,100,4000,2024-05-26 14:27:21,credit,100,4000,NaT,...,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2,1
41069,Y87F5psuncOoVfJb8MSdwMhG33q2,2024-05-25 11:11:30,credit,5,200,2024-05-25 11:30:20,credit,3,126,2024-05-25 16:24:20,...,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,4,0
41078,cvgJ0ntcWFYpdv3zHIyDR5WPQ1E2,2024-05-25 12:02:03,credit,1,59,2024-05-25 18:38:39,credit,13,520,NaT,...,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2,0
41092,dlyXvn0Jooaqmb8b1b9A3HdstP72,2024-05-25 23:24:56,credit,100,4000,2024-05-26 01:39:02,credit,100,4000,2024-05-26 14:30:46,...,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,3,0
41096,Hi4FvGqsVmWCEMJaVfzq9r93d7p1,2024-05-25 20:05:42,credit,5,200,2024-05-26 00:52:26,pack_99,99,4100,2024-05-26 01:52:48,...,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,3,0

In [ ]:
df_user_summary_2024['days_between_1_2'] = (df_user_summary_2024['date_2'] - df_user_summary_2024['date_1']).dt.days
df_user_summary_2024

<ipython-input-19-be717de86891>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_user_summary_2024['days_between_1_2'] = (df_user_summary_2024['date_2'] - df_user_summary_2024['date_1']).dt.days

,user_id,date_1,package_id_1,price_1,point_1,date_2,package_id_2,price_2,point_2,date_3,...,point_239,date_240,package_id_240,price_240,point_240,date_241,package_id_241,price_241,point_241,days_between_1_2
34177,Uc2c3f2953c8bce372f1bf83caca2a6c2,2024-01-01 02:04:14,credits,6,217,2024-01-01 10:24:51,credit,10,400,2024-01-02 16:37:32,...,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,0.0
34178,UyUUO3Mp7gQMBooCfXoDxso1ucD2,2024-01-01 03:23:08,credits,3,96,NaT,NaN,NaN,NaN,NaT,...,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
34179,cLjhV8oMIraDsthPVgWBQEtWC7S2,2024-01-01 13:20:39,credit,12,480,NaT,NaN,NaN,NaN,NaT,...,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
34180,xmS22BjDuuN2YIkDiEpj3Q9YsQK2,2024-01-01 08:08:07,credits,4,134,NaT,NaN,NaN,NaN,NaT,...,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
34181,U4a6e9bff8df95fa690c31524a2554822,2024-01-01 16:13:14,pack_99,99,4100,NaT,NaN,NaN,NaN,NaT,...,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41204,0IDGpaUMQNOE1C6XcBKDfsvWCrj2,2024-05-28 01:30:31,credit,15,600,NaT,NaN,NaN,NaN,NaT,...,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
41205,IwB1ZDoSqcYGTne66KE7KtEjkE12,2024-05-28 01:36:15,pack_99,99,4100,2024-05-28 03:13:18,pack_299,199,12500,2024-05-28 05:21:53,...,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,0.0
41206,6QAYs1UTLBSUMGmmFok8ejV1QCD2,2024-05-28 06:25:40,pack_299,199,12500,NaT,NaN,NaN,NaN,NaT,...,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
41207,u8Me5tZnAhc1pAEdjaXFOZ3gdOj2,2024-05-28 07:09:39,pack_299,200,12500,NaT,NaN,NaN,NaN,NaT,...,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
41208,Uf0ffcf913ed40cf66df25cd40c1137ba,2024-05-28 07:52:11,pack_99,99,4100,NaT,NaN,NaN,NaN,NaT,...,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN

In [ ]:
"""
import pandas as pd

def calculate_average_transaction_gap(dataframe, start_column='date_1'):
    """
    ฟังก์ชันนี้ใช้สำหรับคำนวณค่าเฉลี่ยระยะห่างระหว่างการทำธุรกรรมของแต่ละผู้ใช้

    Args:
    - dataframe: DataFrame ที่มีข้อมูลการทำธุรกรรมของผู้ใช้
    - start_column: ชื่อคอลัมน์ที่เก็บวันที่ของการทำธุรกรรมครั้งแรก (default เป็น 'date_1')

    Returns:
    - DataFrame ที่เพิ่มคอลัมน์ 'average_days_between_transactions' ซึ่งแสดงค่าเฉลี่ยระยะห่างระหว่างการทำธุรกรรมของแต่ละผู้ใช้
    """
    # หาคอลัมน์ที่มีจำนวนข้อมูลมากที่สุด
    max_count = 0
    for col in dataframe.columns:
        if 'date_' in col:
            count = dataframe[col].count()
            if count > max_count:
                max_count = count
                end_column = col

    # แปลงวันที่เป็น datetime object
    dataframe[start_column] = pd.to_datetime(dataframe[start_column])
    dataframe[end_column] = pd.to_datetime(dataframe[end_column])


    # คำนวณระยะห่างระหว่างการทำธุรกรรม
    dataframe['days_between_transactions'] = (dataframe[end_column] - dataframe[start_column]).dt.days

    # คำนวณค่าเฉลี่ยระยะห่างของแต่ละครั้ง
    average_days_between_transactions = dataframe.groupby('user_id')['days_between_transactions'].mean()

    # เพิ่มคอลัมน์ระยะห่างเฉลี่ยของแต่ละครั้ง
    dataframe['average_days_between_transactions'] = dataframe['user_id'].map(average_days_between_transactions)

    return dataframe


# ตัวอย่างการใช้งานฟังก์ชัน
# สร้าง DataFrame ตัวอย่าง
data = {
    'user_id': [1, 2, 3, 4],
    'date_1': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04'],
    'date_2': ['2023-08-28', '2023-08-31', '2023-08-30', '2023-09-01']
}
df_user_summary_2024 = pd.DataFrame(data)

# เรียกใช้ฟังก์ชัน
result_df = calculate_average_transaction_gap(df_user_summary_2024)

# แสดงผลลัพธ์
print(result_df)
"""

"\n# ตัวอย่างการใช้งานฟังก์ชัน\n# สร้าง DataFrame ตัวอย่าง\ndata = {\n    'user_id': [1, 2, 3, 4],\n    'date_1': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04'],\n    'date_2': ['2023-08-28', '2023-08-31', '2023-08-30', '2023-09-01']\n}\ndf_user_summary_2024 = pd.DataFrame(data)\n\n# เรียกใช้ฟังก์ชัน\nresult_df = calculate_average_transaction_gap(df_user_summary_2024)\n\n# แสดงผลลัพธ์\nprint(result_df)\n"

In [ ]:
#result_df = calculate_average_transaction_gap(df_user_manytime)
#result_df

<ipython-input-62-af3ce09b32d3>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe[start_column] = pd.to_datetime(dataframe[start_column])
<ipython-input-62-af3ce09b32d3>:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe[end_column] = pd.to_datetime(dataframe[end_column])
<ipython-input-62-af3ce09b32d3>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['days_between_transactions'] = (dataframe[end_column] - dataframe[start_column]).dt.days
<ipython-input-62-af3ce09b32d3>:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['average_days_between_transactions'] = dataframe['user_id'].map(average_days_between_transactions)

,user_id,date_1,package_id_1,price_1,point_1,date_2,package_id_2,price_2,point_2,date_3,...,price_240,point_240,date_241,package_id_241,price_241,point_241,transaction_count,days_between_1_2,days_between_transactions,average_days_between_transactions
34177,Uc2c3f2953c8bce372f1bf83caca2a6c2,2024-01-01 02:04:14,credits,6,217,2024-01-01 10:24:51,credit,10,400,2024-01-02 16:37:32,...,NaN,NaN,NaT,NaN,NaN,NaN,4,0,0,0.0
34182,U48d1cfe0d86806723f989d4bce05a94d,2024-01-01 16:22:30,credit,14,560,2024-02-04 01:49:23,credit,100,4000,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,2,33,0,0.0
34186,DZhxbSlKDVeZnIvxCx5Q96vZZk82,2024-01-01 20:02:41,pack_299,199,12500,2024-02-06 16:58:22,pack_299,199,12500,2024-03-02 10:05:57,...,NaN,NaN,NaT,NaN,NaN,NaN,3,35,0,0.0
34187,cJm19icN6AVVzSe79FBHrTd6uXZ2,2024-01-01 20:17:40,credit,18,720,2024-01-01 20:22:58,credit,42,1680,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,2,0,0,0.0
34191,U9227c24b34477ccbffb893a6902e1faa,2024-01-01 14:35:48,credits,8,309,2024-01-01 15:27:48,credits,8,309,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,2,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41048,lz4BXyn3XWY16Ynli6PJmX10cS52,2024-05-25 11:58:36,credit,100,4000,2024-05-26 14:27:21,credit,100,4000,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,2,1,0,0.0
41069,Y87F5psuncOoVfJb8MSdwMhG33q2,2024-05-25 11:11:30,credit,5,200,2024-05-25 11:30:20,credit,3,126,2024-05-25 16:24:20,...,NaN,NaN,NaT,NaN,NaN,NaN,4,0,0,0.0
41078,cvgJ0ntcWFYpdv3zHIyDR5WPQ1E2,2024-05-25 12:02:03,credit,1,59,2024-05-25 18:38:39,credit,13,520,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,2,0,0,0.0
41092,dlyXvn0Jooaqmb8b1b9A3HdstP72,2024-05-25 23:24:56,credit,100,4000,2024-05-26 01:39:02,credit,100,4000,2024-05-26 14:30:46,...,NaN,NaN,NaT,NaN,NaN,NaN,3,0,0,0.0
41096,Hi4FvGqsVmWCEMJaVfzq9r93d7p1,2024-05-25 20:05:42,credit,5,200,2024-05-26 00:52:26,pack_99,99,4100,2024-05-26 01:52:48,...,NaN,NaN,NaT,NaN,NaN,NaN,3,0,0,0.0

In [ ]:
# ใช้ count() เพื่อนับจำนวนข้อมูลที่ไม่เป็นค่าว่างในแต่ละคอลัมน์
not_null_count = df_user_manytime.count()

# หาคอลัมน์ที่มีค่าเท่ากับ 0 เพื่อหา date ที่ข้อมูลไม่ถึง
not_reached_date = not_null_count[not_null_count == 0].index

# แสดงคอลัมน์ที่ไม่มีข้อมูลถึง date ที่เท่าไร
print("Columns not reached to a certain date:", not_reached_date)

Columns not reached to a certain date: Index(['date_99', 'package_id_99', 'price_99', 'point_99', 'date_100',
       'package_id_100', 'price_100', 'point_100', 'date_101',
       'package_id_101',
       ...
       'price_239', 'point_239', 'date_240', 'package_id_240', 'price_240',
       'point_240', 'date_241', 'package_id_241', 'price_241', 'point_241'],
      dtype='object', length=572)

In [ ]:
not_reached_date

Index(['date_99', 'package_id_99', 'price_99', 'point_99', 'date_100',
       'package_id_100', 'price_100', 'point_100', 'date_101',
       'package_id_101',
       ...
       'price_239', 'point_239', 'date_240', 'package_id_240', 'price_240',
       'point_240', 'date_241', 'package_id_241', 'price_241', 'point_241'],
      dtype='object', length=572)

In [ ]:
df_user_manytime.drop(columns=not_reached_date, inplace=True)
df_user_manytime

<ipython-input-70-720cdf4d4d5c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_user_manytime.drop(columns=not_reached_date, inplace=True)

,user_id,date_1,package_id_1,price_1,point_1,date_2,package_id_2,price_2,point_2,date_3,...,point_97,date_98,package_id_98,price_98,point_98,transaction_count,days_between_1_2,days_between_transactions,average_days_between_transactions,last_filled_date
34177,Uc2c3f2953c8bce372f1bf83caca2a6c2,2024-01-01 02:04:14,credits,6,217,2024-01-01 10:24:51,credit,10,400,2024-01-02 16:37:32,...,NaN,NaT,NaN,NaN,NaN,4,0,0,0.0,days
34182,U48d1cfe0d86806723f989d4bce05a94d,2024-01-01 16:22:30,credit,14,560,2024-02-04 01:49:23,credit,100,4000,NaT,...,NaN,NaT,NaN,NaN,NaN,2,33,0,0.0,days
34186,DZhxbSlKDVeZnIvxCx5Q96vZZk82,2024-01-01 20:02:41,pack_299,199,12500,2024-02-06 16:58:22,pack_299,199,12500,2024-03-02 10:05:57,...,NaN,NaT,NaN,NaN,NaN,3,35,0,0.0,days
34187,cJm19icN6AVVzSe79FBHrTd6uXZ2,2024-01-01 20:17:40,credit,18,720,2024-01-01 20:22:58,credit,42,1680,NaT,...,NaN,NaT,NaN,NaN,NaN,2,0,0,0.0,days
34191,U9227c24b34477ccbffb893a6902e1faa,2024-01-01 14:35:48,credits,8,309,2024-01-01 15:27:48,credits,8,309,NaT,...,NaN,NaT,NaN,NaN,NaN,2,0,0,0.0,days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41048,lz4BXyn3XWY16Ynli6PJmX10cS52,2024-05-25 11:58:36,credit,100,4000,2024-05-26 14:27:21,credit,100,4000,NaT,...,NaN,NaT,NaN,NaN,NaN,2,1,0,0.0,days
41069,Y87F5psuncOoVfJb8MSdwMhG33q2,2024-05-25 11:11:30,credit,5,200,2024-05-25 11:30:20,credit,3,126,2024-05-25 16:24:20,...,NaN,NaT,NaN,NaN,NaN,4,0,0,0.0,days
41078,cvgJ0ntcWFYpdv3zHIyDR5WPQ1E2,2024-05-25 12:02:03,credit,1,59,2024-05-25 18:38:39,credit,13,520,NaT,...,NaN,NaT,NaN,NaN,NaN,2,0,0,0.0,days
41092,dlyXvn0Jooaqmb8b1b9A3HdstP72,2024-05-25 23:24:56,credit,100,4000,2024-05-26 01:39:02,credit,100,4000,2024-05-26 14:30:46,...,NaN,NaT,NaN,NaN,NaN,3,0,0,0.0,days
41096,Hi4FvGqsVmWCEMJaVfzq9r93d7p1,2024-05-25 20:05:42,credit,5,200,2024-05-26 00:52:26,pack_99,99,4100,2024-05-26 01:52:48,...,NaN,NaT,NaN,NaN,NaN,3,0,0,0.0,days

In [ ]:
import numpy as np

# เลือกเฉพาะคอลัมน์ที่มีชนิดข้อมูลเป็น datetime
date_columns = df_user_manytime.select_dtypes(include=[np.datetime64]).columns

# สร้างคอลัมน์ใหม่ 'last_filled_date' และใส่ค่าวันที่ล่าสุดที่จ่ายเงินของแต่ละ user
df_user_manytime['last_pay_date'] = df_user_manytime[date_columns].max(axis=1)

# แสดง DataFrame หลังจากเพิ่มคอลัมน์ใหม่
print(df_user_manytime)

                                 user_id              date_1 package_id_1  \
34177  Uc2c3f2953c8bce372f1bf83caca2a6c2 2024-01-01 02:04:14      credits
34182  U48d1cfe0d86806723f989d4bce05a94d 2024-01-01 16:22:30       credit
34186       DZhxbSlKDVeZnIvxCx5Q96vZZk82 2024-01-01 20:02:41     pack_299
34187       cJm19icN6AVVzSe79FBHrTd6uXZ2 2024-01-01 20:17:40       credit
34191  U9227c24b34477ccbffb893a6902e1faa 2024-01-01 14:35:48      credits
...                                  ...                 ...          ...
41048       lz4BXyn3XWY16Ynli6PJmX10cS52 2024-05-25 11:58:36       credit
41069       Y87F5psuncOoVfJb8MSdwMhG33q2 2024-05-25 11:11:30       credit
41078       cvgJ0ntcWFYpdv3zHIyDR5WPQ1E2 2024-05-25 12:02:03       credit
41092       dlyXvn0Jooaqmb8b1b9A3HdstP72 2024-05-25 23:24:56       credit
41096       Hi4FvGqsVmWCEMJaVfzq9r93d7p1 2024-05-25 20:05:42       credit

      price_1 point_1              date_2 package_id_2 price_2 point_2  \
34177       6     217 2024-01-01 10:24:51       credit      10     400
34182      14     560 2024-02-04 01:49:23       credit     100    4000
34186     199   12500 2024-02-06 16:58:22     pack_299     199   12500
34187      18     720 2024-01-01 20:22:58       credit      42    1680
34191       8     309 2024-01-01 15:27:48      credits       8     309
...       ...     ...                 ...          ...     ...     ...
41048     100    4000 2024-05-26 14:27:21       credit     100    4000
41069       5     200 2024-05-25 11:30:20       credit       3     126
41078       1      59 2024-05-25 18:38:39       credit      13     520
41092     100    4000 2024-05-26 01:39:02       credit     100    4000
41096       5     200 2024-05-26 00:52:26      pack_99      99    4100

                   date_3  ... date_98 package_id_98 price_98 point_98  \
34177 2024-01-02 16:37:32  ...     NaT           NaN      NaN      NaN
34182                 NaT  ...     NaT           NaN      NaN      NaN
34186 2024-03-02 10:05:57  ...     NaT           NaN      NaN      NaN
34187                 NaT  ...     NaT           NaN      NaN      NaN
34191                 NaT  ...     NaT           NaN      NaN      NaN
...                   ...  ...     ...           ...      ...      ...
41048                 NaT  ...     NaT           NaN      NaN      NaN
41069 2024-05-25 16:24:20  ...     NaT           NaN      NaN      NaN
41078                 NaT  ...     NaT           NaN      NaN      NaN
41092 2024-05-26 14:30:46  ...     NaT           NaN      NaN      NaN
41096 2024-05-26 01:52:48  ...     NaT           NaN      NaN      NaN

      transaction_count days_between_1_2 days_between_transactions  \
34177                 4                0                         0
34182                 2               33                         0
34186                 3               35                         0
34187                 2                0                         0
34191                 2                0                         0
...                 ...              ...                       ...
41048                 2                1                         0
41069                 4                0                         0
41078                 2                0                         0
41092                 3                0                         0
41096                 3                0                         0

      average_days_between_transactions    last_filled_date  \
34177                               0.0 2024-01-11 16:51:17
34182                               0.0 2024-02-04 01:49:23
34186                               0.0 2024-03-02 10:05:57
34187                               0.0 2024-01-01 20:22:58
34191                               0.0 2024-01-01 15:27:48
...                                 ...                 ...
41048                               0.0 2024-05-26 14:27:21
41069                               0.0 2024-05-25 17:53:23
41078                               0.0 2024-05-25 18:38:39
41092                               0.0 2024-05-26 14:30:46
41096                               0.0 2024-05-26 01:52:48

            last_pay_date
34177 2024-01-11 16:51:17
34182 2024-02-04 01:49:23
34186 2024-03-02 10:05:57
34187 2024-01-01 20:22:58
34191 2024-01-01 15:27:48
...                   ...
41048 2024-05-26 14:27:21
41069 2024-05-25 17:53:23
41078 2024-05-25 18:38:39
41092 2024-05-26 14:30:46
41096 2024-05-26 01:52:48

[1624 rows x 399 columns]

<ipython-input-75-7521f8e4553d>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_user_manytime['last_pay_date'] = df_user_manytime[date_columns].max(axis=1)

In [ ]:
import numpy as np

# เลือกเฉพาะคอลัมน์ที่มีชนิดข้อมูลเป็น datetime
date_columns = df_user_summary_2024.select_dtypes(include=[np.datetime64]).columns

# สร้างคอลัมน์ใหม่ 'last_filled_date' และใส่ค่าวันที่ล่าสุดที่จ่ายเงินของแต่ละ user
df_user_summary_2024['last_pay_date'] = df_user_summary_2024[date_columns].max(axis=1)

# แสดง DataFrame หลังจากเพิ่มคอลัมน์ใหม่
print(df_user_summary_2024)

                                 user_id              date_1 package_id_1  \
34177  Uc2c3f2953c8bce372f1bf83caca2a6c2 2024-01-01 02:04:14      credits
34178       UyUUO3Mp7gQMBooCfXoDxso1ucD2 2024-01-01 03:23:08      credits
34179       cLjhV8oMIraDsthPVgWBQEtWC7S2 2024-01-01 13:20:39       credit
34180       xmS22BjDuuN2YIkDiEpj3Q9YsQK2 2024-01-01 08:08:07      credits
34181  U4a6e9bff8df95fa690c31524a2554822 2024-01-01 16:13:14      pack_99
...                                  ...                 ...          ...
41204       0IDGpaUMQNOE1C6XcBKDfsvWCrj2 2024-05-28 01:30:31       credit
41205       IwB1ZDoSqcYGTne66KE7KtEjkE12 2024-05-28 01:36:15      pack_99
41206       6QAYs1UTLBSUMGmmFok8ejV1QCD2 2024-05-28 06:25:40     pack_299
41207       u8Me5tZnAhc1pAEdjaXFOZ3gdOj2 2024-05-28 07:09:39     pack_299
41208  Uf0ffcf913ed40cf66df25cd40c1137ba 2024-05-28 07:52:11      pack_99

      price_1 point_1              date_2 package_id_2 price_2 point_2  \
34177       6     217 2024-01-01 10:24:51       credit      10     400
34178       3      96                 NaT          NaN     NaN     NaN
34179      12     480                 NaT          NaN     NaN     NaN
34180       4     134                 NaT          NaN     NaN     NaN
34181      99    4100                 NaT          NaN     NaN     NaN
...       ...     ...                 ...          ...     ...     ...
41204      15     600                 NaT          NaN     NaN     NaN
41205      99    4100 2024-05-28 03:13:18     pack_299     199   12500
41206     199   12500                 NaT          NaN     NaN     NaN
41207     200   12500                 NaT          NaN     NaN     NaN
41208      99    4100                 NaT          NaN     NaN     NaN

                   date_3  ... date_240 package_id_240 price_240 point_240  \
34177 2024-01-02 16:37:32  ...      NaT            NaN       NaN       NaN
34178                 NaT  ...      NaT            NaN       NaN       NaN
34179                 NaT  ...      NaT            NaN       NaN       NaN
34180                 NaT  ...      NaT            NaN       NaN       NaN
34181                 NaT  ...      NaT            NaN       NaN       NaN
...                   ...  ...      ...            ...       ...       ...
41204                 NaT  ...      NaT            NaN       NaN       NaN
41205 2024-05-28 05:21:53  ...      NaT            NaN       NaN       NaN
41206                 NaT  ...      NaT            NaN       NaN       NaN
41207                 NaT  ...      NaT            NaN       NaN       NaN
41208                 NaT  ...      NaT            NaN       NaN       NaN

      date_241 package_id_241 price_241 point_241 days_between_1_2  \
34177      NaT            NaN       NaN       NaN              0.0
34178      NaT            NaN       NaN       NaN              NaN
34179      NaT            NaN       NaN       NaN              NaN
34180      NaT            NaN       NaN       NaN              NaN
34181      NaT            NaN       NaN       NaN              NaN
...        ...            ...       ...       ...              ...
41204      NaT            NaN       NaN       NaN              NaN
41205      NaT            NaN       NaN       NaN              0.0
41206      NaT            NaN       NaN       NaN              NaN
41207      NaT            NaN       NaN       NaN              NaN
41208      NaT            NaN       NaN       NaN              NaN

            last_pay_date
34177 2024-01-11 16:51:17
34178 2024-01-01 03:23:08
34179 2024-01-01 13:20:39
34180 2024-01-01 08:08:07
34181 2024-01-01 16:13:14
...                   ...
41204 2024-05-28 01:30:31
41205 2024-05-28 05:21:53
41206 2024-05-28 06:25:40
41207 2024-05-28 07:09:39
41208 2024-05-28 07:52:11

[7032 rows x 967 columns]

<ipython-input-20-b30e649c45f2>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_user_summary_2024['last_pay_date'] = df_user_summary_2024[date_columns].max(axis=1)

In [ ]:
df_user_manytime.drop(columns=['days_between_transactions', 'average_days_between_transactions', 'last_filled_date'], inplace=True)
df_user_manytime

<ipython-input-77-265b1024e11c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_user_manytime.drop(columns=['days_between_transactions', 'average_days_between_transactions', 'last_filled_date'], inplace=True)

,user_id,date_1,package_id_1,price_1,point_1,date_2,package_id_2,price_2,point_2,date_3,...,package_id_97,price_97,point_97,date_98,package_id_98,price_98,point_98,transaction_count,days_between_1_2,last_pay_date
34177,Uc2c3f2953c8bce372f1bf83caca2a6c2,2024-01-01 02:04:14,credits,6,217,2024-01-01 10:24:51,credit,10,400,2024-01-02 16:37:32,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,4,0,2024-01-11 16:51:17
34182,U48d1cfe0d86806723f989d4bce05a94d,2024-01-01 16:22:30,credit,14,560,2024-02-04 01:49:23,credit,100,4000,NaT,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2,33,2024-02-04 01:49:23
34186,DZhxbSlKDVeZnIvxCx5Q96vZZk82,2024-01-01 20:02:41,pack_299,199,12500,2024-02-06 16:58:22,pack_299,199,12500,2024-03-02 10:05:57,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,3,35,2024-03-02 10:05:57
34187,cJm19icN6AVVzSe79FBHrTd6uXZ2,2024-01-01 20:17:40,credit,18,720,2024-01-01 20:22:58,credit,42,1680,NaT,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2,0,2024-01-01 20:22:58
34191,U9227c24b34477ccbffb893a6902e1faa,2024-01-01 14:35:48,credits,8,309,2024-01-01 15:27:48,credits,8,309,NaT,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2,0,2024-01-01 15:27:48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41048,lz4BXyn3XWY16Ynli6PJmX10cS52,2024-05-25 11:58:36,credit,100,4000,2024-05-26 14:27:21,credit,100,4000,NaT,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2,1,2024-05-26 14:27:21
41069,Y87F5psuncOoVfJb8MSdwMhG33q2,2024-05-25 11:11:30,credit,5,200,2024-05-25 11:30:20,credit,3,126,2024-05-25 16:24:20,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,4,0,2024-05-25 17:53:23
41078,cvgJ0ntcWFYpdv3zHIyDR5WPQ1E2,2024-05-25 12:02:03,credit,1,59,2024-05-25 18:38:39,credit,13,520,NaT,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2,0,2024-05-25 18:38:39
41092,dlyXvn0Jooaqmb8b1b9A3HdstP72,2024-05-25 23:24:56,credit,100,4000,2024-05-26 01:39:02,credit,100,4000,2024-05-26 14:30:46,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,3,0,2024-05-26 14:30:46
41096,Hi4FvGqsVmWCEMJaVfzq9r93d7p1,2024-05-25 20:05:42,credit,5,200,2024-05-26 00:52:26,pack_99,99,4100,2024-05-26 01:52:48,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,3,0,2024-05-26 01:52:48

In [ ]:
# กำหนดวันที่ปัจจุบัน
today_date = pd.to_datetime('2024-05-26')

# สร้างคอลัมน์ใหม่ last_pay_date_diff และคำนวณระยะห่างของ last_pay_date กับวันที่กำหนด
df_user_manytime['last_pay_date_diff'] = (today_date - df_user_manytime['last_pay_date']).dt.days

<ipython-input-82-b56b183a4f17>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_user_manytime['last_pay_date_diff'] = (today_date - df_user_manytime['last_pay_date']).dt.days

In [ ]:
df_user_manytime

,user_id,date_1,package_id_1,price_1,point_1,date_2,package_id_2,price_2,point_2,date_3,...,price_97,point_97,date_98,package_id_98,price_98,point_98,transaction_count,days_between_1_2,last_pay_date,last_pay_date_diff
34177,Uc2c3f2953c8bce372f1bf83caca2a6c2,2024-01-01 02:04:14,credits,6,217,2024-01-01 10:24:51,credit,10,400,2024-01-02 16:37:32,...,NaN,NaN,NaT,NaN,NaN,NaN,4,0,2024-01-11 16:51:17,135
34182,U48d1cfe0d86806723f989d4bce05a94d,2024-01-01 16:22:30,credit,14,560,2024-02-04 01:49:23,credit,100,4000,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,2,33,2024-02-04 01:49:23,111
34186,DZhxbSlKDVeZnIvxCx5Q96vZZk82,2024-01-01 20:02:41,pack_299,199,12500,2024-02-06 16:58:22,pack_299,199,12500,2024-03-02 10:05:57,...,NaN,NaN,NaT,NaN,NaN,NaN,3,35,2024-03-02 10:05:57,84
34187,cJm19icN6AVVzSe79FBHrTd6uXZ2,2024-01-01 20:17:40,credit,18,720,2024-01-01 20:22:58,credit,42,1680,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,2,0,2024-01-01 20:22:58,145
34191,U9227c24b34477ccbffb893a6902e1faa,2024-01-01 14:35:48,credits,8,309,2024-01-01 15:27:48,credits,8,309,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,2,0,2024-01-01 15:27:48,145
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41048,lz4BXyn3XWY16Ynli6PJmX10cS52,2024-05-25 11:58:36,credit,100,4000,2024-05-26 14:27:21,credit,100,4000,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,2,1,2024-05-26 14:27:21,-1
41069,Y87F5psuncOoVfJb8MSdwMhG33q2,2024-05-25 11:11:30,credit,5,200,2024-05-25 11:30:20,credit,3,126,2024-05-25 16:24:20,...,NaN,NaN,NaT,NaN,NaN,NaN,4,0,2024-05-25 17:53:23,0
41078,cvgJ0ntcWFYpdv3zHIyDR5WPQ1E2,2024-05-25 12:02:03,credit,1,59,2024-05-25 18:38:39,credit,13,520,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,2,0,2024-05-25 18:38:39,0
41092,dlyXvn0Jooaqmb8b1b9A3HdstP72,2024-05-25 23:24:56,credit,100,4000,2024-05-26 01:39:02,credit,100,4000,2024-05-26 14:30:46,...,NaN,NaN,NaT,NaN,NaN,NaN,3,0,2024-05-26 14:30:46,-1
41096,Hi4FvGqsVmWCEMJaVfzq9r93d7p1,2024-05-25 20:05:42,credit,5,200,2024-05-26 00:52:26,pack_99,99,4100,2024-05-26 01:52:48,...,NaN,NaN,NaT,NaN,NaN,NaN,3,0,2024-05-26 01:52:48,-1

In [ ]:
# Export DataFrame to CSV file
csv_file_path = 'df_user_manytime_date_diff.csv'
df_user_manytime.to_csv(csv_file_path, index=False)

In [ ]:
df_user_summary_2024_26 = df_user_summary_2024[df_user_summary_2024['last_pay_date'] <= pd.Timestamp('2024-05-26')]
df_user_summary_2024_26 = df_user_summary_2024[df_user_summary_2024['date_1'] <= pd.Timestamp('2024-05-26')]
df_user_summary_2024_26

,user_id,date_1,package_id_1,price_1,point_1,date_2,package_id_2,price_2,point_2,date_3,...,date_240,package_id_240,price_240,point_240,date_241,package_id_241,price_241,point_241,days_between_1_2,last_pay_date
34177,Uc2c3f2953c8bce372f1bf83caca2a6c2,2024-01-01 02:04:14,credits,6,217,2024-01-01 10:24:51,credit,10,400,2024-01-02 16:37:32,...,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,0.0,2024-01-11 16:51:17
34178,UyUUO3Mp7gQMBooCfXoDxso1ucD2,2024-01-01 03:23:08,credits,3,96,NaT,NaN,NaN,NaN,NaT,...,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-01-01 03:23:08
34179,cLjhV8oMIraDsthPVgWBQEtWC7S2,2024-01-01 13:20:39,credit,12,480,NaT,NaN,NaN,NaN,NaT,...,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-01-01 13:20:39
34180,xmS22BjDuuN2YIkDiEpj3Q9YsQK2,2024-01-01 08:08:07,credits,4,134,NaT,NaN,NaN,NaN,NaT,...,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-01-01 08:08:07
34181,U4a6e9bff8df95fa690c31524a2554822,2024-01-01 16:13:14,pack_99,99,4100,NaT,NaN,NaN,NaN,NaT,...,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-01-01 16:13:14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41090,QbRBlLBe6VS1nySbJhvVgWkit7t2,2024-05-25 22:22:53,pack_299,199,12500,NaT,NaN,NaN,NaN,NaT,...,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-05-25 22:22:53
41091,FJPQMMHNcCeLaCQQ37KU7aawEqN2,2024-05-25 22:47:11,credit,100,4000,NaT,NaN,NaN,NaN,NaT,...,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-05-25 22:47:11
41092,dlyXvn0Jooaqmb8b1b9A3HdstP72,2024-05-25 23:24:56,credit,100,4000,2024-05-26 01:39:02,credit,100,4000,2024-05-26 14:30:46,...,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,0.0,2024-05-26 14:30:46
41093,mF0FurNcHqQYnG52FPx3fZutSld2,2024-05-25 23:52:11,pack_299,200,12500,NaT,NaN,NaN,NaN,NaT,...,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-05-25 23:52:11
41096,Hi4FvGqsVmWCEMJaVfzq9r93d7p1,2024-05-25 20:05:42,credit,5,200,2024-05-26 00:52:26,pack_99,99,4100,2024-05-26 01:52:48,...,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,0.0,2024-05-26 01:52:48

In [ ]:
# แปลงคอลัมน์ 'price_1' และ 'price_2' ให้เป็นตัวเลข
df_user_summary_2024_26['price_1'] = pd.to_numeric(df_user_summary_2024_26['price_1'], errors='coerce')
df_user_summary_2024_26['price_2'] = pd.to_numeric(df_user_summary_2024_26['price_2'], errors='coerce')

# สร้างคอลัมน์ใหม่ 'price1_2_diff' โดยการลบ 'price_2' ด้วย 'price_1'
df_user_summary_2024_26['price1_2_diff'] = df_user_summary_2024_26['price_2'] - df_user_summary_2024_26['price_1']

df_user_summary_2024_26

<ipython-input-23-a838698e016f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_user_summary_2024_26['price_1'] = pd.to_numeric(df_user_summary_2024_26['price_1'], errors='coerce')
<ipython-input-23-a838698e016f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_user_summary_2024_26['price_2'] = pd.to_numeric(df_user_summary_2024_26['price_2'], errors='coerce')
<ipython-input-23-a838698e016f>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_user_summary_2024_26['price1_2_diff'] = df_user_summary_2024_26['price_2'] - df_user_summary_2024_26['price_1']

,user_id,date_1,package_id_1,price_1,point_1,date_2,package_id_2,price_2,point_2,date_3,...,package_id_240,price_240,point_240,date_241,package_id_241,price_241,point_241,days_between_1_2,last_pay_date,price1_2_diff
34177,Uc2c3f2953c8bce372f1bf83caca2a6c2,2024-01-01 02:04:14,credits,6,217,2024-01-01 10:24:51,credit,10.0,400,2024-01-02 16:37:32,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,0.0,2024-01-11 16:51:17,4.0
34178,UyUUO3Mp7gQMBooCfXoDxso1ucD2,2024-01-01 03:23:08,credits,3,96,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-01-01 03:23:08,NaN
34179,cLjhV8oMIraDsthPVgWBQEtWC7S2,2024-01-01 13:20:39,credit,12,480,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-01-01 13:20:39,NaN
34180,xmS22BjDuuN2YIkDiEpj3Q9YsQK2,2024-01-01 08:08:07,credits,4,134,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-01-01 08:08:07,NaN
34181,U4a6e9bff8df95fa690c31524a2554822,2024-01-01 16:13:14,pack_99,99,4100,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-01-01 16:13:14,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41090,QbRBlLBe6VS1nySbJhvVgWkit7t2,2024-05-25 22:22:53,pack_299,199,12500,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-05-25 22:22:53,NaN
41091,FJPQMMHNcCeLaCQQ37KU7aawEqN2,2024-05-25 22:47:11,credit,100,4000,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-05-25 22:47:11,NaN
41092,dlyXvn0Jooaqmb8b1b9A3HdstP72,2024-05-25 23:24:56,credit,100,4000,2024-05-26 01:39:02,credit,100.0,4000,2024-05-26 14:30:46,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,0.0,2024-05-26 14:30:46,0.0
41093,mF0FurNcHqQYnG52FPx3fZutSld2,2024-05-25 23:52:11,pack_299,200,12500,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-05-25 23:52:11,NaN
41096,Hi4FvGqsVmWCEMJaVfzq9r93d7p1,2024-05-25 20:05:42,credit,5,200,2024-05-26 00:52:26,pack_99,99.0,4100,2024-05-26 01:52:48,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,0.0,2024-05-26 01:52:48,94.0

In [ ]:
# ใช้ count() เพื่อนับจำนวนข้อมูลที่ไม่เป็นค่าว่างในแต่ละคอลัมน์
not_null_count = df_user_summary_2024_26.count()

# หาคอลัมน์ที่มีค่าเท่ากับ 0 เพื่อหา date ที่ข้อมูลไม่ถึง
not_reached_date = not_null_count[not_null_count == 0].index

# แสดงคอลัมน์ที่ไม่มีข้อมูลถึง date ที่เท่าไร
print("Columns not reached to a certain date:", not_reached_date)

Columns not reached to a certain date: Index(['date_99', 'package_id_99', 'price_99', 'point_99', 'date_100',
       'package_id_100', 'price_100', 'point_100', 'date_101',
       'package_id_101',
       ...
       'price_239', 'point_239', 'date_240', 'package_id_240', 'price_240',
       'point_240', 'date_241', 'package_id_241', 'price_241', 'point_241'],
      dtype='object', length=572)

In [ ]:
df_user_summary_2024_26.drop(columns=not_reached_date, inplace=True)
df_user_summary_2024_26

<ipython-input-26-1c5c9fcf8cdb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_user_summary_2024_26.drop(columns=not_reached_date, inplace=True)

,user_id,date_1,package_id_1,price_1,point_1,date_2,package_id_2,price_2,point_2,date_3,...,package_id_97,price_97,point_97,date_98,package_id_98,price_98,point_98,days_between_1_2,last_pay_date,price1_2_diff
34177,Uc2c3f2953c8bce372f1bf83caca2a6c2,2024-01-01 02:04:14,credits,6,217,2024-01-01 10:24:51,credit,10.0,400,2024-01-02 16:37:32,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,0.0,2024-01-11 16:51:17,4.0
34178,UyUUO3Mp7gQMBooCfXoDxso1ucD2,2024-01-01 03:23:08,credits,3,96,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-01-01 03:23:08,NaN
34179,cLjhV8oMIraDsthPVgWBQEtWC7S2,2024-01-01 13:20:39,credit,12,480,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-01-01 13:20:39,NaN
34180,xmS22BjDuuN2YIkDiEpj3Q9YsQK2,2024-01-01 08:08:07,credits,4,134,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-01-01 08:08:07,NaN
34181,U4a6e9bff8df95fa690c31524a2554822,2024-01-01 16:13:14,pack_99,99,4100,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-01-01 16:13:14,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41090,QbRBlLBe6VS1nySbJhvVgWkit7t2,2024-05-25 22:22:53,pack_299,199,12500,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-05-25 22:22:53,NaN
41091,FJPQMMHNcCeLaCQQ37KU7aawEqN2,2024-05-25 22:47:11,credit,100,4000,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-05-25 22:47:11,NaN
41092,dlyXvn0Jooaqmb8b1b9A3HdstP72,2024-05-25 23:24:56,credit,100,4000,2024-05-26 01:39:02,credit,100.0,4000,2024-05-26 14:30:46,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,0.0,2024-05-26 14:30:46,0.0
41093,mF0FurNcHqQYnG52FPx3fZutSld2,2024-05-25 23:52:11,pack_299,200,12500,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-05-25 23:52:11,NaN
41096,Hi4FvGqsVmWCEMJaVfzq9r93d7p1,2024-05-25 20:05:42,credit,5,200,2024-05-26 00:52:26,pack_99,99.0,4100,2024-05-26 01:52:48,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,0.0,2024-05-26 01:52:48,94.0

In [ ]:
# Export DataFrame to CSV file
csv_file_path = 'df_user_summary_2024_26.csv'
df_user_summary_2024_26.to_csv(csv_file_path, index=False)

In [ ]:
transaction_columns = [col for col in df_user_summary_2024_26.columns if col.startswith('date_')]

df_user_summary_2024_26['transaction_count'] = df_user_summary_2024_26[transaction_columns].notna().sum(axis=1)

<ipython-input-28-617e4905b79d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_user_summary_2024_26['transaction_count'] = df_user_summary_2024_26[transaction_columns].notna().sum(axis=1)

In [ ]:
df_user_summary_2024_26

,user_id,date_1,package_id_1,price_1,point_1,date_2,package_id_2,price_2,point_2,date_3,...,price_97,point_97,date_98,package_id_98,price_98,point_98,days_between_1_2,last_pay_date,price1_2_diff,transaction_count
34177,Uc2c3f2953c8bce372f1bf83caca2a6c2,2024-01-01 02:04:14,credits,6,217,2024-01-01 10:24:51,credit,10.0,400,2024-01-02 16:37:32,...,NaN,NaN,NaT,NaN,NaN,NaN,0.0,2024-01-11 16:51:17,4.0,4
34178,UyUUO3Mp7gQMBooCfXoDxso1ucD2,2024-01-01 03:23:08,credits,3,96,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-01-01 03:23:08,NaN,1
34179,cLjhV8oMIraDsthPVgWBQEtWC7S2,2024-01-01 13:20:39,credit,12,480,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-01-01 13:20:39,NaN,1
34180,xmS22BjDuuN2YIkDiEpj3Q9YsQK2,2024-01-01 08:08:07,credits,4,134,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-01-01 08:08:07,NaN,1
34181,U4a6e9bff8df95fa690c31524a2554822,2024-01-01 16:13:14,pack_99,99,4100,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-01-01 16:13:14,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41090,QbRBlLBe6VS1nySbJhvVgWkit7t2,2024-05-25 22:22:53,pack_299,199,12500,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-05-25 22:22:53,NaN,1
41091,FJPQMMHNcCeLaCQQ37KU7aawEqN2,2024-05-25 22:47:11,credit,100,4000,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-05-25 22:47:11,NaN,1
41092,dlyXvn0Jooaqmb8b1b9A3HdstP72,2024-05-25 23:24:56,credit,100,4000,2024-05-26 01:39:02,credit,100.0,4000,2024-05-26 14:30:46,...,NaN,NaN,NaT,NaN,NaN,NaN,0.0,2024-05-26 14:30:46,0.0,3
41093,mF0FurNcHqQYnG52FPx3fZutSld2,2024-05-25 23:52:11,pack_299,200,12500,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-05-25 23:52:11,NaN,1
41096,Hi4FvGqsVmWCEMJaVfzq9r93d7p1,2024-05-25 20:05:42,credit,5,200,2024-05-26 00:52:26,pack_99,99.0,4100,2024-05-26 01:52:48,...,NaN,NaN,NaT,NaN,NaN,NaN,0.0,2024-05-26 01:52:48,94.0,3

In [ ]:
df_user_summary_2024_26['transaction_count'].max()

98

In [ ]:
df_user_summary_2024_26['transaction_count'].min()

1

In [ ]:
# กำหนดวันที่ปัจจุบัน
today_date = pd.to_datetime('2024-05-26')

# สร้างคอลัมน์ใหม่ last_pay_date_diff และคำนวณระยะห่างของ last_pay_date กับวันที่กำหนด
df_user_summary_2024['last_pay_date_diff'] = (today_date - df_user_summary_2024['last_pay_date']).dt.days

# Search User ID

In [ ]:
pay_user = df_pay[df_pay['user_id'] == 'U51cdb1530dbb0e3a7c8ee54daa02e511']
pay_user

,_id,user_id,package_id,price,qrcode,transactionid,datetime,ref1,status,point,promotion,actual_time,sale_code_name,package_sub,action,subscription,sub_id
494236,6454ce0cf0c95baab3d140e6,U51cdb1530dbb0e3a7c8ee54daa02e511,package_800,800,NaN,NaN,2023-05-05 16:36:12,NaN,True,48000,NaN,2023-05-05 09:36:12.262000,,NaN,NaN,NaN,NaN
500362,6482b98e2c914cfef48cf0fd,U51cdb1530dbb0e3a7c8ee54daa02e511,package_1600,1600,NaN,NaN,2023-06-09 12:33:02,NaN,True,105000,NaN,2023-06-09 05:33:02.460000,,NaN,NaN,NaN,NaN
510133,64f45f59b73e01635f026ec1,U51cdb1530dbb0e3a7c8ee54daa02e511,package_1000,1000,NaN,NaN,2023-09-03 17:26:33,NaN,True,55000,NaN,2023-09-03 10:26:33.185000,,NaN,NaN,Basic,NaN
520954,65193a96ed1f7a353959b3c2,U51cdb1530dbb0e3a7c8ee54daa02e511,Pro,5994,,,2023-10-01 16:23:34,,True,60000,0,2023-10-01 16:23:34.748000,NaN,NaN,subscription,NaN,NaN
532360,6597a961984db1670b81277e,U51cdb1530dbb0e3a7c8ee54daa02e511,NoAds,99,,,2024-01-05 14:01:53,,True,0,0,2024-01-05 14:01:53.827000,NaN,NaN,subscription,NaN,NaN

In [ ]:
pay_user['price'] = pd.to_numeric(pay_user['price'], errors='coerce')
pay_user['point'] = pd.to_numeric(pay_user['point'], errors='coerce')

<ipython-input-52-ecd868997f1c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pay_user['price'] = pd.to_numeric(pay_user['price'], errors='coerce')
<ipython-input-52-ecd868997f1c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pay_user['point'] = pd.to_numeric(pay_user['point'], errors='coerce')

In [ ]:
pay_user['price'].sum()

1722

In [ ]:
pay_user['point'].sum()

101000

In [ ]:
pay_user_msg = df_msg[(df_msg['user_id'] == 'UOfSaHq9RiV2wp6wnDDZfrJLad32') & (df_msg['channel'] == 'download')]
pay_user_msg

NameError: name 'df_msg' is not defined

In [ ]:
pay_user_msg['count'] = pd.to_numeric(pay_user_msg['count'], errors='coerce')

<ipython-input-49-7771fab2afbf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pay_user_msg['count'] = pd.to_numeric(pay_user_msg['count'], errors='coerce')

In [ ]:
pay_user_msg['count'].sum()

102266

In [ ]:
df_msg[df_msg['user_id'] == '02rJs4mAHDfXp6BYVrpku0D0HBT2']

,_id,user_id,message,datetime,channel,count,speaker,url,audio_id,page,provider,language
3621971,662f5489f1386a5e2b90b078,02rJs4mAHDfXp6BYVrpku0D0HBT2,สำนักงานที่ดินกรุงเทพมหานครสาขาลาดกระบังเป็นหน...,2024-04-29 15:04:25.143487,play,633,tonkhaow,NaN,GSJEF,studio,NaN,NaN
3623914,662f5cff4e2b8caa5a0d218f,02rJs4mAHDfXp6BYVrpku0D0HBT2,สำนักงานที่ดินกรุงเทพมหานครสาขาลาดกระบังมีการจ...,2024-04-29 15:40:31.542956,play,902,tonkhaow,NaN,FOKHO,studio,NaN,NaN
3624583,662f5f07f1386a5e2b90b1aa,02rJs4mAHDfXp6BYVrpku0D0HBT2,ความโดดเด่นด้านสถานที่สำนักงานที่ดินกรุงเทพมหา...,2024-04-29 15:49:11.923594,play,655,tonkhaow,NaN,JEDJM,studio,NaN,NaN
3625879,662f64e5f1386a5e2b90b244,02rJs4mAHDfXp6BYVrpku0D0HBT2,ความโดดเด่นด้านสถานที่สำนักงานที่ดินกรุงเทพมหา...,2024-04-29 16:14:13.566565,play,660,tonkhaow,NaN,JEDJM,studio,NaN,NaN
3626005,662f658f2a754342e7d78715,02rJs4mAHDfXp6BYVrpku0D0HBT2,ความโดดเด่นด้านสถานที่สำนักงานที่ดินกรุงเทพมหา...,2024-04-29 16:17:03.166228,play,642,tonkhaow,NaN,JEDJM,studio,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4163379,664eea599a5d24c1e3695237,02rJs4mAHDfXp6BYVrpku0D0HBT2,สำนักงานที่ดินกรุงเทพมหานครสาขาลาดกระบังพร้อมใ...,2024-05-23 14:03:53.700193,play,230,tonkhaow,NaN,MMTAQ,studio,NaN,NaN
4163382,664eea5c988b3c1975b2ddac,02rJs4mAHDfXp6BYVrpku0D0HBT2,สำนักงานที่ดินได้นำเทคโนโลยีจากแอพพลิเคชั่นไลน...,2024-05-23 14:03:56.777555,play,618,tonkhaow,NaN,RNCPI,studio,NaN,NaN
4163386,664eea639d6f00930053aaf8,02rJs4mAHDfXp6BYVrpku0D0HBT2,ความโดดเด่นด้านบริการสำนักงานที่ดินกรุงเทพมหาน...,2024-05-23 14:04:03.006864,play,586,tonkhaow,NaN,GSDEZ,studio,NaN,NaN
4163610,664eebbc1dfe022861d525e7,02rJs4mAHDfXp6BYVrpku0D0HBT2,ความโดดเด่นด้านบริการสำนักงานที่ดินกรุงเทพมหาน...,2024-05-23 14:09:48.102145,download,586,tonkhaow,NaN,GSDEZ,studio,NaN,th
4163616,664eebc591820e2356fbe457,02rJs4mAHDfXp6BYVrpku0D0HBT2,สำนักงานที่ดินได้นำเทคโนโลยีจากแอพพลิเคชั่นไลน...,2024-05-23 14:09:57.298389,download,618,tonkhaow,NaN,RNCPI,studio,NaN,th

In [ ]:
df_pay

,_id,user_id,package_id,price,qrcode,transactionid,datetime,ref1,status,point,promotion,actual_time,sale_code_name,package_sub,action,subscription,sub_id
0,612e3e206bcbfac605a1c8aa,U8530610030c64cc1843fd0f95b5f2758,150,50,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012521083121...,2021-08-31,WI9FIRQJNZGK8Q15Z0M6,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,612ee88ce827b44913887b68,U1d068ce57105d8463132691e9c2a4c3e,150,50,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012521090109...,2021-09-01,TJCRE95Q3JB73MXDJ8U3,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,613afeffbd6b51f5666f4dca,U3bdae9df091601f970a61ff8e5d5a72a,150,50,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012521091013...,2021-09-10,CW2AEP6Q2EMW3S45KFSN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,613f26db233bb14db8f57c5e,U10e1ae0a6e2e2102ce01e8b3aca82433,credits,9,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012521091317...,2021-09-13,H93RS1DFP8CWQIFAN2ED,False,18,0,NaN,NaN,NaN,NaN,NaN,NaN
4,613f2949233bb14db8f57c60,U3bdae9df091601f970a61ff8e5d5a72a,credits,1,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012521091317...,2021-09-13,0QEZB1JQBB5EY5W0CRFU,False,3,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
545715,665005bbfeeac66167b2bfb2,9vGuYAo3YLZhYE3kO2SKLCNEnAh2,credit,15,NaN,NaN,2024-05-24 10:12:59,NaN,True,600,NaN,2024-05-24 17:12:59.445000,,NaN,NaN,Free,NaN
545716,66500a21feeac66167b2bfb3,7SlP3MkpoDSgumt4Wx0RJp4Nfn32,pack_2000,1010,NaN,NaN,2024-05-24 10:31:45,NaN,True,80000,NaN,2024-05-24 17:31:45.039000,,NaN,NaN,Free,NaN
545717,66500ac1feeac66167b2bfb6,PoEZ5YZxhtWJw4ZIlaRlUty86zr1,pack_299,200,NaN,NaN,2024-05-24 10:34:25,NaN,True,12500,NaN,2024-05-24 17:34:25.971000,,NaN,NaN,Free,NaN
545718,66500d8efeeac66167b2bfb9,9vGuYAo3YLZhYE3kO2SKLCNEnAh2,credit,15,NaN,NaN,2024-05-24 10:46:22,NaN,True,600,NaN,2024-05-24 17:46:22.500000,,NaN,NaN,Free,NaN
545719,665016fffeeac66167b2bfba,pVhcQJgpWsSTazvTIjF5V9VRPSH3,pack_99,99,NaN,NaN,2024-05-24 11:26:39,NaN,True,4100,NaN,2024-05-24 18:26:39.293000,,NaN,NaN,Free,NaN

In [ ]:
df_msg[df_msg['user_id'] == 'zurLzE2sCwhj8irW2N5coH54F3J2']

,_id,user_id,message,datetime,channel,count,speaker,url,audio_id,page,provider,language
2102887,65d161ebe91200b186766320,zurLzE2sCwhj8irW2N5coH54F3J2,ซีรีส์ชุดเจ้าสาวของมหาเศรษฐีผลงานโดยไอศิกามีทั...,2024-02-18 08:48:27.365061,play,864,gift,NaN,IVDFG,studio,NaN,NaN
2102894,65d162133708f39511e20bb7,zurLzE2sCwhj8irW2N5coH54F3J2,มหาเศรษฐีทวงรักเรื่องนี้ได้ไอเดียให้นางเอกค่อย...,2024-02-18 08:49:07.692595,play,453,gift,NaN,VGAVP,studio,NaN,NaN
2102896,65d1623a725a56bdd21ebd7b,zurLzE2sCwhj8irW2N5coH54F3J2,บทนำเธอกำลังรู้สึกว่ามีใครบางคนเลียไล้ร่างกายข...,2024-02-18 08:49:46.835469,play,292,gift,NaN,DFAFL,studio,NaN,NaN
2102900,65d162ab5b27c68336632c78,zurLzE2sCwhj8irW2N5coH54F3J2,“ลืมตาขึ้นสิแล้วครางเรียกชื่อฉัน”,2024-02-18 08:51:39.660217,play,33,kong,NaN,HPBIH,studio,NaN,NaN
2102905,65d162dc20ea4fc5c07cc142,zurLzE2sCwhj8irW2N5coH54F3J2,“บอกฉันสิ...ว่าเธอจะเป็นของฉัน”,2024-02-18 08:52:28.248312,play,31,natthapong,NaN,CRRNU,studio,NaN,NaN
2102906,65d162f1630f837a87dc412d,zurLzE2sCwhj8irW2N5coH54F3J2,“ลืมตาขึ้นสิแล้วครางเรียกชื่อฉัน”,2024-02-18 08:52:49.787498,play,33,natthapong,NaN,HPBIH,studio,NaN,NaN
2102908,65d162f43f2e0d4a2ce4eb65,zurLzE2sCwhj8irW2N5coH54F3J2,เรียวลิ้นแข็งแรงกำลังลากขึ้นช้าช้าไปตามร่างกาย...,2024-02-18 08:52:52.400093,play,544,gift,NaN,SBONR,studio,NaN,NaN
2102910,65d163230d520bf08151b579,zurLzE2sCwhj8irW2N5coH54F3J2,คำสั่งกระซิบข้างหูเป็นเสียงทุ้มนุ่มชวนขยี้ใจให...,2024-02-18 08:53:39.121555,play,531,gift,NaN,WXQXT,studio,NaN,NaN
2102913,65d1633f246b9b855a29973b,zurLzE2sCwhj8irW2N5coH54F3J2,“ต่อให้เธอหนีฉันไปสุดขอบนรกฉันก็จะไปลากเธอกลับ...,2024-02-18 08:54:07.717739,play,70,natthapong,NaN,YSNBV,studio,NaN,NaN
2102918,65d1638e84c5f85afb02dcb6,zurLzE2sCwhj8irW2N5coH54F3J2,หมอบอกว่าเป็นแผลที่ได้รับตอนเกิดอุบัติเหตุตกเร...,2024-02-18 08:55:26.945571,play,243,gift,NaN,CIASL,studio,NaN,NaN
2102919,65d16396ef0dd820db39126a,zurLzE2sCwhj8irW2N5coH54F3J2,คำประกาศิตนั้นเสียดแทงทะลุทุกสิ่งดวงตาคู่งามจ้...,2024-02-18 08:55:34.007360,play,861,gift,NaN,BFXWT,studio,NaN,NaN
2102925,65d163bace37271c4f97128f,zurLzE2sCwhj8irW2N5coH54F3J2,“แค่ชั่วคราวเท่านั้นอีกไม่นานหลังจากที่คุณสุขภ...,2024-02-18 08:56:10.106205,play,220,puri,NaN,MEESD,studio,NaN,NaN
2102932,65d163f7119aa1df50914533,zurLzE2sCwhj8irW2N5coH54F3J2,หมอมักจะบอกเช่นนั้นเสมอเธอไม่รู้ว่าตัวเองเป็นใ...,2024-02-18 08:57:11.368918,play,668,gift,NaN,AXNNT,studio,NaN,NaN
2102938,65d1642319af9477bbff5e86,zurLzE2sCwhj8irW2N5coH54F3J2,เธอพยักหน้าค้อมศีรษะเล็กน้อยแทนคำตอบพลางส่งยิ้...,2024-02-18 08:57:55.471991,play,323,gift,NaN,UZKGP,studio,NaN,NaN
2102940,65d1643819af9477bbff5e87,zurLzE2sCwhj8irW2N5coH54F3J2,“ดิฉันถักเปียให้นะคะ”,2024-02-18 08:58:16.552861,play,21,care,NaN,UAWLD,studio,NaN,NaN
2102942,65d16468725a56bdd21ebd7d,zurLzE2sCwhj8irW2N5coH54F3J2,“ดอกกุหลาบเพิ่งตัดใหม่ใหม่ค่ะหอมสดชื่นดีว่ามั้...,2024-02-18 08:59:04.682154,play,50,ngam,NaN,OCLNS,studio,NaN,NaN
2102943,65d1646d596f15576ef247b7,zurLzE2sCwhj8irW2N5coH54F3J2,เธอยิ้มพลางค้อมศีรษะเล็กน้อยเพื่อสื่อสารกลับไป...,2024-02-18 08:59:09.361920,play,299,gift,NaN,SYPTT,studio,NaN,NaN
2102950,65d164ba5b27c68336632c79,zurLzE2sCwhj8irW2N5coH54F3J2,ผู้ช่วยพยาบาลอีกคนเข้ามาพร้อมกุหลาบช่อใหญ่นำมา...,2024-02-18 09:00:26.260846,play,922,gift,NaN,WONSF,studio,NaN,NaN
2102961,65d165420d520bf08151b57b,zurLzE2sCwhj8irW2N5coH54F3J2,ตอนที่เธอฟื้นสติขึ้นมาใหม่ใหม่ก็ร้อนรนไต่ถามต้...,2024-02-18 09:02:42.784730,play,143,gift,NaN,XQRYS,studio,NaN,NaN
2102968,65d16584e91200b186766321,zurLzE2sCwhj8irW2N5coH54F3J2,หมอปลอบโยนเช่นนั้นเสมอแต่นับวันเธอกลับรู้สึกว่...,2024-02-18 09:03:48.613815,play,291,gift,NaN,IYAAY,studio,NaN,NaN
2102976,65d165e19b5766ef6f19d160,zurLzE2sCwhj8irW2N5coH54F3J2,ตอนที่เธอฟื้นสติขึ้นมาใหม่ใหม่ก็ร้อนรนไต่ถามต้...,2024-02-18 09:05:21.887693,play,143,gift,NaN,XQRYS,studio,NaN,NaN
2102977,65d165e7873eca6033d6a6f2,zurLzE2sCwhj8irW2N5coH54F3J2,“เสียใจด้วยไม่มีเอกสารใดใดติดตัวคุณมาเลยครับ”,2024-02-18 09:05:27.784056,play,45,puri,NaN,OXXBK,studio,NaN,NaN
2102979,65d165f1759b20b899fd9b21,zurLzE2sCwhj8irW2N5coH54F3J2,‘แล้วฉันมาอยู่ที่นี่ได้อย่างไรคะ’เธอพยายามสื่อ...,2024-02-18 09:05:37.261756,play,117,gift,NaN,CZOIO,studio,NaN,NaN
2102980,65d165f6119aa1df50914534,zurLzE2sCwhj8irW2N5coH54F3J2,“ผมเองก็ไม่ทราบครับ”‘,2024-02-18 09:05:42.052993,play,21,puri,NaN,DTQHP,studio,NaN,NaN
2102981,65d165f92c02417d9965c737,zurLzE2sCwhj8irW2N5coH54F3J2,ไม่มีใครลงประกาศตามหาคนหายเลยหรือคะหนังสือพิมพ...,2024-02-18 09:05:45.063715,play,69,gift,NaN,USBLU,studio,NaN,NaN
2102984,65d165fed18195de29607964,zurLzE2sCwhj8irW2N5coH54F3J2,“ยังไม่มีเลยทางเราติดต่อหน่วยงานที่เกี่ยวข้องท...,2024-02-18 09:05:50.747299,play,264,puri,NaN,SBAKI,studio,NaN,NaN
2102986,65d166489cf70e0ea0cc2ef9,zurLzE2sCwhj8irW2N5coH54F3J2,“คุณน่าจะอายุไม่เกินยี่สิบค่ะถึงแม้ว่าจะไม่มีข...,2024-02-18 09:07:04.474229,play,126,care,NaN,DDYNX,studio,NaN,NaN
2102987,65d1664cfe5edad6f4320330,zurLzE2sCwhj8irW2N5coH54F3J2,‘คำสั่งจากใครคะ’เมื่อเธอถามพยาบาลคนหนึ่งก็เล่า...,2024-02-18 09:07:08.751864,play,519,gift,NaN,FRGPL,studio,NaN,NaN
2102994,65d1667e873eca6033d6a6f3,zurLzE2sCwhj8irW2N5coH54F3J2,“ถ้าอยากตกงานลองพูดอะไรพล่อยพล่อยเกี่ยวกับเคสน...,2024-02-18 09:07:58.868020,play,96,tanong,NaN,MRTAL,studio,NaN,NaN
2102998,65d16699ef0dd820db39126c,zurLzE2sCwhj8irW2N5coH54F3J2,ซินญอร์,2024-02-18 09:08:25.807010,play,7,tonkhaow,NaN,XPCEQ,studio,NaN,NaN
2103000,65d1669de91200b186766322,zurLzE2sCwhj8irW2N5coH54F3J2,ซินญอร์,2024-02-18 09:08:29.748349,play,7,tonkhaow,NaN,OHRJD,studio,NaN,NaN
2103002,65d166ab20ea4fc5c07cc144,zurLzE2sCwhj8irW2N5coH54F3J2,ซินญอร์,2024-02-18 09:08:43.809893,play,7,tonkhaow,NaN,SGMZR,studio,NaN,NaN
2103004,65d166b0be4b8909cc1c6307,zurLzE2sCwhj8irW2N5coH54F3J2,ซินยอ,2024-02-18 09:08:48.916904,play,5,tonkhaow,NaN,KETQW,studio,NaN,NaN
2103005,65d166b37b0d52fdf14ee14f,zurLzE2sCwhj8irW2N5coH54F3J2,ซินญอร์,2024-02-18 09:08:51.726328,play,7,tonkhaow,NaN,SPROI,studio,NaN,NaN
2103007,65d166b69b5766ef6f19d162,zurLzE2sCwhj8irW2N5coH54F3J2,ซินยอเวอร์ซาเลโก้จะไม่ให้อภัยผู้ใดก็ตามที่บังอ...,2024-02-18 09:08:54.752680,play,150,tanong,NaN,WIKYH,studio,NaN,NaN
2103020,65d167429cf70e0ea0cc2efa,zurLzE2sCwhj8irW2N5coH54F3J2,หลังจากตื่นนอนทำแผลกินมื้อเช้าฝึกทำกายภาพบำบัด...,2024-02-18 09:11:14.430143,play,709,gift,NaN,FSVJN,studio,NaN,NaN
2103027,65d167662c02417d9965c739,zurLzE2sCwhj8irW2N5coH54F3J2,“หมอก็ไม่ทราบครับ”,2024-02-18 09:11:50.263998,play,18,puri,NaN,VKYQQ,studio,NaN,NaN
2103028,65d167689b5766ef6f19d163,zurLzE2sCwhj8irW2N5coH54F3J2,“ต้องขอโทษด้วยเขาไม่ประสงค์ออกนามครับตามบันทึก...,2024-02-18 09:11:52.750581,play,81,puri,NaN,EWRAQ,studio,NaN,NaN
2103039,65d167a445f2dff8d0a88acf,zurLzE2sCwhj8irW2N5coH54F3J2,“ไม่ต้องห่วงครับค่าใช้จ่ายทั้งหมดมีผู้แจ้งความ...,2024-02-18 09:12:52.812404,play,77,puri,NaN,HCDPY,studio,NaN,NaN
2103042,65d167afd18195de29607965,zurLzE2sCwhj8irW2N5coH54F3J2,‘ไม่ค่ะ’หมอจะมาประเมินอาการของเธอทุกสัปดาห์และ...,2024-02-18 09:13:03.117618,play,301,gift,NaN,YOVZT,studio,NaN,NaN
2103044,65d167b8725a56bdd21ebd81,zurLzE2sCwhj8irW2N5coH54F3J2,“ผ่านไปหนึ่งเดือนแล้วพอจะจำอะไรได้บ้างไหมครับ”,2024-02-18 09:13:12.787581,play,46,puri,NaN,OGEOS,studio,NaN,NaN
2103047,65d167cece37271c4f971290,zurLzE2sCwhj8irW2N5coH54F3J2,‘ใครหรือคะ’,2024-02-18 09:13:34.315028,play,11,gift,NaN,AUHQB,studio,NaN,NaN
2103052,65d167e2759b20b899fd9b23,zurLzE2sCwhj8irW2N5coH54F3J2,ผู้อำนวยการสถานพักฟื้นผู้ป่วยกำชับทุกคนด้วยสีห...,2024-02-18 09:13:54.991061,play,150,gift,NaN,OZVNK,studio,NaN,NaN
2103061,65d16829ef0dd820db39126d,zurLzE2sCwhj8irW2N5coH54F3J2,‘แปลว่าเขาอาจจะรู้จักฉันใช่มั้ยคะ’เธอเขียนข้อค...,2024-02-18 09:15:05.791779,play,92,gift,NaN,SNPIM,studio,NaN,NaN
2103066,65d1685b630f837a87dc4133,zurLzE2sCwhj8irW2N5coH54F3J2,เรือยอร์ต,2024-02-18 09:15:55.849160,play,9,tonkhaow,NaN,YFOLU,studio,NaN,NaN
2103068,65d16863fe5edad6f4320332,zurLzE2sCwhj8irW2N5coH54F3J2,เรือย้อด,2024-02-18 09:16:03.773253,play,8,tonkhaow,NaN,ORPJR,studio,NaN,NaN
2103076,65d1688fdfb1b1e82be4b9e4,zurLzE2sCwhj8irW2N5coH54F3J2,เธอรู้สึกโดดเดี่ยวเหลือเกินรู้สึกเหมือนอยู่ตัว...,2024-02-18 09:16:47.818365,play,952,gift,NaN,ONRML,studio,NaN,NaN
2103079,65d168ab20ea4fc5c07cc147,zurLzE2sCwhj8irW2N5coH54F3J2,พวกเขาไม่ได้รับอนุญาตให้พูดคุยกับเธอนั่นทำให้เ...,2024-02-18 09:17:15.126422,play,171,gift,NaN,DTNIK,studio,NaN,NaN
2103098,65d1695e759b20b899fd9b25,zurLzE2sCwhj8irW2N5coH54F3J2,“นั่นคือคุณอดัมส่วนอีกคนคือคุณโทนี่พวกเขาเป็นบ...,2024-02-18 09:20:14.684377,play,293,care,NaN,FNJXS,studio,NaN,NaN
2103103,65d169769b5766ef6f19d165,zurLzE2sCwhj8irW2N5coH54F3J2,‘ใครคือผู้ดูแลฉันคะ’,2024-02-18 09:20:38.849902,play,20,gift,NaN,LJPZD,studio,NaN,NaN
2103107,65d169907b0d52fdf14ee154,zurLzE2sCwhj8irW2N5coH54F3J2,“ขออภัยด้วยค่ะดิฉันเองก็ไม่ทราบ”,2024-02-18 09:21:04.785874,play,32,care,NaN,EILCB,studio,NaN,NaN
2103116,65d169d59cf70e0ea0cc2efd,zurLzE2sCwhj8irW2N5coH54F3J2,ผู้ดูแลเธอคือใครเขาเกี่ยวข้องกับเธออย่างไรแล้ว...,2024-02-18 09:22:13.490890,play,843,gift,NaN,OJXFB,studio,NaN,NaN

In [ ]:
df_user = df_msg[df_msg['user_id'] == 'zurLzE2sCwhj8irW2N5coH54F3J2']

In [ ]:
df_user.count()

_id         52
user_id     52
message     52
datetime    52
channel     52
count       52
speaker     52
url          0
audio_id    52
page        52
provider     0
language     0
dtype: int64

In [ ]:
df_msg[(df_msg['user_id'] == 'Uaa79049ab2656f958938087fbabb6479') & (df_msg['channel'] == 'download')]

,_id,user_id,message,datetime,channel,count,speaker,url,audio_id,page,provider,language
3169029,660d50edfb7e54abf6634191,Uaa79049ab2656f958938087fbabb6479,วันนี้ผมมีเรื่องที่น่าสนใจมากๆจะมาเล่าให้ฟังกั...,2024-04-03 19:51:25.987773,download,51,max,NaN,REMDH,NaN,NaN,NaN
3169030,660d50edfb7e54abf663419c,Uaa79049ab2656f958938087fbabb6479,ดังนั้นในวันนี้ผมจะพาทุกคนไปสัมผัสกับความคิดเห...,2024-04-03 19:51:30.223527,download,59,max,NaN,RJJFJ,NaN,NaN,NaN
3169031,660d50edfb7e54abf663419d,Uaa79049ab2656f958938087fbabb6479,เราจะได้เห็นว่าคนต่างชาติมองประเทศไทยในแง่มุมไ...,2024-04-03 19:51:30.601117,download,52,max,NaN,FXABK,NaN,NaN,NaN
3169032,660d50edfb7e54abf66341a0,Uaa79049ab2656f958938087fbabb6479,ความคิดเห็นแรกมาจากคุณชาริสสาเอ็นเก็ทเธอบอกว่า,2024-04-03 19:51:31.658330,download,46,max,NaN,ZTAVL,NaN,NaN,NaN
3169033,660d50edfb7e54abf66341a1,Uaa79049ab2656f958938087fbabb6479,“คนไทยน่ารักและชอบช่วยเหลือชั้นมักมากเลย,2024-04-03 19:51:32.056143,download,40,max,NaN,FXMQI,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3687179,66333e761dfe022861d4dad4,Uaa79049ab2656f958938087fbabb6479,จะเห็นได้ว่าโลกของสัตว์นั้นช่างน่าทึ่งจริงๆ,2024-05-02 14:19:18.568943,download,43,max,NaN,FQXDS,studio,NaN,th
3687180,66333e761dfe022861d4dad5,Uaa79049ab2656f958938087fbabb6479,ถ้าเราสังเกตให้ดีจะเห็นว่าหลายๆอย่าง,2024-05-02 14:19:18.568961,download,36,max,NaN,LKXLB,studio,NaN,th
3687181,66333e761dfe022861d4dad8,Uaa79049ab2656f958938087fbabb6479,หรือแม้แต่การปรับตัวให้เข้ากับสิ่งแวดล้อม,2024-05-02 14:19:18.569224,download,41,max,NaN,CYAGX,studio,NaN,th
3687182,66333e761dfe022861d4dadb,Uaa79049ab2656f958938087fbabb6479,ขอบคุณเพื่อนๆที่ติดตามรับชม,2024-05-02 14:19:18.569314,download,27,max,NaN,MLDLW,studio,NaN,th
3687183,66333e761dfe022861d4dadc,Uaa79049ab2656f958938087fbabb6479,แต่ก่อนจากกันไปกับคลิปนี้,2024-05-02 14:19:18.569343,download,25,max,NaN,XUMJJ,studio,NaN,th

# New Section

In [ ]:
df_pay_2024_23 = df_pay_copy[(df_pay_copy['datetime'].dt.year <= 2024) & (df_pay_copy['datetime'].dt.month <= 5)& (df_pay_copy['datetime'].dt.day <= 23)]

In [ ]:
df_pay_2024_23

,_id,user_id,package_id,price,qrcode,transactionid,datetime,ref1,status,point,promotion,actual_time,sale_code_name,package_sub,action,subscription,sub_id,date
41159,61cfdabe49c47eee33de7fe6,U7b22dbde5760b40be25f690692b57538,credits,2,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012522010111...,2022-01-01 04:38:22,TTS-WFYZK8E7O8QRZN8W,False,109,0,2022-01-01 04:38:22.431000,NaN,NaN,NaN,NaN,NaN,2022-01-01
41160,61cfe1d13c9bfe3d85b1a0d8,Uc916bc588bfc6ccf12a500fc1a58695b,credits,3,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012522010112...,2022-01-01 05:08:33,TTS-E7UTV9VYCTREK5GR,False,192,0,2022-01-01 05:08:33.660000,NaN,NaN,NaN,NaN,NaN,2022-01-01
41161,61cff904e6167b160f0e5cc5,U45144631ce56a094c47a7437858af757,package_50,50,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012522010113...,2022-01-01 06:47:32,TTS-X8O8S562AQCGY9C9,False,2500,100,2022-01-01 06:47:32.331000,NaN,NaN,NaN,NaN,NaN,2022-01-01
41162,61cffc8e2244fb5cbe1477e9,U7df31c94a28676f91f2f882395c329d3,credits,2,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012522010114...,2022-01-01 07:02:38,TTS-FBKRMUN5ICTA12RW,True,149,0,2022-01-01 07:02:38.859000,NaN,NaN,NaN,NaN,NaN,2022-01-01
41163,61cffd8e2244fb5cbe1477ea,U7df31c94a28676f91f2f882395c329d3,credits,1,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012522010114...,2022-01-01 07:06:54,TTS-JUX7SG0ZP4IH5T2R,False,1,0,2022-01-01 07:06:54.786000,NaN,NaN,NaN,NaN,NaN,2022-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
545694,664f6af5feeac66167b2bf8d,7Kzlo6scUCMNIvSpkexn4jVq82D3,pack_750,400,NaN,NaN,2024-05-23 23:12:37,NaN,True,30000,NaN,2024-05-24 06:12:37.593000,,NaN,NaN,Free,NaN,2024-05-23
545695,664f6d2dfeeac66167b2bf90,gCXBN5ge72T1dGwy6Q9NZakliFm2,pack_299,199,NaN,NaN,2024-05-23 23:22:05,NaN,True,12500,NaN,2024-05-24 06:22:05.161000,,NaN,NaN,Free,NaN,2024-05-23
545696,664f6dbcfeeac66167b2bf92,HmGefrecXkMkQfjCsJOMcM04NKf2,pack_750,400,NaN,NaN,2024-05-23 23:24:28,NaN,True,30000,NaN,2024-05-24 06:24:28.561000,,NaN,NaN,Free,NaN,2024-05-23
545697,664f6ebdfeeac66167b2bf94,Uf45905e7d1edb2719d1cc88e12ecff2b,pack_299,199,NaN,NaN,2024-05-23 23:28:45,NaN,True,12500,NaN,2024-05-24 06:28:45.824000,,NaN,NaN,Free,NaN,2024-05-23
545698,664f6f64feeac66167b2bf96,D0HrTja8xQQWqWK15Ls2VBRmt283,pack_99,99,NaN,NaN,2024-05-23 23:31:32,NaN,True,4100,NaN,2024-05-24 06:31:32.301000,,NaN,NaN,Free,NaN,2024-05-23

In [ ]:
df_pay_true = df_pay_2024_23[df_pay_2024_23['status'] == True]
df_pay_true

,_id,user_id,package_id,price,qrcode,transactionid,datetime,ref1,status,point,promotion,actual_time,sale_code_name,package_sub,action,subscription,sub_id,date
41162,61cffc8e2244fb5cbe1477e9,U7df31c94a28676f91f2f882395c329d3,credits,2,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012522010114...,2022-01-01 07:02:38,TTS-FBKRMUN5ICTA12RW,True,149,0,2022-01-01 07:02:38.859000,NaN,NaN,NaN,NaN,NaN,2022-01-01
41168,61d0035fe6167b160f0e5cc6,Uaca634f8e5c376d815f4b3d3efc7ef85,credits,1,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012522010114...,2022-01-01 07:31:43,TTS-QUBA8UBQAGMUV1FA,True,16,0,2022-01-01 07:31:43.294000,NaN,NaN,NaN,NaN,NaN,2022-01-01
41174,61d0282949c47eee33de7fea,U4434776b85285e5bd833a31ef44e2d94,package_50,50,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012522010117...,2022-01-01 10:08:41,TTS-XRDNI8N8HQ37FHW1,True,2500,100,2022-01-01 10:08:41.259000,NaN,NaN,NaN,NaN,NaN,2022-01-01
41179,61d063de49c47eee33de7fec,Ud1a14a0c326ed640a326a205a216fc64,credits,2,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012522010121...,2022-01-01 14:23:26,TTS-NVRSW3HQ0XCLN3GQ,True,118,0,2022-01-01 14:23:26.439000,NaN,NaN,NaN,NaN,NaN,2022-01-01
41185,61d075c40541bf1cbdf4246f,U66e11d2d8bd436d76505973d8d4658a8,credits,51,00020101021230820016A0000006770101120115010753...,0107536000374040000022030012434300012522010122...,2022-01-01 15:39:48,TTS-EB3I1BR280ST9XER,True,2562,0,2022-01-01 15:39:48.192000,NaN,NaN,NaN,NaN,NaN,2022-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
545694,664f6af5feeac66167b2bf8d,7Kzlo6scUCMNIvSpkexn4jVq82D3,pack_750,400,NaN,NaN,2024-05-23 23:12:37,NaN,True,30000,NaN,2024-05-24 06:12:37.593000,,NaN,NaN,Free,NaN,2024-05-23
545695,664f6d2dfeeac66167b2bf90,gCXBN5ge72T1dGwy6Q9NZakliFm2,pack_299,199,NaN,NaN,2024-05-23 23:22:05,NaN,True,12500,NaN,2024-05-24 06:22:05.161000,,NaN,NaN,Free,NaN,2024-05-23
545696,664f6dbcfeeac66167b2bf92,HmGefrecXkMkQfjCsJOMcM04NKf2,pack_750,400,NaN,NaN,2024-05-23 23:24:28,NaN,True,30000,NaN,2024-05-24 06:24:28.561000,,NaN,NaN,Free,NaN,2024-05-23
545697,664f6ebdfeeac66167b2bf94,Uf45905e7d1edb2719d1cc88e12ecff2b,pack_299,199,NaN,NaN,2024-05-23 23:28:45,NaN,True,12500,NaN,2024-05-24 06:28:45.824000,,NaN,NaN,Free,NaN,2024-05-23
545698,664f6f64feeac66167b2bf96,D0HrTja8xQQWqWK15Ls2VBRmt283,pack_99,99,NaN,NaN,2024-05-23 23:31:32,NaN,True,4100,NaN,2024-05-24 06:31:32.301000,,NaN,NaN,Free,NaN,2024-05-23

## Loop ทำกับข้อมูลทั้งหมดก่อนให้ได้วันที่จ่ายครั้งแรก แล้วค่อยกรองเอาแค่คนที่เติมครั้งแรกตอน2024
- ถ้ากรองก่อนทำฟังก์ชั่นอาจจะติดลูกค้าเก่าที่เคยเติมเมื่อปีที่แล้วมาด้วย

In [ ]:
# สร้างฟังก์ชั่นเพื่อทำ pivot table ใหม่
def create_user_summary(df):
    users = df['user_id'].unique()
    user_data = []

    for user in users:
        user_df = df[df['user_id'] == user].sort_values(by='datetime')
        user_dict = {'user_id': user}

        for idx, row in enumerate(user_df.itertuples(), start=1):
            user_dict[f'date_{idx}'] = row.datetime
            user_dict[f'package_id_{idx}'] = row.package_id
            user_dict[f'price_{idx}'] = row.price
            user_dict[f'point_{idx}'] = row.point

        user_data.append(user_dict)

    return pd.DataFrame(user_data)

# เรียกใช้ฟังก์ชั่นเพื่อสร้างตารางใหม่

In [ ]:
df_user_summary = create_user_summary(df_pay_true_cleaned)
df_user_summary

,user_id,date_1,package_id_1,price_1,point_1,date_2,package_id_2,price_2,point_2,date_3,...,price_153,point_153,date_154,package_id_154,price_154,point_154,date_155,package_id_155,price_155,point_155
0,U7df31c94a28676f91f2f882395c329d3,2022-01-01 07:02:38,credits,2,149,2022-01-01 07:06:14,credits,1,1,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
1,Uaca634f8e5c376d815f4b3d3efc7ef85,2022-01-01 07:30:14,credits,1,69,2022-01-01 07:31:43,credits,1,16,2022-01-14 14:46:29,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
2,U4434776b85285e5bd833a31ef44e2d94,2022-01-01 10:08:41,package_50,50,2500,2022-01-01 18:37:32,package_50,50,2500,2022-01-02 09:56:08,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
3,Ud1a14a0c326ed640a326a205a216fc64,2022-01-01 14:23:26,credits,2,118,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
4,U66e11d2d8bd436d76505973d8d4658a8,2022-01-01 15:39:48,credits,51,2562,2022-01-01 16:00:35,credits,1,95,2022-01-01 16:24:31,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16019,AeBVMR3H7xNITi6erFucrBivRkr1,2024-05-23 22:04:03,pack_299,200,12500,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
16020,rzvE71JXFzf8nLB07zlhEobCCdf2,2024-05-23 22:21:44,pack_299,200,12500,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
16021,7Kzlo6scUCMNIvSpkexn4jVq82D3,2024-05-23 23:12:37,pack_750,400,30000,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
16022,gCXBN5ge72T1dGwy6Q9NZakliFm2,2024-05-23 23:22:05,pack_299,199,12500,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
16023,HmGefrecXkMkQfjCsJOMcM04NKf2,2024-05-23 23:24:28,pack_750,400,30000,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN

In [ ]:
df_user_summary_2024_23 = df_user_summary[df_user_summary['date_1'].dt.year >= 2024]
df_user_summary_2024_23

,user_id,date_1,package_id_1,price_1,point_1,date_2,package_id_2,price_2,point_2,date_3,...,price_153,point_153,date_154,package_id_154,price_154,point_154,date_155,package_id_155,price_155,point_155
9735,k3TDM6AB20aKB384TgMl8GqXQpK2,2024-01-01 05:17:20,NoAds,29,0,2024-01-02 04:55:37,NoAds,29,0,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
9736,Uc2c3f2953c8bce372f1bf83caca2a6c2,2024-01-01 02:04:14,credits,6,217,2024-01-01 10:24:51,credit,10,400,2024-01-02 16:37:32,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
9737,xfxlfT2nLcaFxvkLvuclelInaK53,2024-01-01 02:47:07,credits,2,71,2024-02-20 11:47:25,credit,7,266,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
9738,C9PCYn3LDEQkFed3ZlQHXgLroJ02,2024-01-01 09:54:33,credit,10,400,2024-01-08 16:43:40,credits,7,271,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
9739,UyUUO3Mp7gQMBooCfXoDxso1ucD2,2024-01-01 03:23:08,credits,3,96,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16019,AeBVMR3H7xNITi6erFucrBivRkr1,2024-05-23 22:04:03,pack_299,200,12500,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
16020,rzvE71JXFzf8nLB07zlhEobCCdf2,2024-05-23 22:21:44,pack_299,200,12500,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
16021,7Kzlo6scUCMNIvSpkexn4jVq82D3,2024-05-23 23:12:37,pack_750,400,30000,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
16022,gCXBN5ge72T1dGwy6Q9NZakliFm2,2024-05-23 23:22:05,pack_299,199,12500,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
16023,HmGefrecXkMkQfjCsJOMcM04NKf2,2024-05-23 23:24:28,pack_750,400,30000,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN

In [ ]:
#คนที่เติมหลายครั้ง
df_user_manytime = df_user_summary_2024.dropna(subset=['date_2'])
df_user_manytime

In [ ]:
transaction_columns = [col for col in df_user_summary_2024_23.columns if col.startswith('date_')]

df_user_summary_2024_23['transaction_count'] = df_user_summary_2024_23[transaction_columns].notna().sum(axis=1)

<ipython-input-73-55e0260b6dd5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_user_summary_2024_23['transaction_count'] = df_user_summary_2024_23[transaction_columns].notna().sum(axis=1)

In [ ]:
df_user_summary_2024_23

,user_id,date_1,package_id_1,price_1,point_1,date_2,package_id_2,price_2,point_2,date_3,...,point_153,date_154,package_id_154,price_154,point_154,date_155,package_id_155,price_155,point_155,transaction_count
9735,k3TDM6AB20aKB384TgMl8GqXQpK2,2024-01-01 05:17:20,NoAds,29,0,2024-01-02 04:55:37,NoAds,29,0,NaT,...,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2
9736,Uc2c3f2953c8bce372f1bf83caca2a6c2,2024-01-01 02:04:14,credits,6,217,2024-01-01 10:24:51,credit,10,400,2024-01-02 16:37:32,...,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,4
9737,xfxlfT2nLcaFxvkLvuclelInaK53,2024-01-01 02:47:07,credits,2,71,2024-02-20 11:47:25,credit,7,266,NaT,...,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2
9738,C9PCYn3LDEQkFed3ZlQHXgLroJ02,2024-01-01 09:54:33,credit,10,400,2024-01-08 16:43:40,credits,7,271,NaT,...,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2
9739,UyUUO3Mp7gQMBooCfXoDxso1ucD2,2024-01-01 03:23:08,credits,3,96,NaT,NaN,NaN,NaN,NaT,...,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16019,AeBVMR3H7xNITi6erFucrBivRkr1,2024-05-23 22:04:03,pack_299,200,12500,NaT,NaN,NaN,NaN,NaT,...,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,1
16020,rzvE71JXFzf8nLB07zlhEobCCdf2,2024-05-23 22:21:44,pack_299,200,12500,NaT,NaN,NaN,NaN,NaT,...,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,1
16021,7Kzlo6scUCMNIvSpkexn4jVq82D3,2024-05-23 23:12:37,pack_750,400,30000,NaT,NaN,NaN,NaN,NaT,...,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,1
16022,gCXBN5ge72T1dGwy6Q9NZakliFm2,2024-05-23 23:22:05,pack_299,199,12500,NaT,NaN,NaN,NaN,NaT,...,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,1
16023,HmGefrecXkMkQfjCsJOMcM04NKf2,2024-05-23 23:24:28,pack_750,400,30000,NaT,NaN,NaN,NaN,NaT,...,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,1

## date diff

In [ ]:
df_user_summary_2024_23['days_between_1_2'] = (df_user_summary_2024_23['date_2'] - df_user_summary_2024_23['date_1']).dt.days

<ipython-input-75-c3ba942f60c8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_user_summary_2024_23['days_between_1_2'] = (df_user_summary_2024_23['date_2'] - df_user_summary_2024_23['date_1']).dt.days

In [ ]:
df_user_summary_2024_23

,user_id,date_1,package_id_1,price_1,point_1,date_2,package_id_2,price_2,point_2,date_3,...,date_154,package_id_154,price_154,point_154,date_155,package_id_155,price_155,point_155,transaction_count,days_between_1_2
9735,k3TDM6AB20aKB384TgMl8GqXQpK2,2024-01-01 05:17:20,NoAds,29,0,2024-01-02 04:55:37,NoAds,29,0,NaT,...,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2,0.0
9736,Uc2c3f2953c8bce372f1bf83caca2a6c2,2024-01-01 02:04:14,credits,6,217,2024-01-01 10:24:51,credit,10,400,2024-01-02 16:37:32,...,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,4,0.0
9737,xfxlfT2nLcaFxvkLvuclelInaK53,2024-01-01 02:47:07,credits,2,71,2024-02-20 11:47:25,credit,7,266,NaT,...,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2,50.0
9738,C9PCYn3LDEQkFed3ZlQHXgLroJ02,2024-01-01 09:54:33,credit,10,400,2024-01-08 16:43:40,credits,7,271,NaT,...,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2,7.0
9739,UyUUO3Mp7gQMBooCfXoDxso1ucD2,2024-01-01 03:23:08,credits,3,96,NaT,NaN,NaN,NaN,NaT,...,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16019,AeBVMR3H7xNITi6erFucrBivRkr1,2024-05-23 22:04:03,pack_299,200,12500,NaT,NaN,NaN,NaN,NaT,...,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,1,NaN
16020,rzvE71JXFzf8nLB07zlhEobCCdf2,2024-05-23 22:21:44,pack_299,200,12500,NaT,NaN,NaN,NaN,NaT,...,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,1,NaN
16021,7Kzlo6scUCMNIvSpkexn4jVq82D3,2024-05-23 23:12:37,pack_750,400,30000,NaT,NaN,NaN,NaN,NaT,...,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,1,NaN
16022,gCXBN5ge72T1dGwy6Q9NZakliFm2,2024-05-23 23:22:05,pack_299,199,12500,NaT,NaN,NaN,NaN,NaT,...,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,1,NaN
16023,HmGefrecXkMkQfjCsJOMcM04NKf2,2024-05-23 23:24:28,pack_750,400,30000,NaT,NaN,NaN,NaN,NaT,...,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,1,NaN

In [ ]:
import numpy as np

# เลือกเฉพาะคอลัมน์ที่มีชนิดข้อมูลเป็น datetime
date_columns = df_user_summary_2024_23.select_dtypes(include=[np.datetime64]).columns

# สร้างคอลัมน์ใหม่ 'last_filled_date' และใส่ค่าวันที่ล่าสุดที่จ่ายเงินของแต่ละ user
df_user_summary_2024_23['last_pay_date'] = df_user_summary_2024_23[date_columns].max(axis=1)
df_user_summary_2024_23

<ipython-input-78-cb079a451a13>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_user_summary_2024_23['last_pay_date'] = df_user_summary_2024_23[date_columns].max(axis=1)

,user_id,date_1,package_id_1,price_1,point_1,date_2,package_id_2,price_2,point_2,date_3,...,package_id_154,price_154,point_154,date_155,package_id_155,price_155,point_155,transaction_count,days_between_1_2,last_pay_date
9735,k3TDM6AB20aKB384TgMl8GqXQpK2,2024-01-01 05:17:20,NoAds,29,0,2024-01-02 04:55:37,NoAds,29,0,NaT,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2,0.0,2024-01-02 04:55:37
9736,Uc2c3f2953c8bce372f1bf83caca2a6c2,2024-01-01 02:04:14,credits,6,217,2024-01-01 10:24:51,credit,10,400,2024-01-02 16:37:32,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,4,0.0,2024-01-11 16:51:17
9737,xfxlfT2nLcaFxvkLvuclelInaK53,2024-01-01 02:47:07,credits,2,71,2024-02-20 11:47:25,credit,7,266,NaT,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2,50.0,2024-02-20 11:47:25
9738,C9PCYn3LDEQkFed3ZlQHXgLroJ02,2024-01-01 09:54:33,credit,10,400,2024-01-08 16:43:40,credits,7,271,NaT,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2,7.0,2024-01-08 16:43:40
9739,UyUUO3Mp7gQMBooCfXoDxso1ucD2,2024-01-01 03:23:08,credits,3,96,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,1,NaN,2024-01-01 03:23:08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16019,AeBVMR3H7xNITi6erFucrBivRkr1,2024-05-23 22:04:03,pack_299,200,12500,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,1,NaN,2024-05-23 22:04:03
16020,rzvE71JXFzf8nLB07zlhEobCCdf2,2024-05-23 22:21:44,pack_299,200,12500,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,1,NaN,2024-05-23 22:21:44
16021,7Kzlo6scUCMNIvSpkexn4jVq82D3,2024-05-23 23:12:37,pack_750,400,30000,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,1,NaN,2024-05-23 23:12:37
16022,gCXBN5ge72T1dGwy6Q9NZakliFm2,2024-05-23 23:22:05,pack_299,199,12500,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,1,NaN,2024-05-23 23:22:05
16023,HmGefrecXkMkQfjCsJOMcM04NKf2,2024-05-23 23:24:28,pack_750,400,30000,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,1,NaN,2024-05-23 23:24:28

In [ ]:
# ใช้ count() เพื่อนับจำนวนข้อมูลที่ไม่เป็นค่าว่างในแต่ละคอลัมน์
not_null_count = df_user_summary_2024_23.count()

# หาคอลัมน์ที่มีค่าเท่ากับ 0 เพื่อหา date ที่ข้อมูลไม่ถึง
not_reached_date = not_null_count[not_null_count == 0].index

# แสดงคอลัมน์ที่ไม่มีข้อมูลถึง date ที่เท่าไร
print("Columns not reached to a certain date:", not_reached_date)

Columns not reached to a certain date: Index(['date_77', 'package_id_77', 'price_77', 'point_77', 'date_78',
       'package_id_78', 'price_78', 'point_78', 'date_79', 'package_id_79',
       ...
       'price_153', 'point_153', 'date_154', 'package_id_154', 'price_154',
       'point_154', 'date_155', 'package_id_155', 'price_155', 'point_155'],
      dtype='object', length=316)

In [ ]:

df = pd.DataFrame(not_reached_date, columns=['NotReachedDate'])
df

     NotReachedDate
0           date_77
1     package_id_77
2          price_77
3          point_77
4           date_78
..              ...
311       point_154
312        date_155
313  package_id_155
314       price_155
315       point_155

[316 rows x 1 columns]

In [ ]:
not_reached_date

Index(['date_79', 'package_id_79', 'price_79', 'point_79', 'date_80',
       'package_id_80', 'price_80', 'point_80', 'date_81', 'package_id_81',
       ...
       'price_163', 'point_163', 'date_164', 'package_id_164', 'price_164',
       'point_164', 'date_165', 'package_id_165', 'price_165', 'point_165'],
      dtype='object', length=348)

In [ ]:
import numpy as np

# เลือกเฉพาะคอลัมน์ที่มีชนิดข้อมูลเป็น datetime
date_columns = df_user_summary_2024.select_dtypes(include=[np.datetime64]).columns

# สร้างคอลัมน์ใหม่ 'last_filled_date' และใส่ค่าวันที่ล่าสุดที่จ่ายเงินของแต่ละ user
df_user_summary_2024['last_pay_date'] = df_user_summary_2024[date_columns].max(axis=1)

# แสดง DataFrame หลังจากเพิ่มคอลัมน์ใหม่
print(df_user_summary_2024)

                                 user_id              date_1 package_id_1  \
34177  Uc2c3f2953c8bce372f1bf83caca2a6c2 2024-01-01 02:04:14      credits
34178       UyUUO3Mp7gQMBooCfXoDxso1ucD2 2024-01-01 03:23:08      credits
34179       cLjhV8oMIraDsthPVgWBQEtWC7S2 2024-01-01 13:20:39       credit
34180       xmS22BjDuuN2YIkDiEpj3Q9YsQK2 2024-01-01 08:08:07      credits
34181  U4a6e9bff8df95fa690c31524a2554822 2024-01-01 16:13:14      pack_99
...                                  ...                 ...          ...
41204       0IDGpaUMQNOE1C6XcBKDfsvWCrj2 2024-05-28 01:30:31       credit
41205       IwB1ZDoSqcYGTne66KE7KtEjkE12 2024-05-28 01:36:15      pack_99
41206       6QAYs1UTLBSUMGmmFok8ejV1QCD2 2024-05-28 06:25:40     pack_299
41207       u8Me5tZnAhc1pAEdjaXFOZ3gdOj2 2024-05-28 07:09:39     pack_299
41208  Uf0ffcf913ed40cf66df25cd40c1137ba 2024-05-28 07:52:11      pack_99

      price_1 point_1              date_2 package_id_2 price_2 point_2  \
34177       6     217 2024-01-01 10:24:51       credit      10     400
34178       3      96                 NaT          NaN     NaN     NaN
34179      12     480                 NaT          NaN     NaN     NaN
34180       4     134                 NaT          NaN     NaN     NaN
34181      99    4100                 NaT          NaN     NaN     NaN
...       ...     ...                 ...          ...     ...     ...
41204      15     600                 NaT          NaN     NaN     NaN
41205      99    4100 2024-05-28 03:13:18     pack_299     199   12500
41206     199   12500                 NaT          NaN     NaN     NaN
41207     200   12500                 NaT          NaN     NaN     NaN
41208      99    4100                 NaT          NaN     NaN     NaN

                   date_3  ... date_240 package_id_240 price_240 point_240  \
34177 2024-01-02 16:37:32  ...      NaT            NaN       NaN       NaN
34178                 NaT  ...      NaT            NaN       NaN       NaN
34179                 NaT  ...      NaT            NaN       NaN       NaN
34180                 NaT  ...      NaT            NaN       NaN       NaN
34181                 NaT  ...      NaT            NaN       NaN       NaN
...                   ...  ...      ...            ...       ...       ...
41204                 NaT  ...      NaT            NaN       NaN       NaN
41205 2024-05-28 05:21:53  ...      NaT            NaN       NaN       NaN
41206                 NaT  ...      NaT            NaN       NaN       NaN
41207                 NaT  ...      NaT            NaN       NaN       NaN
41208                 NaT  ...      NaT            NaN       NaN       NaN

      date_241 package_id_241 price_241 point_241 days_between_1_2  \
34177      NaT            NaN       NaN       NaN              0.0
34178      NaT            NaN       NaN       NaN              NaN
34179      NaT            NaN       NaN       NaN              NaN
34180      NaT            NaN       NaN       NaN              NaN
34181      NaT            NaN       NaN       NaN              NaN
...        ...            ...       ...       ...              ...
41204      NaT            NaN       NaN       NaN              NaN
41205      NaT            NaN       NaN       NaN              0.0
41206      NaT            NaN       NaN       NaN              NaN
41207      NaT            NaN       NaN       NaN              NaN
41208      NaT            NaN       NaN       NaN              NaN

            last_pay_date
34177 2024-01-11 16:51:17
34178 2024-01-01 03:23:08
34179 2024-01-01 13:20:39
34180 2024-01-01 08:08:07
34181 2024-01-01 16:13:14
...                   ...
41204 2024-05-28 01:30:31
41205 2024-05-28 05:21:53
41206 2024-05-28 06:25:40
41207 2024-05-28 07:09:39
41208 2024-05-28 07:52:11

[7032 rows x 967 columns]

<ipython-input-20-b30e649c45f2>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_user_summary_2024['last_pay_date'] = df_user_summary_2024[date_columns].max(axis=1)

In [ ]:
df_user_manytime.drop(columns=['days_between_transactions', 'average_days_between_transactions', 'last_filled_date'], inplace=True)
df_user_manytime

<ipython-input-77-265b1024e11c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_user_manytime.drop(columns=['days_between_transactions', 'average_days_between_transactions', 'last_filled_date'], inplace=True)

,user_id,date_1,package_id_1,price_1,point_1,date_2,package_id_2,price_2,point_2,date_3,...,package_id_97,price_97,point_97,date_98,package_id_98,price_98,point_98,transaction_count,days_between_1_2,last_pay_date
34177,Uc2c3f2953c8bce372f1bf83caca2a6c2,2024-01-01 02:04:14,credits,6,217,2024-01-01 10:24:51,credit,10,400,2024-01-02 16:37:32,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,4,0,2024-01-11 16:51:17
34182,U48d1cfe0d86806723f989d4bce05a94d,2024-01-01 16:22:30,credit,14,560,2024-02-04 01:49:23,credit,100,4000,NaT,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2,33,2024-02-04 01:49:23
34186,DZhxbSlKDVeZnIvxCx5Q96vZZk82,2024-01-01 20:02:41,pack_299,199,12500,2024-02-06 16:58:22,pack_299,199,12500,2024-03-02 10:05:57,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,3,35,2024-03-02 10:05:57
34187,cJm19icN6AVVzSe79FBHrTd6uXZ2,2024-01-01 20:17:40,credit,18,720,2024-01-01 20:22:58,credit,42,1680,NaT,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2,0,2024-01-01 20:22:58
34191,U9227c24b34477ccbffb893a6902e1faa,2024-01-01 14:35:48,credits,8,309,2024-01-01 15:27:48,credits,8,309,NaT,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2,0,2024-01-01 15:27:48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41048,lz4BXyn3XWY16Ynli6PJmX10cS52,2024-05-25 11:58:36,credit,100,4000,2024-05-26 14:27:21,credit,100,4000,NaT,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2,1,2024-05-26 14:27:21
41069,Y87F5psuncOoVfJb8MSdwMhG33q2,2024-05-25 11:11:30,credit,5,200,2024-05-25 11:30:20,credit,3,126,2024-05-25 16:24:20,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,4,0,2024-05-25 17:53:23
41078,cvgJ0ntcWFYpdv3zHIyDR5WPQ1E2,2024-05-25 12:02:03,credit,1,59,2024-05-25 18:38:39,credit,13,520,NaT,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2,0,2024-05-25 18:38:39
41092,dlyXvn0Jooaqmb8b1b9A3HdstP72,2024-05-25 23:24:56,credit,100,4000,2024-05-26 01:39:02,credit,100,4000,2024-05-26 14:30:46,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,3,0,2024-05-26 14:30:46
41096,Hi4FvGqsVmWCEMJaVfzq9r93d7p1,2024-05-25 20:05:42,credit,5,200,2024-05-26 00:52:26,pack_99,99,4100,2024-05-26 01:52:48,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,3,0,2024-05-26 01:52:48

In [ ]:
# กำหนดวันที่ปัจจุบัน
today_date = pd.to_datetime('2024-05-26')

# สร้างคอลัมน์ใหม่ last_pay_date_diff และคำนวณระยะห่างของ last_pay_date กับวันที่กำหนด
df_user_manytime['last_pay_date_diff'] = (today_date - df_user_manytime['last_pay_date']).dt.days

<ipython-input-82-b56b183a4f17>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_user_manytime['last_pay_date_diff'] = (today_date - df_user_manytime['last_pay_date']).dt.days

In [ ]:
df_user_manytime

,user_id,date_1,package_id_1,price_1,point_1,date_2,package_id_2,price_2,point_2,date_3,...,price_97,point_97,date_98,package_id_98,price_98,point_98,transaction_count,days_between_1_2,last_pay_date,last_pay_date_diff
34177,Uc2c3f2953c8bce372f1bf83caca2a6c2,2024-01-01 02:04:14,credits,6,217,2024-01-01 10:24:51,credit,10,400,2024-01-02 16:37:32,...,NaN,NaN,NaT,NaN,NaN,NaN,4,0,2024-01-11 16:51:17,135
34182,U48d1cfe0d86806723f989d4bce05a94d,2024-01-01 16:22:30,credit,14,560,2024-02-04 01:49:23,credit,100,4000,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,2,33,2024-02-04 01:49:23,111
34186,DZhxbSlKDVeZnIvxCx5Q96vZZk82,2024-01-01 20:02:41,pack_299,199,12500,2024-02-06 16:58:22,pack_299,199,12500,2024-03-02 10:05:57,...,NaN,NaN,NaT,NaN,NaN,NaN,3,35,2024-03-02 10:05:57,84
34187,cJm19icN6AVVzSe79FBHrTd6uXZ2,2024-01-01 20:17:40,credit,18,720,2024-01-01 20:22:58,credit,42,1680,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,2,0,2024-01-01 20:22:58,145
34191,U9227c24b34477ccbffb893a6902e1faa,2024-01-01 14:35:48,credits,8,309,2024-01-01 15:27:48,credits,8,309,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,2,0,2024-01-01 15:27:48,145
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41048,lz4BXyn3XWY16Ynli6PJmX10cS52,2024-05-25 11:58:36,credit,100,4000,2024-05-26 14:27:21,credit,100,4000,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,2,1,2024-05-26 14:27:21,-1
41069,Y87F5psuncOoVfJb8MSdwMhG33q2,2024-05-25 11:11:30,credit,5,200,2024-05-25 11:30:20,credit,3,126,2024-05-25 16:24:20,...,NaN,NaN,NaT,NaN,NaN,NaN,4,0,2024-05-25 17:53:23,0
41078,cvgJ0ntcWFYpdv3zHIyDR5WPQ1E2,2024-05-25 12:02:03,credit,1,59,2024-05-25 18:38:39,credit,13,520,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,2,0,2024-05-25 18:38:39,0
41092,dlyXvn0Jooaqmb8b1b9A3HdstP72,2024-05-25 23:24:56,credit,100,4000,2024-05-26 01:39:02,credit,100,4000,2024-05-26 14:30:46,...,NaN,NaN,NaT,NaN,NaN,NaN,3,0,2024-05-26 14:30:46,-1
41096,Hi4FvGqsVmWCEMJaVfzq9r93d7p1,2024-05-25 20:05:42,credit,5,200,2024-05-26 00:52:26,pack_99,99,4100,2024-05-26 01:52:48,...,NaN,NaN,NaT,NaN,NaN,NaN,3,0,2024-05-26 01:52:48,-1

In [ ]:
# Export DataFrame to CSV file
csv_file_path = 'df_user_manytime_date_diff.csv'
df_user_manytime.to_csv(csv_file_path, index=False)

In [ ]:
df_user_summary_2024_26 = df_user_summary_2024[df_user_summary_2024['last_pay_date'] <= pd.Timestamp('2024-05-26')]
df_user_summary_2024_26 = df_user_summary_2024[df_user_summary_2024['date_1'] <= pd.Timestamp('2024-05-26')]
df_user_summary_2024_26

,user_id,date_1,package_id_1,price_1,point_1,date_2,package_id_2,price_2,point_2,date_3,...,date_240,package_id_240,price_240,point_240,date_241,package_id_241,price_241,point_241,days_between_1_2,last_pay_date
34177,Uc2c3f2953c8bce372f1bf83caca2a6c2,2024-01-01 02:04:14,credits,6,217,2024-01-01 10:24:51,credit,10,400,2024-01-02 16:37:32,...,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,0.0,2024-01-11 16:51:17
34178,UyUUO3Mp7gQMBooCfXoDxso1ucD2,2024-01-01 03:23:08,credits,3,96,NaT,NaN,NaN,NaN,NaT,...,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-01-01 03:23:08
34179,cLjhV8oMIraDsthPVgWBQEtWC7S2,2024-01-01 13:20:39,credit,12,480,NaT,NaN,NaN,NaN,NaT,...,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-01-01 13:20:39
34180,xmS22BjDuuN2YIkDiEpj3Q9YsQK2,2024-01-01 08:08:07,credits,4,134,NaT,NaN,NaN,NaN,NaT,...,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-01-01 08:08:07
34181,U4a6e9bff8df95fa690c31524a2554822,2024-01-01 16:13:14,pack_99,99,4100,NaT,NaN,NaN,NaN,NaT,...,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-01-01 16:13:14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41090,QbRBlLBe6VS1nySbJhvVgWkit7t2,2024-05-25 22:22:53,pack_299,199,12500,NaT,NaN,NaN,NaN,NaT,...,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-05-25 22:22:53
41091,FJPQMMHNcCeLaCQQ37KU7aawEqN2,2024-05-25 22:47:11,credit,100,4000,NaT,NaN,NaN,NaN,NaT,...,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-05-25 22:47:11
41092,dlyXvn0Jooaqmb8b1b9A3HdstP72,2024-05-25 23:24:56,credit,100,4000,2024-05-26 01:39:02,credit,100,4000,2024-05-26 14:30:46,...,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,0.0,2024-05-26 14:30:46
41093,mF0FurNcHqQYnG52FPx3fZutSld2,2024-05-25 23:52:11,pack_299,200,12500,NaT,NaN,NaN,NaN,NaT,...,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-05-25 23:52:11
41096,Hi4FvGqsVmWCEMJaVfzq9r93d7p1,2024-05-25 20:05:42,credit,5,200,2024-05-26 00:52:26,pack_99,99,4100,2024-05-26 01:52:48,...,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,0.0,2024-05-26 01:52:48

In [ ]:
# แปลงคอลัมน์ 'price_1' และ 'price_2' ให้เป็นตัวเลข
df_user_summary_2024_26['price_1'] = pd.to_numeric(df_user_summary_2024_26['price_1'], errors='coerce')
df_user_summary_2024_26['price_2'] = pd.to_numeric(df_user_summary_2024_26['price_2'], errors='coerce')

# สร้างคอลัมน์ใหม่ 'price1_2_diff' โดยการลบ 'price_2' ด้วย 'price_1'
df_user_summary_2024_26['price1_2_diff'] = df_user_summary_2024_26['price_2'] - df_user_summary_2024_26['price_1']

df_user_summary_2024_26

<ipython-input-23-a838698e016f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_user_summary_2024_26['price_1'] = pd.to_numeric(df_user_summary_2024_26['price_1'], errors='coerce')
<ipython-input-23-a838698e016f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_user_summary_2024_26['price_2'] = pd.to_numeric(df_user_summary_2024_26['price_2'], errors='coerce')
<ipython-input-23-a838698e016f>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_user_summary_2024_26['price1_2_diff'] = df_user_summary_2024_26['price_2'] - df_user_summary_2024_26['price_1']

,user_id,date_1,package_id_1,price_1,point_1,date_2,package_id_2,price_2,point_2,date_3,...,package_id_240,price_240,point_240,date_241,package_id_241,price_241,point_241,days_between_1_2,last_pay_date,price1_2_diff
34177,Uc2c3f2953c8bce372f1bf83caca2a6c2,2024-01-01 02:04:14,credits,6,217,2024-01-01 10:24:51,credit,10.0,400,2024-01-02 16:37:32,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,0.0,2024-01-11 16:51:17,4.0
34178,UyUUO3Mp7gQMBooCfXoDxso1ucD2,2024-01-01 03:23:08,credits,3,96,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-01-01 03:23:08,NaN
34179,cLjhV8oMIraDsthPVgWBQEtWC7S2,2024-01-01 13:20:39,credit,12,480,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-01-01 13:20:39,NaN
34180,xmS22BjDuuN2YIkDiEpj3Q9YsQK2,2024-01-01 08:08:07,credits,4,134,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-01-01 08:08:07,NaN
34181,U4a6e9bff8df95fa690c31524a2554822,2024-01-01 16:13:14,pack_99,99,4100,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-01-01 16:13:14,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41090,QbRBlLBe6VS1nySbJhvVgWkit7t2,2024-05-25 22:22:53,pack_299,199,12500,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-05-25 22:22:53,NaN
41091,FJPQMMHNcCeLaCQQ37KU7aawEqN2,2024-05-25 22:47:11,credit,100,4000,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-05-25 22:47:11,NaN
41092,dlyXvn0Jooaqmb8b1b9A3HdstP72,2024-05-25 23:24:56,credit,100,4000,2024-05-26 01:39:02,credit,100.0,4000,2024-05-26 14:30:46,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,0.0,2024-05-26 14:30:46,0.0
41093,mF0FurNcHqQYnG52FPx3fZutSld2,2024-05-25 23:52:11,pack_299,200,12500,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-05-25 23:52:11,NaN
41096,Hi4FvGqsVmWCEMJaVfzq9r93d7p1,2024-05-25 20:05:42,credit,5,200,2024-05-26 00:52:26,pack_99,99.0,4100,2024-05-26 01:52:48,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,0.0,2024-05-26 01:52:48,94.0

In [ ]:
# ใช้ count() เพื่อนับจำนวนข้อมูลที่ไม่เป็นค่าว่างในแต่ละคอลัมน์
not_null_count = df_user_summary_2024_26.count()

# หาคอลัมน์ที่มีค่าเท่ากับ 0 เพื่อหา date ที่ข้อมูลไม่ถึง
not_reached_date = not_null_count[not_null_count == 0].index

# แสดงคอลัมน์ที่ไม่มีข้อมูลถึง date ที่เท่าไร
print("Columns not reached to a certain date:", not_reached_date)

Columns not reached to a certain date: Index(['date_99', 'package_id_99', 'price_99', 'point_99', 'date_100',
       'package_id_100', 'price_100', 'point_100', 'date_101',
       'package_id_101',
       ...
       'price_239', 'point_239', 'date_240', 'package_id_240', 'price_240',
       'point_240', 'date_241', 'package_id_241', 'price_241', 'point_241'],
      dtype='object', length=572)

In [ ]:
df_user_summary_2024_26.drop(columns=not_reached_date, inplace=True)
df_user_summary_2024_26

<ipython-input-26-1c5c9fcf8cdb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_user_summary_2024_26.drop(columns=not_reached_date, inplace=True)

,user_id,date_1,package_id_1,price_1,point_1,date_2,package_id_2,price_2,point_2,date_3,...,package_id_97,price_97,point_97,date_98,package_id_98,price_98,point_98,days_between_1_2,last_pay_date,price1_2_diff
34177,Uc2c3f2953c8bce372f1bf83caca2a6c2,2024-01-01 02:04:14,credits,6,217,2024-01-01 10:24:51,credit,10.0,400,2024-01-02 16:37:32,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,0.0,2024-01-11 16:51:17,4.0
34178,UyUUO3Mp7gQMBooCfXoDxso1ucD2,2024-01-01 03:23:08,credits,3,96,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-01-01 03:23:08,NaN
34179,cLjhV8oMIraDsthPVgWBQEtWC7S2,2024-01-01 13:20:39,credit,12,480,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-01-01 13:20:39,NaN
34180,xmS22BjDuuN2YIkDiEpj3Q9YsQK2,2024-01-01 08:08:07,credits,4,134,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-01-01 08:08:07,NaN
34181,U4a6e9bff8df95fa690c31524a2554822,2024-01-01 16:13:14,pack_99,99,4100,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-01-01 16:13:14,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41090,QbRBlLBe6VS1nySbJhvVgWkit7t2,2024-05-25 22:22:53,pack_299,199,12500,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-05-25 22:22:53,NaN
41091,FJPQMMHNcCeLaCQQ37KU7aawEqN2,2024-05-25 22:47:11,credit,100,4000,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-05-25 22:47:11,NaN
41092,dlyXvn0Jooaqmb8b1b9A3HdstP72,2024-05-25 23:24:56,credit,100,4000,2024-05-26 01:39:02,credit,100.0,4000,2024-05-26 14:30:46,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,0.0,2024-05-26 14:30:46,0.0
41093,mF0FurNcHqQYnG52FPx3fZutSld2,2024-05-25 23:52:11,pack_299,200,12500,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-05-25 23:52:11,NaN
41096,Hi4FvGqsVmWCEMJaVfzq9r93d7p1,2024-05-25 20:05:42,credit,5,200,2024-05-26 00:52:26,pack_99,99.0,4100,2024-05-26 01:52:48,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,0.0,2024-05-26 01:52:48,94.0

In [ ]:
# Export DataFrame to CSV file
csv_file_path = 'df_user_summary_2024_26.csv'
df_user_summary_2024_26.to_csv(csv_file_path, index=False)

In [ ]:
transaction_columns = [col for col in df_user_summary_2024_26.columns if col.startswith('date_')]

df_user_summary_2024_26['transaction_count'] = df_user_summary_2024_26[transaction_columns].notna().sum(axis=1)

<ipython-input-28-617e4905b79d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_user_summary_2024_26['transaction_count'] = df_user_summary_2024_26[transaction_columns].notna().sum(axis=1)

In [ ]:
df_user_summary_2024_26

,user_id,date_1,package_id_1,price_1,point_1,date_2,package_id_2,price_2,point_2,date_3,...,price_97,point_97,date_98,package_id_98,price_98,point_98,days_between_1_2,last_pay_date,price1_2_diff,transaction_count
34177,Uc2c3f2953c8bce372f1bf83caca2a6c2,2024-01-01 02:04:14,credits,6,217,2024-01-01 10:24:51,credit,10.0,400,2024-01-02 16:37:32,...,NaN,NaN,NaT,NaN,NaN,NaN,0.0,2024-01-11 16:51:17,4.0,4
34178,UyUUO3Mp7gQMBooCfXoDxso1ucD2,2024-01-01 03:23:08,credits,3,96,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-01-01 03:23:08,NaN,1
34179,cLjhV8oMIraDsthPVgWBQEtWC7S2,2024-01-01 13:20:39,credit,12,480,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-01-01 13:20:39,NaN,1
34180,xmS22BjDuuN2YIkDiEpj3Q9YsQK2,2024-01-01 08:08:07,credits,4,134,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-01-01 08:08:07,NaN,1
34181,U4a6e9bff8df95fa690c31524a2554822,2024-01-01 16:13:14,pack_99,99,4100,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-01-01 16:13:14,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41090,QbRBlLBe6VS1nySbJhvVgWkit7t2,2024-05-25 22:22:53,pack_299,199,12500,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-05-25 22:22:53,NaN,1
41091,FJPQMMHNcCeLaCQQ37KU7aawEqN2,2024-05-25 22:47:11,credit,100,4000,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-05-25 22:47:11,NaN,1
41092,dlyXvn0Jooaqmb8b1b9A3HdstP72,2024-05-25 23:24:56,credit,100,4000,2024-05-26 01:39:02,credit,100.0,4000,2024-05-26 14:30:46,...,NaN,NaN,NaT,NaN,NaN,NaN,0.0,2024-05-26 14:30:46,0.0,3
41093,mF0FurNcHqQYnG52FPx3fZutSld2,2024-05-25 23:52:11,pack_299,200,12500,NaT,NaN,NaN,NaN,NaT,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2024-05-25 23:52:11,NaN,1
41096,Hi4FvGqsVmWCEMJaVfzq9r93d7p1,2024-05-25 20:05:42,credit,5,200,2024-05-26 00:52:26,pack_99,99.0,4100,2024-05-26 01:52:48,...,NaN,NaN,NaT,NaN,NaN,NaN,0.0,2024-05-26 01:52:48,94.0,3

In [ ]:
df_user_summary_2024_26['transaction_count'].max()

98

In [ ]:
df_user_summary_2024_26['transaction_count'].min()

1

In [ ]:
# กำหนดวันที่ปัจจุบัน
today_date = pd.to_datetime('2024-05-26')

# สร้างคอลัมน์ใหม่ last_pay_date_diff และคำนวณระยะห่างของ last_pay_date กับวันที่กำหนด
df_user_summary_2024['last_pay_date_diff'] = (today_date - df_user_summary_2024['last_pay_date']).dt.days

In [ ]:
# Export DataFrame to CSV file
csv_file_path = 'df_user_manytime_butkeeponly_2times.csv'
df_user_manytime_keeponly_2times.to_csv(csv_file_path, index=False)